Repository apache/sedona, pull requests merged in 2018-11, with the labels that each got.

#295 Check for null in ST_IsValid function #288
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/Functions.scala
  sql/src/test/scala/org/datasyslab/geosparksql/functionTestScala.scala
Labels: geospark-sql

#301 enhance: enhanced ST_Intersection according to the PostGis Tip. solve…
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/Functions.scala
  sql/src/test/scala/org/datasyslab/geosparksql/functionTestScala.scala
Labels: enhancement, geospark-sql

#300 Spatial SQL ST_Touches
  docs/api/sql/GeoSparkSQL-Predicate.md
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/Predicates.scala
  sql/src/main/scala/org/datasyslab/geosparksql/UDF/Catalog.scala
  sql/src/test/scala/org/datasyslab/geosparksql/predicateTestScala.scala
Labels: affect public APIs, enhancement
