Repository apache/sedona, pull requests merged in 2019-11, with the labels that each got.

#396 Fix the geometry col bug in Adapter
  sql/src/main/scala/org/datasyslab/geosparksql/utils/Adapter.scala
  sql/src/test/java/org/datasyslab/geosparksql/adapterTestJava.java
  sql/src/test/scala/org/datasyslab/geosparksql/adapterTestScala.scala
Labels: affect public APIs, geospark-sql

#398 Add topology preserving simplifier
  docs/api/sql/GeoSparkSQL-Function.md
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/Functions.scala
  sql/src/main/scala/org/datasyslab/geosparksql/UDF/Catalog.scala
  sql/src/test/scala/org/datasyslab/geosparksql/functionTestScala.scala
Labels: affect public APIs, enhancement, geospark-sql

#401 Wkb writer
  core/src/main/java/org/datasyslab/geospark/spatialRDD/SpatialRDD.java
  core/src/test/java/org/datasyslab/geospark/spatialRDD/SpatialRDDWriterTest.java
  docs/tutorial/rdd.md
Labels: affect public APIs, enhancement, geospark-core

#402 commit for writing WKT Method.
  core/src/main/java/org/datasyslab/geospark/spatialRDD/SpatialRDD.java
  core/src/test/java/org/datasyslab/geospark/spatialRDD/SpatialRDDWriterTest.java
  docs/tutorial/rdd.md
Labels: affect public APIs, enhancement, geospark-core
