Repository apache/sedona, pull requests merged in 2020-02, with the labels that each got.

#416 added ST_Intersection_aggr
  docs/api/sql/GeoSparkSQL-AggregateFunction.md
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/AggregateFunctions.scala
  sql/src/main/scala/org/datasyslab/geosparksql/UDF/Catalog.scala
  sql/src/test/resources/test_intersection_aggregate.tsv
  sql/src/test/resources/test_intersection_aggregate_no_intersection.tsv
  sql/src/test/scala/org/datasyslab/geosparksql/TestBaseScala.scala
  sql/src/test/scala/org/datasyslab/geosparksql/aggregateFunctionTestScala.scala
Labels: affect public APIs, geospark-sql

#421 Fixed null value in geojson properties
  core/src/main/java/org/datasyslab/geospark/formatMapper/FormatMapper.java
  core/src/test/java/org/datasyslab/geospark/formatMapper/GeoJsonReaderTest.java
  core/src/test/resources/testpolygon-with-null-property-value.json
Labels: bug, geospark-core, resolved

#427 ST_Point and ST_PolygonFromEnvelope grant for double type
  sql/src/main/scala/org/apache/spark/sql/geosparksql/expressions/Constructors.scala
  sql/src/test/scala/org/datasyslab/geosparksql/constructorTestScala.scala
Labels: bug, geospark-sql, resolved
