Repository apache/sedona, pull requests merged in 2021-06, with the labels that each got.

#529 [SEDONA-41]fix RangeFilter when the leftCoveredByRight parameter is f…
  core/src/main/java/org/apache/sedona/core/rangeJudgement/RangeFilter.java
  core/src/test/java/org/apache/sedona/core/rangeJudgement/RangeFilterTest.java
Labels: bug, sedona-core

#530 [SEDONA-50] Removing logging configuration as it causes errors on databricks.
  python/sedona/core/jvm/config.py
Labels: bug, sedona-python

#523 [SEDONA-30] Add raster data support in Sedona SQL
  .gitignore
  binder/ApacheSedonaRaster_1.ipynb
  binder/data/raster/T21HUB_4704_4736_8224_8256.tif
  binder/data/raster/vya_T21HUB_992_1024_4352_4384.tif
  core/src/test/resources/raster/test1.tiff
  core/src/test/resources/raster/test2.tiff
  docs/api/sql/Constructor.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/tutorial/raster.md
  mkdocs.yml
  pom.xml
  python-adapter/.gitignore
  python-adapter/pom.xml
  spark-version-converter.py
  sql/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/GeotiffFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/GeotiffSchema.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/HadoopUtils.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/ImageOptions.scala
  sql/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, improvement, sedona-sql
