Repository apache/sedona, pull requests merged in 2021-09, with the labels that each got.

#543 [SEDONA-63] Skip empty partitions in NestedLoopJudgement
  core/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
Labels: improvement, sedona-core

#541 [SEDONA-31] Rename sparklyr.sedona to apache.sedona
  .github/workflows/r.yml
  .github/workflows/scripts/install_r_deps.sh
  .gitignore
  R/.Rbuildignore
  R/.gitignore
  R/DESCRIPTION
  R/NAMESPACE
  R/R/bounding_box.R
  R/R/data_interface.R
  R/R/dependencies.R
  R/R/imports.R
  R/R/sdf_interface.R
  R/R/spatial_index_op.R
  R/R/spatial_join_op.R
  R/R/spatial_partitioner.R
  R/R/spatial_queries.R
  R/R/spatial_rdd.R
  R/R/viz.R
  R/README.md
  R/docs/choropleth-map.png
  R/tests/testthat.R
  R/tests/testthat/helper-initialize.R
  R/tests/testthat/test-apply-spatial-partitioner.R
  R/tests/testthat/test-bounding-box.R
  R/tests/testthat/test-build-index.R
  R/tests/testthat/test-crs-transform.R
  R/tests/testthat/test-data-interface.R
  R/tests/testthat/test-dbplyr-integration.R
  R/tests/testthat/test-init.R
  R/tests/testthat/test-sdf-interface.R
  R/tests/testthat/test-spatial-join.R
  R/tests/testthat/test-spatial-queries.R
  R/tests/testthat/test-spatial-rdd-aggregation-fns.R
  R/tests/testthat/test-viz.R
  R/vignettes/.gitignore
  R/vignettes/connecting-to-spark.Rmd
  R/vignettes/images/choropleth-map.png
  R/vignettes/intro-to-spatial-rdd.Rmd
  R/vignettes/overview.Rmd
  R/vignettes/spark-dataframes-and-beyond.Rmd
  R/vignettes/viz.Rmd
Labels: affect public APIs, sedona-r

#545 [SEDONA-64] Broadcast dedupParams to improve performance
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
Labels: improvement, sedona-core, sedona-sql

#546 [SEDONA-22] [SEDONA-60] Fix join in Spark SQL when one side has no rows or only one row
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/main/java/org/apache/sedona/core/utils/RDDSampleUtils.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PolygonJoinTest.java
  core/src/test/java/org/apache/sedona/core/utils/RDDSampleUtilsTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: bug, resolved, sedona-core, sedona-sql

#547 [DOCS] Added import on Quick start documentation
  docs/api/sql/Overview.md
Labels: docs

#549 [SEDONA-40] Pattern Match Wrong Ordering in GeometryCollectionSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometryCollectionSimplifier.scala
Labels: bug, resolved, sedona-sql

#548 [DOCS] Prepare the docs for the next Sedona release
  .github/workflows/docs.yml
  R/README.md
  R/generate-docs.R
  R/vignettes/.gitignore
  R/vignettes/connecting-to-spark.Rmd
  R/vignettes/images/choropleth-map.png
  R/vignettes/intro-to-spatial-rdd.Rmd
  R/vignettes/overview.Rmd
  R/vignettes/spark-dataframes-and-beyond.Rmd
  README.md
  docs-overrides/main.html
  docs/api/.gitignore
  docs/api/r-api.md
  docs/download/compile.md
  docs/download/databricks.md
  docs/download/download.md
  docs/download/features.md
  docs/download/install-python.md
  docs/download/install-r.md
  docs/download/install-scala.md
  docs/download/maven-coordinates.md
  docs/download/overview.md
  docs/download/platform.md
  docs/download/project.md
  docs/download/release-notes.md
  docs/download/scalashell.md
  docs/download/zeppelin.md
  docs/image/choropleth-map.png
  docs/image/meituan-bike.png
  docs/image/overlay.html
  docs/index.md
  docs/tutorial/raster.md
  docs/tutorial/rdd-r.md
  docs/tutorial/sql-r.md
  docs/tutorial/viz-gallery.md
  docs/tutorial/viz-r.md
  mkdocs.yml
Labels: docs
