Repository apache/sedona, pull requests merged in 2021-08, with the labels that each got.

#535 use GITHUB_TOKEN to authenticate `remotes::install_github()` web requests
  .github/workflows/r.yml
Labels: bug, resolved

#534 [SEDONA-56] Fix broadcast join with AQE enabled
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  sql/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
Labels: bug, in progress, sedona-sql

#536 [SEDONA-36] Parquet reader & Writers
  core/pom.xml
  core/src/main/java/org/apache/sedona/core/constants/SedonaConstants.java
  core/src/main/java/org/apache/sedona/core/enums/GeometryType.java
  core/src/main/java/org/apache/sedona/core/exceptions/SedonaException.java
  core/src/main/java/org/apache/sedona/core/exceptions/SedonaRuntimeException.java
  core/src/main/java/org/apache/sedona/core/formatMapper/ParquetReader.java
  core/src/main/java/org/apache/sedona/core/formatMapper/RddReader.java
  core/src/main/java/org/apache/sedona/core/formatMapper/parquet/ParquetFormatMapper.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/CircleSchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/CoordinateArraySchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/CoordinateSchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/GenericGeometryCollectionSchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/GenericGeometrySchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/GenericGeometryUnionSchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/PolygonSchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/SedonaParquetFileGeometrySchema.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/schema/SpecificGeometryCollection.java
  core/src/main/java/org/apache/sedona/core/io/GeoFileReader.java
  core/src/main/java/org/apache/sedona/core/io/avro/SchemaUtils.java
  core/src/main/java/org/apache/sedona/core/io/avro/constants/AvroConstants.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/ArraySchema.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/Field.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/RecordSchema.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/Schema.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/SimpleSchema.java
  core/src/main/java/org/apache/sedona/core/io/avro/schema/UnionSchema.java
  core/src/main/java/org/apache/sedona/core/io/avro/utils/AvroUtils.java
  core/src/main/java/org/apache/sedona/core/io/parquet/ParquetFileReader.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/CircleRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/LineStringRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/PointRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/PolygonRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/RectangleRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/main/java/org/apache/sedona/core/utils/SedonaUtils.java
  core/src/test/java/org/apache/sedona/core/TestBase.java
  core/src/test/java/org/apache/sedona/core/formatMapper/parquet/ParquetFormatMapperTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/schema/ArraySchemaTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/schema/BaseSchemaTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/schema/RecordSchemaTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/schema/SimpleSchemaTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/schema/UnionSchemaTest.java
  core/src/test/java/org/apache/sedona/core/io/avro/utils/AvroUtilsTest.java
  core/src/test/java/org/apache/sedona/core/io/parquet/ParquetFileReaderTest.java
  docs/tutorial/rdd.md
  parquet/pom.xml
  pom.xml
Labels: improvement, sedona-core, affect public APIs
