Repository apache/sedona, pull requests merged in 2021-11, with the labels that each got.

#559 [SEDONA-72 ] Fix showcase execution bug
  core/src/main/scala/org/apache/sedona/core/showcase/ScalaExample.scala
Labels: improvement, docs

#557 [SEDONA-67] Support Spark 3.2
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  pom.xml
  python/tests/serialization/test_deserializers.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/UdfRegistrator.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/execution/SedonaSparkPlan.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/RangeJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/UDF/UdfRegistrator.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Colorize.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/ImageEncoder.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Partitioner.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Pixelize.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Render.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/optVizOperatorTest.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/standardVizOperatorTest.scala
Labels: improvement, sedona-sql

#558 [DOCS] Updated Databricks setup documentation
  docs/download/databricks.md
Labels: docs

#561 [SEDONA-67] apply workaround for SPARK-37202; re-enable R builds for Spark 3.2
  .github/workflows/r.yml
  R/tests/testthat/test-crs-transform.R
  R/tests/testthat/test-dbplyr-integration.R
Labels: improvement

#562 [SEDONA-73] Add support for Scala 2.13 build
  .github/workflows/java.yml
  .github/workflows/r.yml
  pom.xml
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/adapters/EnvelopeAdapter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/adapters/PythonConverter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/GeometrySeqToPythonConverter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/utils/PythonAdapterWrapper.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/GeometrySample.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/TestToPythonSerialization.scala
  sql/src/main/scala/org/apache/sedona/sql/SedonaSqlExtensions.scala
  sql/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  sql/src/test/scala/org/apache/sedona/sql/GeometrySample.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/TestStSubDivide.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/SedonaVizExtensions.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/operator/VizPartitioner.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Pixelize.scala
Labels: improvement, sedona-core, sedona-viz, sedona-sql

#564 [Sedona-68] Add St_Collect function.
  docs/api/sql/Function.md
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/collect/TestStCollect.scala
Labels: sedona-sql, affect public APIs
