Repository apache/sedona, pull requests merged in 2021-05, with the labels that each got.

#520 [SEDONA-29] Upgrade to Spark 3.1.1 and fix ST_Pixelize
  .github/workflows/java.yml
  .github/workflows/python.yml
  docs/api/viz/sql.md
  docs/download/overview.md
  docs/tutorial/viz.md
  examples/rdd-colocation-mining/build.sbt
  examples/sql/build.sbt
  examples/viz/build.sbt
  examples/viz/src/main/scala/ScalaExample.scala
  pom.xml
  python-adapter/pom.xml
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Pixelize.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/TestBaseScala.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/optVizOperatorTest.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/standardVizOperatorTest.scala
Labels: affect public APIs, geospark-viz, improvement

#522 [SEDONA-32] Speed up ST_Render
  docs/api/viz/sql.md
  docs/tutorial/viz.md
  viz/src/main/scala/org/apache/sedona/viz/sql/UDF/Catalog.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Render.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/standardVizOperatorTest.scala
Labels: affect public APIs, geospark-viz, improvement

#524 [SEDONA-29] Update the ST_Pixelize usage in the example projects
  examples/viz/src/main/scala/ScalaExample.scala
Labels: improvement

#526 [SEDONA-33] Fix the copyright issue according to ASF policy after the initial release
  DISCLAIMER-WIP
  GeoSpark_logo.png
  LICENSE
  README.md
  core/src/main/java/org/apache/sedona/core/geometryObjects/GeoJSONWriterNew.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  docs-overrides/main.html
  docs-overrides/partials/footer.html
  incubator_logo.png
  licenses/LICENSE-nasa
  licenses/LICENSE-us-census-bureau
  licenses/LICENSE-zeppelin-helium-plugin
  mkdocs.yml
  pom.xml
  sedona_logo.png
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: improvement

#525 [SEDONA-35] address user-data mutability issue with `Adapter.toDF()`
  sql/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
Labels: bug, sedona-core, sedona-sql

#521 [SEDONA-31] R interface for Apache Sedona
  .github/workflows/r.yml
  .github/workflows/scripts/install_r_deps.sh
  .github/workflows/scripts/install_system_deps_for_r_build.sh
  .github/workflows/scripts/prepare_sparklyr_sedona_test_env.sh
  R/sparklyr.sedona/.Rbuildignore
  R/sparklyr.sedona/.gitignore
  R/sparklyr.sedona/DESCRIPTION
  R/sparklyr.sedona/NAMESPACE
  R/sparklyr.sedona/R/bounding_box.R
  R/sparklyr.sedona/R/data_interface.R
  R/sparklyr.sedona/R/dependencies.R
  R/sparklyr.sedona/R/imports.R
  R/sparklyr.sedona/R/sdf_interface.R
  R/sparklyr.sedona/R/spatial_index_op.R
  R/sparklyr.sedona/R/spatial_join_op.R
  R/sparklyr.sedona/R/spatial_partitioner.R
  R/sparklyr.sedona/R/spatial_queries.R
  R/sparklyr.sedona/R/spatial_rdd.R
  R/sparklyr.sedona/R/viz.R
  R/sparklyr.sedona/README.md
  R/sparklyr.sedona/docs/choropleth-map.png
  R/sparklyr.sedona/tests/testthat.R
  R/sparklyr.sedona/tests/testthat/helper-initialize.R
  R/sparklyr.sedona/tests/testthat/test-apply-spatial-partitioner.R
  R/sparklyr.sedona/tests/testthat/test-bounding-box.R
  R/sparklyr.sedona/tests/testthat/test-build-index.R
  R/sparklyr.sedona/tests/testthat/test-crs-transform.R
  R/sparklyr.sedona/tests/testthat/test-data-interface.R
  R/sparklyr.sedona/tests/testthat/test-dbplyr-integration.R
  R/sparklyr.sedona/tests/testthat/test-init.R
  R/sparklyr.sedona/tests/testthat/test-sdf-interface.R
  R/sparklyr.sedona/tests/testthat/test-spatial-join.R
  R/sparklyr.sedona/tests/testthat/test-spatial-queries.R
  R/sparklyr.sedona/tests/testthat/test-spatial-rdd-aggregation-fns.R
  R/sparklyr.sedona/tests/testthat/test-viz.R
  R/sparklyr.sedona/vignettes/.gitignore
  R/sparklyr.sedona/vignettes/connecting-to-spark.Rmd
  R/sparklyr.sedona/vignettes/images/choropleth-map.png
  R/sparklyr.sedona/vignettes/intro-to-spatial-rdd.Rmd
  R/sparklyr.sedona/vignettes/overview.Rmd
  R/sparklyr.sedona/vignettes/spark-dataframes-and-beyond.Rmd
  R/sparklyr.sedona/vignettes/viz.Rmd
  core/src/test/resources/points.json
Labels: affect public APIs, improvement, sedona-r

#528 [Sedona-27] Add ST_Subdivide and ST_SubdivideExplode functions.
  core/src/test/resources/subdivide/subdivide_expected_result.txt
  core/src/test/resources/subdivide/subdivide_input_geometries.txt
  docs/api/sql/Function.md
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CircleSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CoordinatesSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CoordinatesSplitter.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometryCollectionSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometrySimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/LinestringSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/PolygonSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/SimplifyingParameters.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/GeometrySubDivider.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/GeometrySubDividerConfiguration.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/PivotFinder.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/Stack.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/SubdivideExtent.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/ZeroToleranceGeometrySimplifier.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/FunctionsHelper.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/TestGeometrySimplify.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/TestStSubDivide.scala
Labels: affect public APIs, improvement, sedona-sql
