Repository apache/sedona, pull requests merged in 2022-02, with the labels that each got.

#575 [SEDONA-80] Geospatial stream processing support in Flink Table API
  core/src/main/java/org/apache/sedona/core/enums/FileDataSplitter.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementHelper.java
  flink/.gitignore
  flink/pom.xml
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/SedonaFlinkRegistrator.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org.apache.sedona/flink/ConstructorTest.java
  flink/src/test/java/org.apache.sedona/flink/FunctionTest.java
  flink/src/test/java/org.apache.sedona/flink/PredicateTest.java
  flink/src/test/java/org.apache.sedona/flink/TestBase.java
  pom.xml
Labels: improvement, affect public APIs, sedona-flink

#576 [SEDONA-65] Create ST_Difference function
  docs/api/sql/Function.md
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-sql, affect public APIs

#577 [SEDONA-73][FOLLOWUP] Exclude scala-library from scala-collection-compat
  pom.xml
Labels: improvement, sedona-core, sedona-viz, sedona-sql

#578 [SEDONA-4] Handle nulls in SQL functions
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#580 [SEDONA-82] Create symmetrical difference function
  docs/api/sql/Function.md
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-sql, affect public APIs

#584 [SEDONA-82] Fixes in ST_Difference and ST_SymDifference
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#586 [SEDONA-85] Geohash function streaming/pyspark streaming test geospatial sql functions.
  core/src/test/resources/streaming/geometry_example/part-00000-936c6c14-2218-4c80-a179-77f67180b08c-c000.snappy.parquet
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org.apache.sedona/flink/FunctionTest.java
  python/tests/streaming/__init__.py
  python/tests/streaming/spark/__init__.py
  python/tests/streaming/spark/cases_builder.py
  python/tests/streaming/spark/test_constructor_functions.py
Labels: improvement, affect public APIs, sedona-flink
