Repository apache/sedona, pull requests merged in 2022-08, with the labels that each got.

#653 [SEDONA-135] Consolidate and upgrade Hadoop version
  .github/workflows/python.yml
  core/pom.xml
  pom.xml
Labels: improvement, sedona-core, sedona-sql

#647 [SEDONA-132] Move some functions to a common module
  .github/workflows/scripts/prepare_sparklyr_sedona_test_env.sh
  R/tests/testthat/helper-initialize.R
  common/.gitignore
  common/pom.xml
  common/src/.gitignore
  common/src/main/.gitignore
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/BBox.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/GeometryGeoHashEncoder.java
  common/src/main/java/org/apache/sedona/common/utils/PointGeoHashEncoder.java
  core/pom.xml
  core/src/main/java/org/apache/sedona/core/geometryObjects/Circle.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/GeometrySerdeTest.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileRDDTest.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
  core/src/test/java/org/apache/sedona/core/geometryObjects/CircleTest.java
  core/src/test/java/org/apache/sedona/core/spatialRDD/SpatialRDDWriterTest.java
  flink/pom.xml
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  pom.xml
  sql/pom.xml
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geohash/GeoHashDecoder.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geohash/PointGeoHashEncoder.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/geohash/Fixtures.scala
  viz/pom.xml
Labels: improvement, attention needed, in progress

#661 [SEDONA-140] Update Sedona Dependencies in R Package
  R/R/dependencies.R
Labels: improvement

#660 [SEDONA-139] Fix wrong argument order in Flink unit tests
  flink/src/test/java/org/apache/sedona/flink/AdapterTest.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
Labels: improvement

#656 [SEDONA-136] Enable testAsEWKT for Flink
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, sedona-flink

#655 [SEDONA-133] Allow user-defined schemas in Adapter.toDf()
  docs/tutorial/sql.md
  sql/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#659 [DOCS] Arrange items in the API reference in alphabetical order
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/sql/AggregateFunction.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Parameter.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/viz/sql.md
Labels: docs

#657 [SEDONA-137] Fix ST_Buffer for Flink to work
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: bug, resolved, sedona-flink

#658 [SEDONA-138] Fix ST_GeoHash for Flink to work
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: bug, resolved, sedona-flink

#664 [SEDONA-144] Add ST_AsGeoJSON to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#665 [SEDONA-145] Fix ST_AsEWKT to reserve the Z coordinate
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/utils/GeometrySerializer.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, resolved, sedona-sql, affect public APIs

#666 [SEDONA-146] Add missing output funtions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#667 [SEDONA-147] Add SRID funtions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: improvement, affect public APIs, sedona-flink

#670 [DOCS] Document SQL functions not in the API reference
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
Labels: improvement, docs

#669 [SEDONA-149] Add Python 3.10 support
  .github/workflows/python.yml
Labels: improvement, docs

#668 [SEDONA-148] Add boolean functions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/geometryObjects/Circle.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/GeometrySerde.java
  core/src/main/java/org/apache/sedona/core/serde/SedonaKryoRegistrator.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/CircleRDD.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/GeometrySerdeTest.java
  core/src/test/java/org/apache/sedona/core/geometryObjects/CircleTest.java
  core/src/test/java/org/apache/sedona/core/utils/CRSTransformationTest.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/SedonaFlinkRegistrator.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/CircleSerializer.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/PythonGeometrySerializer.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/PythonRDDToJavaConverter.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CircleSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometryCollectionSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometrySimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
Labels: improvement, sedona-core, sedona-sql, affect public APIs, sedona-flink, API breaking change

#671 [SEDONA-150] Drop Spark 2.4 and Scala 2.11 support
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  common/pom.xml
  pom.xml
Labels: improvement, attention needed, sedona-core, sedona-viz, sedona-sql, affect public APIs, sedona-python, sedona-r, API breaking change

#652 [SEDONA-94] GeoParquet Reader Writer
  .github/workflows/java.yml
  core/src/test/resources/geoparquet/example1.parquet
  core/src/test/resources/geoparquet/example2.parquet
  core/src/test/resources/geoparquet/example3.parquet
  docs/tutorial/sql.md
  sql/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoDataSourceUtils.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoDateTimeUtils.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFilters.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetOptions.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRecordMaterializer.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetUtils.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoSchemaMergeUtils.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeometryField.scala
  sql/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, sedona-sql, affect public APIs

#673 [SEDONA-152] Add reader/writer functions for GML and KML
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#674 [SEDONA-154] Add measurement functions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#675 [SEDONA-153] Add None guards to GeometryType
  python/sedona/sql/types.py
  python/tests/serialization/test_deserializers.py
  python/tests/serialization/test_serializers.py
Labels: improvement, sedona-python

#676 [DOCS] Fix the copyright issues
  DISCLAIMER
  DISCLAIMER-WIP
  NOTICE
  binder/ApacheSedonaCore.ipynb
  binder/ApacheSedonaRaster.ipynb
  binder/ApacheSedonaSQL.ipynb
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  binder/contrib/ApacheSedonaImageFilter.ipynb
  binder/contrib/DownloadImageFromGEE.ipynb
  binder/contrib/NdviSentinelApacheSedona.ipynb
  binder/contrib/PostgresqlConnectionApacheSedona.ipynb
  binder/contrib/VectorAnalisisApacheSedona.ipynb
Labels: docs
