Repository apache/sedona, pull requests merged in 2022-11, with the labels that each got.

#707 [SEDONA-188] Python warns about missing `jars` even when some are found
  python/sedona/core/jvm/config.py
Labels: improvement, affect public APIs, sedona-python

#708 [SEDONA-189] Prepare geometries in broadcast join
  core/src/main/java/org/apache/sedona/core/spatialOperator/SpatialPredicateEvaluators.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
Labels: improvement, sedona-sql

#706 [SEDONA-186] Fix ordering of columns in results of queries like SELECT * A JOIN B
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/RangeJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
  sql/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
Labels: bug, resolved, sedona-sql

#709 [SEDONA-190] Prepare Sedona for 1.3.0 release
  README.md
  docs-overrides/main.html
  docs/community/contact.md
  docs/community/publish.md
  docs/setup/compile.md
  docs/setup/maven-coordinates.md
  docs/setup/release-notes.md
  flink/pom.xml
  mkdocs.yml
  sql/pom.xml
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions_udaf/AggregateFunctions.scala
  viz/pom.xml
Labels: improvement, docs

#712 [SEDONA-192] Null handling in predicates
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
Labels: improvement, sedona-sql

#713 [SEDONA-193] Regression in ST_AsBinary
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, resolved, sedona-sql

#714 [SEDONA-195] Add wkt validation and an optional srid to ST_GeomFromWKT/ST_GeomFromText
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#716 [SEDONA-179] Claim OGC compliance.
  sql/src/test/scala/org/apache/sedona/sql/ogc/GeometryTypesAndFunctionsTestScala.scala
Labels: improvement

#717 [SEDONA-197] Added ST_ZMax and ST_ZMin to Apache Sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#711 [SEDONA-191] Support join types other than inner in BroadcastIndexJoinExec
  docs/api/sql/Optimizer.md
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
Labels: improvement, sedona-sql
