Repository apache/sedona, pull requests merged in 2022-12, with the labels that each got.

#722 [SEDONA-208] Use Spark RuntimeConfig in SedonaConf
  core/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  core/src/test/java/org/apache/sedona/core/utils/SedonaConfTest.java
  docs/api/sql/Parameter.md
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-core, sedona-sql, affect public APIs

#720 [SEDONA-199] Added ST_NDims to Apache Sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-core, sedona-sql, affect public APIs, sedona-python, sedona-flink

#718 [SEDONA-201] add ST_MPolyFromText and ST_MLineFromText methods
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/flink/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#723 [SEDONA-210] Package scala-collection-compat dependency to sql module
  pom.xml
  sql/pom.xml
Labels: bug, sedona-core, sedona-viz, sedona-sql, sedona-python, sedona-r, sedona-flink, sedona-common

#724 [SEDONA-211] Enforce release managers to use JDK 8
  core/pom.xml
  docs/community/release-manager.md
  examples/rdd-colocation-mining/build.sbt
  examples/sql/build.sbt
  examples/sql/src/main/scala/ScalaExample.scala
  examples/viz/build.sbt
  flink/pom.xml
  pom.xml
  viz/pom.xml
  viz/src/main/java/org/apache/sedona/viz/core/BigBufferedImage.java
Labels: bug, resolved, sedona-core

#725 [SEDONA-211] Use CI to ensure source code work for both JDK 8 and 11
  .github/workflows/java.yml
Labels: improvement, resolved

#727 [SEDONA-206] Performance regression of ST_Transform
  common/src/main/java/org/apache/sedona/common/Functions.java
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, resolved, sedona-sql, sedona-flink, sedona-common

#728 [SEDONA-194] Merge org.datasyslab.sernetcdf into Sedona
  core/src/main/java/org/apache/sedona/core/formatMapper/EarthdataHDFPointMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/netcdfParser/HDFSRandomAccessFile.java
  core/src/main/java/org/apache/sedona/core/formatMapper/netcdfParser/SerNetCDFUtils.java
  core/src/test/java/org/apache/sedona/core/formatMapper/testSerNetCDF.java
  docs/setup/maven-coordinates.md
  pom.xml
  viz/pom.xml
Labels: improvement

#729 [SEDONA-216] Upgrade jts version to 1.19.0
  pom.xml
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-common

#732 [DOCS] Fix failed Python CI caused by the release of Shapely 2.0
  python/Pipfile
Labels: improvement

#731 [DOCS] remove DBI call in test-spatial-queries.R
  R/tests/testthat/test-spatial-queries.R
Labels: improvement

#730 [SEDONA-217] Automatically broadcast small datasets.
  core/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  core/src/test/java/org/apache/sedona/core/utils/SedonaConfTest.java
  docs/api/sql/Parameter.md
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: improvement, behavior change

#733 [SEDONA-218] Fix a flaky test caused by improper handling of null struct values in `Adapter.toDf`
  sql/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
Labels: bug, resolved, sedona-sql

#734 [SEDONA-205] Use BinaryType in GeometryUDT in Sedona Spark.
  python/sedona/sql/types.py
  sql/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  sql/src/main/scala/org/apache/sedona/sql/utils/GeometrySerializer.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/GeometryUDT.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_CollectionExtract.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/GeotiffFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Pixelize.scala
Labels: improvement, sedona-sql

#737 [SEDONA-215] Add ST_ConcaveHull
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#738 [DOCS] Add the news about Sedona 1.3.1-incubating and fix a bunch of typos
  .github/workflows/docs.yml
  docs-overrides/main.html
  docs/community/publish.md
  docs/download.md
  docs/index.md
  docs/setup/maven-coordinates.md
  mkdocs.yml
Labels: docs

#739 [SEDONA-207] Implemented a new geometry serde for supporting Z/M dimensions and better performance
  common/src/main/java/org/apache/sedona/common/geometrySerde/ByteBufferGeometryBuffer.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/CoordinateType.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometryBuffer.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometryBufferFactory.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerializer.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/UnsafeGeometryBuffer.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/GeometryBufferTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/GeometryCollectionSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/LineStringSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiLineStringSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiPointSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiPolygonSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/PointSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/PolygonSerdeTest.java
  core/src/main/java/org/apache/sedona/core/geometryObjects/GeometrySerde.java
  python/sedona/sql/types.py
  python/sedona/utils/geometry_serde.py
  python/tests/serialization/test_deserializers.py
  python/tests/utils/test_geometry_serde.py
  sql/src/main/scala/org/apache/sedona/sql/utils/GeometrySerializer.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoDataSourceUtils.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
Labels: improvement, attention needed, sedona-core, sedona-viz, sedona-sql, sedona-python, sedona-r, sedona-flink

#740 [SEDONA-226] Support reading and writing GeoParquet file metadata
  core/src/test/resources/geoparquet/example-1.0.0-beta.1.parquet
  core/src/test/resources/geoparquet/plain.parquet
  docs/tutorial/sql.md
  python/Pipfile
  python/tests/sql/test_geoparquet.py
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetMetaData.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetOptions.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeometryField.scala
  sql/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: bug, improvement, resolved, sedona-sql, affect public APIs, sedona-python
