Repository apache/sedona, pull requests merged in 2022-09, with the labels that each got.

#677 [SEDONA-157] Add coordinate accessors to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#678 [SEDONA-158] Fix wrong description about ST_GeometryN in the API docs
  docs/api/sql/Function.md
Labels: docs

#679 [SEDONA-159] Add Nth accessor functions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: sedona-sql, affect public APIs, sedona-flink

#680 [SEDONA-160] Fix geoparquetIOTests.scala to cleanup after test
  sql/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, sedona-sql

#681 [SEDONA-161] Add ST_Boundary to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: sedona-sql, affect public APIs, sedona-flink

#682 [SEDONA-162] Add ST_Envelope to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: sedona-sql, affect public APIs, sedona-flink

#683 [SEDONA-163] Better handle of unsupported types in shapefile reader
  LICENSE
  core/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/ShapeType.java
  core/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/TypeUnknownException.java
  core/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/CombineShapeReader.java
  core/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShpRecord.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
  core/src/test/resources/shapefiles/unsupported/UrbAdm3D_142166_Bu_Ground.dbf
  core/src/test/resources/shapefiles/unsupported/UrbAdm3D_142166_Bu_Ground.prj
  core/src/test/resources/shapefiles/unsupported/UrbAdm3D_142166_Bu_Ground.shp
  core/src/test/resources/shapefiles/unsupported/UrbAdm3D_142166_Bu_Ground.shx
Labels: improvement, sedona-core

#684 [SEDONA-164] Add geometry count functions to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
Labels: sedona-sql, affect public APIs, sedona-flink

#685 [SEDONA-165] Upgrade Apache Rat to 0.14
  docs/community/publish.md
  pom.xml
Labels: improvement

#687 [DOCS] Fix Sedona website to be compliant with ASF requirement
  docs-overrides/partials/footer.html
  docs/asf/asf.md
  docs/asf/disclaimer.md
  docs/community/contributor.md
  docs/download.md
  docs/setup/compile.md
  mkdocs.yml
Labels: docs

#689 [DOCS] Make the website compliant with the ASF requirement
  docs-overrides/main.html
  docs-overrides/partials/footer.html
  docs/community/contributor.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs

#690 [DOCS] remove DBI as a R dependency
  R/DESCRIPTION
  R/R/spatial_queries.R
Labels: docs

#688 [SEDONA-168] Add ST_Normalize to Apache Sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-core, sedona-sql, affect public APIs, sedona-flink

#691 [SEDONA-169] Fix ST_RemovePoint in accordance with the API document
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#692 [SEDONA-170] Add ST_AddPoint and ST_RemovePoint to the Flink API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: sedona-sql, affect public APIs, sedona-flink, sedona-common
