Repository apache/sedona, pull requests merged in 2022-06, with the labels that each got.

#629 [SEDONA-124] Add ST_CollectionExtract to Apache Sedona
  docs/api/sql/Function.md
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_CollectionExtract.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#630 [SEDONA-121] constructors from spark2flink
  docs/api/flink/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
Labels: improvement, affect public APIs, sedona-flink

#631 [SEDONA-127] Add null safety to ST_GeomFromWKT/WKB/Text
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#636 [SEDONA-129] Bump spark to 3.3.0
  .github/workflows/java.yml
  .github/workflows/python.yml
  pom.xml
  python/sedona/utils/adapter.py
  python/sedona/utils/spatial_rdd_parser.py
Labels: improvement, affect public APIs, API breaking change

#637 [SEDONA-123] Fix check for invalid latitude/longitude values in ST_GeoHash
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geohash/GeometryGeoHashEncoder.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/geohash/TestStGeoHash.scala
Labels: bug, resolved, sedona-sql
