Repository apache/sedona, pull requests merged in 2022-03, with the labels that each got.

#587 [SEDONA-86] Support empty geometries in ST_AsBinary and ST_AsEWKB
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql

#588 [SEDONA-87] Support Flink Table and DataStream conversion
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org.apache.sedona/flink/AdapterTest.java
  flink/src/test/java/org.apache.sedona/flink/FunctionTest.java
  flink/src/test/java/org.apache.sedona/flink/TestBase.java
Labels: affect public APIs, sedona-flink

#589 [DOCS] Add Flink tutorial and prepare docs for the next release
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/flink/Overview.md
  docs/api/flink/Predicate.md
  docs/setup/flink/install-scala.md
  docs/setup/flink/modules.md
  docs/setup/flink/platform.md
  docs/setup/maven-coordinates.md
  docs/setup/modules.md
  docs/setup/overview.md
  docs/setup/platform.md
  docs/setup/release-notes.md
  docs/tutorial/flink/sql.md
  mkdocs.yml
Labels: docs

#590 [SEDONA-89] GeometryUDT equals should test equivalence of the other object
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/GeometryUDT.scala
Labels: bug, resolved, sedona-sql

#592 [SEDONA-90] Create ST_Union function
  docs/api/sql/Function.md
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#593 [SEDONA-93] Add ST_GeomFromGeoJSON to flink API
  docs/api/flink/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
Labels: improvement, affect public APIs, sedona-flink
