Repository apache/sedona, pull requests merged in 2022-10, with the labels that each got.

#693 [SEDONA-166] Support type-safe dataframe style API
  .gitignore
  docs/tutorial/sql-python.md
  docs/tutorial/sql.md
  python/sedona/register/java_libs.py
  python/sedona/sql/dataframe_api.py
  python/sedona/sql/st_aggregates.py
  python/sedona/sql/st_constructors.py
  python/sedona/sql/st_functions.py
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/DataFrameAPI.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_aggregates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_predicates.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink

#695 [SEDONA-172] Add ST_LineFromMultiPoint Function to SEDONA SQL API
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-sql, affect public APIs, sedona-flink, sedona-common

#694 [SEDONA-171] Add ST_SetPoint to Apache Sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#698 [SEDONA-176] Make ST_Contains conform with OGC standard, and add ST_Covers and ST_CoveredBy functions.
  docs/api/flink/Predicate.md
  docs/api/sql/Predicate.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#686 [SEDONA-125]Allows customized CRS in ST_Transform
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-core, sedona-sql, affect public APIs, sedona-flink, sedona-common

#700 [SEDONA-177] Extend RDD API for RangeQuery JoinQuery to support spatial predicates other than coveredBy and intersects.
  core/src/main/java/org/apache/sedona/core/joinJudgement/DynamicIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JoinConditionMatcher.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementHelper.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/LeftIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/RightIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/rangeJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/rangeJudgement/RangeFilter.java
  core/src/main/java/org/apache/sedona/core/rangeJudgement/RangeFilterUsingIndex.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/RangeQuery.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/SpatialPredicate.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/SpatialPredicateEvaluators.java
  core/src/main/scala/org/apache/sedona/core/showcase/ScalaEarthdataMapperRunnableExample.scala
  core/src/main/scala/org/apache/sedona/core/showcase/ScalaExample.scala
  core/src/test/java/org/apache/sedona/core/spatialOperator/JoinQueryTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/RangeQueryTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/SpatialQueryTestBase.java
  core/src/test/resources/spatial-join-query-window.tsv
  core/src/test/resources/spatial-predicates-test-data.tsv
  core/src/test/scala/org/apache/sedona/core/scalaTest.scala
  docs/tutorial/rdd.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  python/tests/sql/test_predicate_join.py
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/RangeJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
  sql/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
  sql/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: bug, resolved, sedona-core, sedona-sql, affect public APIs

#701 [SEDONA-178] Correctness issue in distance joins
  docs/tutorial/core-python.md
  docs/tutorial/rdd.md
  pom.xml
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  sql/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: bug, resolved, sedona-sql, affect public APIs

#702 [SEDONA-181] Bump scalatest-maven-plugin to make it respect JAVA_HOME
  pom.xml
Labels: bug, improvement

#703 [SEDONA-182] ST_AsText should not return SRID
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, resolved, sedona-sql, sedona-flink, sedona-common

#705 [SEDONA-183] Python version check fails when Sedona JAR is distributed by YARN
  python/sedona/core/jvm/config.py
  python/tests/core/test_config.py
Labels: bug, resolved, sedona-python

#704 [SEDONA-180] Make ST_* expressions foldable and declares input types for type checking
  common/src/main/java/org/apache/sedona/common/Functions.java
  python/tests/sql/test_dataframe_api.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/sedona/sql/UDF/UdfRegistrator.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/DataFrameAPI.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, attention needed, sedona-sql, sedona-common
