Repository apache/sedona, pull requests merged in 2022-04, with the labels that each got.

#595 [SEDONA-100] Add st_multi function
  docs/api/sql/Function.md
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#596 [SEDONA-96] Refactor ST_MakeValid to use GeometryFixer.
  docs/api/sql/Function.md
  pom.xml
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, attention needed, sedona-sql, affect public APIs

#605 [SEDONA-107] Add St_Reverse function
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#606 [SEDONA-105] Add ST_PointOnSurface function
  core/src/main/java/org/apache/sedona/core/utils/GeomUtils.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#610 [SEDONA 95] Add ST_Disjoint predicate
  docs/api/flink/Predicate.md
  docs/api/sql/Predicate.md
  docs/archive/api/sql/GeoSparkSQL-Predicate.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#613 [SEDONA-112] Add ST_AsEWKT
  core/src/main/java/org/apache/sedona/core/utils/GeomUtils.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#608 [SEDONA-106] add st line from text
  docs/api/sql/Constructor.md
  python/tests/sql/test_constructor_test.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#612 [SEDONA-108] Write Support for GeoTiff Raster Images
  docs/api/sql/Raster-loader.md
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/GeotiffFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/GeotiffSchema.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/ImageReadOptions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/io/ImageWriteOptions.scala
  sql/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: improvement, sedona-sql, affect public APIs

#614 [SEDONA-117] RS_AppendNormalizedDifference Implemented and Raster Notebook Updated
  binder/ApacheSedonaRaster.ipynb
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, API breaking change

#618 [SEDONA-97] Add ST_Force_2D function to Apache Sedona
  core/src/main/java/org/apache/sedona/core/utils/GeomUtils.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#619 [SEDONA-98] Added ST_IsEmpty function
  core/src/main/java/org/apache/sedona/core/utils/GeomUtils.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#620 [SEDONA-116] Add ST_YMax and ST_YMin function
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#622 [SEDONA-115] Add ST_XMax and ST_XMin function
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#621 [SEDONA-113] Add ST_PointN to Apache Sedona
  core/src/main/java/org/apache/sedona/core/utils/GeomUtils.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink

#623 [SEDONA-118] Using the within function of JTS for ST_Within
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
Labels: bug, resolved, sedona-sql

#625 [SEDONA-110] Add STGeomFromGeohash to Flink API
  docs/api/flink/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
Labels: improvement, affect public APIs, sedona-flink
