Repository apache/sedona, pull requests merged in 2023-07, with the labels that each got.

#879 [SEDONA-315] Add optimized join support for ST_FrechetDistance
  docs/api/sql/Optimizer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-sql

#881 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 1
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, affect public APIs, sedona-flink

#877 [SEDONA-298] Implement ST_ClosestPoint
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#882 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 2
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, affect public APIs, sedona-flink

#884 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 3
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, affect public APIs, sedona-flink

#885 [SEDONA-317] Use KeplerGL for visualization
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  binder/utilities.py
Labels: docs

#892 [SEDONA-318] Switch raster serde to a deep copy implementation
  common/src/main/java/org/apache/sedona/common/raster/DeepCopiedRenderedImage.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
  common/src/test/java/org/apache/sedona/common/raster/SerdeTest.java
Labels: bug, resolved, sedona-sql, sedona-common

#890 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 5
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, affect public APIs, sedona-flink

#893 [SEDONA-321] Implement RS_Intersects(rast, geom)
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/test/java/org/apache/sedona/common/raster/RasterPredicatesTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#894 [SEDONA-322] Fix unstable maven build on GitHub Actions
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
Labels: improvement

#887 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 4
  R/R/dependencies.R
  R/tests/testthat/test-dbplyr-integration.R
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-flink, API breaking change

#891 [SEDONA-317] Add KeplerGL to pipfile
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  binder/Pipfile
Labels: docs

#889 [SEDONA-200] Add ST_CoordDim to Sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-common

#899 [SEDONA-319] Make result of RS_BandAsArray serializable
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, resolved, sedona-sql, sedona-common

#896 [SEDONA-303] Port all Sedona Spark functions to Sedona Flink -- Step 7
  docs/api/flink/Constructor.md
  docs/api/flink/Predicate.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
Labels: improvement, affect public APIs, sedona-flink

#903 [SEDONA-325] Fix resource leaks in raster constructors RS_FromGeoTiff and RS_FromArcInfoAsciiGrid
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/inputstream/ByteArrayImageInputStream.java
Labels: bug, resolved, sedona-sql

#902 [SEDONA-303] Port all Sedona Spark function to Sedona Flink -- ST_Collect
  docs/api/flink/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: improvement, affect public APIs, sedona-flink

#904 [SEDONA-313] Remove redundant ST_Affine entry from the Spark SQL catalog
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
Labels: bug, sedona-sql

#906 [SEDONA-318] Avoid creating an unnecessary copy of raster data when serializing rasters backed by BufferedImage
  common/src/main/java/org/apache/sedona/common/raster/DeepCopiedRenderedImage.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
Labels: improvement, sedona-sql, sedona-common

#905 [SEDONA-303] Port all Sedona Spark function to Sedona Flink -- ST_Intersection_Aggr
  docs/api/flink/Aggregator.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Aggregators.java
  flink/src/test/java/org/apache/sedona/flink/AggregatorTest.java
Labels: improvement, affect public APIs, sedona-flink

#898 [SEDONA-323] Add keplergl wrapper
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  docs/image/sedona_customization.gif
  docs/tutorial/sql.md
  python/Pipfile
  python/sedona/maps/SedonaKepler.py
  python/sedona/maps/__init__.py
  python/sedona/spark/__init__.py
  python/tests/maps/__init__.py
  python/tests/maps/test_sedonakepler_visualization.py
Labels: improvement, affect public APIs, sedona-python

#901 [SEDONA-324] R fix tests
  R/.Rbuildignore
  R/tests/testthat/test-dbplyr-integration.R
Labels: improvement

#909 [SEDONA-327] Refactored raster UDFs to extend InferredExpression
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  python-adapter/pom.xml
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  viz/pom.xml
Labels: improvement, sedona-sql

#910 [SEDONA-293] Implement ST_IsCollection
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#913 [SEDONA-328] Add SedonaPyDeck | [SEDONA-329] Remove geometry_col from SedonaKepler APIs
  LICENSE
  core/src/test/resources/813_buildings_test.csv
  core/src/test/resources/Chicago_Crimes.csv
  docs/tutorial/sql.md
  licenses/LICENSE-Chicago-Crimes
  python/Pipfile
  python/sedona/maps/SedonaKepler.py
  python/sedona/maps/SedonaMapUtils.py
  python/sedona/maps/SedonaPyDeck.py
  python/sedona/spark/__init__.py
  python/tests/__init__.py
  python/tests/maps/test_sedonakepler_visualization.py
  python/tests/maps/test_sedonapydeck.py
Labels: improvement, affect public APIs, sedona-python

#916 [DOCS] Add example outputs to all Sedona functions
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#919 [DOCS] Add example outputs to all Sedona functions - 3
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#920 [DOCS] Add example outputs to all Sedona functions - 4
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#921 [DOCS] Add example outputs to all Sedona functions - 5
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#923 [DOCS] Add example outputs to all Sedona functions - 6
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#922 [SEDONA-330] Fix SedonaPyDeck bugs
  python/sedona/maps/SedonaMapUtils.py
  python/sedona/maps/SedonaPyDeck.py
  python/tests/maps/test_sedonapydeck.py
Labels: bug, resolved, sedona-python

#924 [DOCS] Add example outputs to all Sedona functions - 7
  docs/api/flink/Constructor.md
  docs/api/sql/Constructor.md
Labels: docs

#925 [DOCS] Add example outputs to all Sedona functions - 8
  docs/api/flink/Predicate.md
  docs/api/sql/Predicate.md
Labels: docs

#927 [DOCS] Add example outputs to all Sedona functions - 9
  docs/api/flink/Aggregator.md
  docs/api/sql/AggregateFunction.md
Labels: docs

#931 [SEDONA-332] Make RS_Values only fetch relevant tiles, instead of fetching the entire raster
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
Labels: improvement, sedona-sql, sedona-common

#930 [DOCS] Add example outputs to all Sedona functions - 10
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#932 [SEDONA-334] Add RS_ScaleX and RS_ScaleY
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common
