Repository apache/sedona, pull requests merged in 2023-06, with the labels that each got.

#850 [SEDONA-291] Python test cases failing due to exact equality comparisons between floats
  python/sedona/core/geom/envelope.py
  python/tests/streaming/spark/test_constructor_functions.py
Labels: improvement, sedona-python

#851 [SEDONA-290] RDD Spatial Joins should follow the iterator model
  core/src/main/java/org/apache/sedona/core/joinJudgement/DynamicIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/LeftIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/RightIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
Labels: improvement, sedona-core

#852 [DOCS] Compilation process updates
  docs/setup/compile.md
  mkdocs.yml
Labels: docs

#853 [SEDONA-239] Implement ST_NumPoints
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#856 [SEDONA-196] Add ST_Force3D
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs

#858 [DOCS] Update to community/develop
  docs/community/develop.md
Labels: docs

#859 [DOCS] Update README.md
  README.md
Labels: docs

#857 [SEDONA-292] Bridge Sedona Raster and Map Algebra operators
  common/src/main/java/org/apache/sedona/common/raster/Constructors.java
  common/src/main/java/org/apache/sedona/common/raster/Functions.java
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
  common/src/test/java/org/apache/sedona/common/raster/ConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/SerdeTest.java
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-writer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  sql/common/src/test/scala/org/apache/sedona/sql/serdeAwareTest.scala
Labels: improvement, attention needed, sedona-sql, affect public APIs, behavior change

#862 [SEDONA-302] Add ST_Translate | [SEDONA-196] Update tests for ST_Force3D
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#864 [SEDONA-306] Prepare release 1.4.1
  R/DESCRIPTION
  R/R/dependencies.R
  core/pom.xml
  docs/community/publish.md
  docs/community/snapshot.md
  docs/setup/release-notes.md
  flink/pom.xml
  mkdocs.yml
  pom.xml
  python/sedona/version.py
  sql/pom.xml
  sql/spark-3.0/pom.xml
  sql/spark-3.4/pom.xml
  viz/pom.xml
  zeppelin/package.json
Labels: improvement

#863 [SEDONA-213] Add ST_BoundingDiagonal
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#868 [SEDONA-300] Add ST_HausdorffDistance
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#867 [SEDONA-237] Add ST_Dimension
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#871 [SEDONA-311] Refactor `Inferred*Expression` base class for Sedona SQL
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/FoldableExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferrableFunctionConverter.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
Labels: improvement, sedona-sql

#872 [SEDONA-311] Fix conflict with ST_Dimension (20e0de4)
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: bug, sedona-sql

#866 [SEDONA-301] Add ST_Affine
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#869 [SEDONA-299] Add ST_FrechetDistance
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#874 [SEDONA-311] Support overloaded functions in InferredExpression
  common/src/main/java/org/apache/sedona/common/Functions.java
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
Labels: improvement, sedona-sql

#873 [SEDONA-238] Implement OGC GeometryType
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-common

#875 [SEDONA-313] Refactor ST_Affine
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, sedona-python, sedona-common

#870 [SEDONA-294 | SEDONA-310] Add ST_Angle and ST_Degrees to sedona
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-common

#878 [SEDONA-314] Support optimized join on ST_HausdorffDistance
  docs/api/sql/Optimizer.md
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-sql
