Repository apache/sedona, pull requests merged in 2023-03, with the labels that each got.

#781 [SEDONA-255] R – Translation issue for ST_Point and ST_PolygonFromEnvelope
  R/R/dependencies.R
Labels: bug, resolved, sedona-r

#783 [SEDONA-250][SEDONA-253] R - Update dependencies + drop 2.4
  .github/workflows/scripts/prepare_sparklyr_sedona_test_env.sh
  R/R/dependencies.R
  R/apache.sedona.Rproj
  R/tests/testthat/helper-initialize.R
Labels: improvement, sedona-r

#785 [SEDONA-254] R – Add tests for RasterUDT
  R/tests/testthat/test-data-interface-raster.R
Labels: improvement, sedona-r

#786 [SEDONA-256] R GitHub workflow update
  .github/workflows/r.yml
Labels: docs, sedona-r

#787 [SEDONA-229] Remove Duplicate String Check
  scalastyle_config.xml
Labels: improvement, sedona-sql

#788 [SEDONA-229] Fix Flink Return Tags
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
Labels: improvement, sedona-flink

#790 [DOCS] Upgrade GitHub Action to Ubuntu 22.04
  .github/workflows/docs.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  python/tests/utils/test_crs_transformation.py
Labels: improvement, docs, github-actions

#789 [SEDONA-229] Fix Linter Messages in Python Adapter
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/SerializationException.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/adapters/JoinParamsAdapter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/adapters/PythonConverter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/PythonGeometrySerializer.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/SparkUtil.scala
  scalastyle_config.xml
Labels: improvement, sedona-sql

#791 [SEDONA-229] Fix Linter Issues in Viz
  viz/src/main/scala/org/apache/sedona/viz/showcase/ScalaExample.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/UDF/Catalog.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/UDF/UdfRegistrator.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/operator/AggregateWithinPartitons.scala
  viz/src/main/scala/org/apache/sedona/viz/sql/operator/VizPartitioner.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Colorize.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/ImageEncoder.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Partitioner.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Pixelize.scala
  viz/src/main/scala/org/apache/spark/sql/sedona_viz/expressions/Render.scala
  viz/src/test/scala/org/apache/sedona/viz/rdd/scalaTest.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/optVizOperatorTest.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/standardVizOperatorTest.scala
Labels: improvement, sedona-viz

#793 [SEDONA-258] Fix deserialization of Circle objects in python-adapter
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/GeometryRddConverter.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/PythonGeometrySerializer.scala
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/translation/PythonRDDToJavaConverter.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/GeometrySample.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/TestToPythonSerialization.scala
  python/tests/test_assign_raw_spatial_rdd.py
Labels: bug, improvement, sedona-python

#794 [SEDONA-259] Properly implement Adapter.toSpatialRdd to support custom field names for user data
  python-adapter/src/main/scala/org.apache.sedona.python.wrapper/utils/PythonAdapterWrapper.scala
  python/sedona/utils/adapter.py
  python/tests/sql/test_adapter.py
Labels: bug, resolved, sedona-python

#796 [SEDONA-261] Allow distance expression in distance join to reference attributes from the right-side relation when running broadcast join.
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
Labels: bug, resolved, sedona-sql

#797 [SEDONA-262] Don't optimize equi-join by default, add an option to configure when to optimize spatial joins
  core/src/main/java/org/apache/sedona/core/enums/SpatialJoinOptimizationMode.java
  core/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  docs/api/sql/Parameter.md
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/ExpressionUtils.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
Labels: improvement, sedona-sql, affect public APIs, behavior change

#792 [SEDONA-231] Redundant Serde Elimination
  .gitignore
  common/src/main/java/org/apache/sedona/common/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  pom.xml
  sql/pom.xml
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/GeometryUDT.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/SerdeAware.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  sql/src/test/scala/org/apache/sedona/sql/serdeAwareTest.scala
Labels: sedona-sql, affect public APIs, sedona-flink, behavior change

#799 [DOCS] Update the docs for 1.4.0 release
  LICENSE
  README.md
  common/src/main/java/org/apache/sedona/common/utils/S2Utils.java
  docs/api/r-api.md
  docs/api/sql/DataFrameAPI.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-writer.md
  docs/community/contact.md
  docs/community/publish.md
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/setup/flink/platform.md
  docs/setup/install-python.md
  docs/setup/install-r.md
  docs/setup/install-scala.md
  docs/setup/maven-coordinates.md
  docs/setup/release-notes.md
  docs/tutorial/core-python.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/jupyter-notebook.md
  docs/tutorial/python-vector-osm.md
  docs/tutorial/raster.md
  docs/tutorial/rdd-r.md
  docs/tutorial/rdd.md
  docs/tutorial/sql-pure-sql.md
  docs/tutorial/sql-python.md
  docs/tutorial/sql-r.md
  docs/tutorial/sql.md
  docs/tutorial/viz-r.md
  licenses/LICENSE-pygeos
  mkdocs.yml
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/RasterUDT.scala
Labels: docs

#801 [SEDONA-264] zeppelin helium plugin supports drawing geometry like linestring, polygon
  zeppelin/index.js
Labels: improvement, sedona-zeppelin

#803 [DOCS] Fix to v1.4.0 release docs
  docs/setup/release-notes.md
  docs/tutorial/geopandas-shapely.md
Labels: docs

#804 [DOCS] Fix GeoPandas version in notebooks
  binder/ApacheSedonaSQL.ipynb
  binder/Pipfile
Labels: docs

#806 [SEDONA-267] Fix missing header files in the python sdist package
  .github/workflows/python-extension.yml
  python/MANIFEST.in
Labels: bug, improvement, resolved, sedona-python

#808 [SEDONA-227] Enable building python wheels for ARM64
  .github/workflows/python-wheel.yml
Labels: bug, resolved, affect public APIs, github-actions

#810 [SEDONA-270] Remove redundant serialization for rasters
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/implicits.scala
  sql/src/test/scala/org/apache/sedona/sql/serdeAwareTest.scala
Labels: improvement, sedona-sql
