Repository apache/sedona, pull requests merged in 2023-11, with the labels that each got.

#1056 [DOCS] Update binder notebook examples
  binder/ApacheSedonaCore.ipynb
  binder/ApacheSedonaRaster.ipynb
  binder/ApacheSedonaSQL.ipynb
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  binder/Pipfile
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
  binder/data/raster/test1.tiff
  binder/data/raster/test5.tiff
  binder/postBuild
  binder/start
Labels: docs

#1066 [SEDONA-413] Add buffer parameters to ST_Buffer
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  docs/image/linestring-left-side.png
  docs/image/linestring-og.png
  docs/image/point-buffer-quad-2.png
  docs/image/point-buffer-quad-8.png
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, affect public APIs, sedona-flink, sedona-common, sedona-spark

#1069 [SEDONA-415] Add optional parameter to ST_Transform
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/FunctionsGeoTools.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-spark

#1072 [SEDONA-418] Update Sedona docker image to 1.5.0
  docker/sedona-spark-jupyterlab/requirements.txt
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
Labels: improvement, sedona-docker

#1074 [SEDONA-419] Remove SedonaKepler and SedonaPyDeck from `sedona.spark import *`
  python/sedona/spark/__init__.py
Labels: bug, affect public APIs, API breaking change

#1075 [DOCS] Revamp SedonaKepler and SedonaPyDeck documentation
  docs/api/sql/Visualization_SedonaKepler.md
  docs/api/sql/Visualization_SedonaPyDeck.md
  docs/image/buildings.gif
  docs/image/choropleth.gif
  docs/image/heatmap.gif
  docs/image/points.gif
  docs/tutorial/sql.md
  mkdocs.yml
Labels: improvement, docs

#1077 [DOCS] Fix failing R tests after update of dbplyr
  R/tests/testthat/test-data-interface.R
  R/tests/testthat/test-sdf-interface.R
Labels: docs

#1076 [SEDONA-420] Make SedonaKepler and SedonaPyDeck optional dependencies
  python/sedona/spark/__init__.py
  python/tests/maps/test_sedonapydeck.py
Labels: bug, sedona-python

#1078 [SEDONA-421] Add RS_Clip
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  docs/image/clipped-raster.png
  docs/image/cropped-raster.png
  docs/image/original-raster-clip.png
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1081 [SEDONA-422] Add a feature in RS_SetBandNoDataValue and fix NoDataValue in RS_Clip
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1099 [DOCS] Fix spelling
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#1103 [DOCS] contributor.md: fix typo - change `Spark` to `Sedona`
  docs/community/contributor.md
Labels: docs

#1113 [DOCS] Fix filename casing for `pom.xml`
  docs/api/sql/Overview.md
  docs/api/viz/sql.md
  docs/community/develop.md
  docs/setup/flink/install-scala.md
  docs/setup/install-scala.md
  docs/setup/maven-coordinates.md
Labels: docs

#1114 [DOCS] Fix footer, banner, TOC, EMR doc, Databricks doc
  docs-overrides/main.html
  docs-overrides/partials/footer.html
  docs-overrides/partials/toc-item.html
  docs-overrides/partials/toc.html
  docs/community/contact.md
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/setup/overview.md
  mkdocs.yml
Labels: docs

#1120 [SEDONA-424] Specify jt-jiffle as a provided dependency
  pom.xml
  spark/common/pom.xml
Labels: improvement, sedona-common, sedona-spark

#1122 [SEDONA-425] Add RS_Values and RS_Value to accept grid coordinates
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1123 [SEDONA-427] Add RS_RasterToWorldCoord
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1080 [SEDONA-426] Change raster cloning to be able to include metadata.
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
Labels: bug, improvement, sedona-common, behavior change

#1124 [SEDONA-428] Add RS_ZonalStats & RS_ZonalStatsAll
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  docs/api/sql/Raster-operators.md
  pom.xml
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1128 [SEDONA-433] Improve RS_SummaryStats performance
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
Labels: improvement, sedona-common, sedona-spark

#1130 [SEDONA-434] Improve reliability by resolve the nondeterministic of the order of the Map
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
Labels: bug, sedona-spark

#1132 [SEDONA-436] Fix RS_SetValues bug
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
Labels: bug, sedona-common, sedona-spark
