Repository apache/sedona, pull requests merged in 2023-10, with the labels that each got.

#1042 [SEDONA-366] Fix performance issue of RS_Count
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
Labels: improvement, sedona-common, sedona-spark

#1043 [SEDONA-406] Add a dummy implementation of UDT RasterType to get rid of errors when representing pyspark dataframes containing raster fields.
  python/sedona/spark/__init__.py
  python/sedona/sql/types.py
  python/tests/sql/test_raster.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/RasterUDT.scala
Labels: bug, sedona-spark

#1044 [DOCS] Fix typo and incorrect API name
  docs/api/sql/Raster-visualizer.md
  docs/tutorial/raster.md
Labels: docs

#1045 [DOCS] Few grammatical fix in raster tutorial
  docs/tutorial/raster.md
Labels: docs

#1048 [DOCS] Prepare Sedona 1.5.0 release
  R/DESCRIPTION
  R/R/dependencies.R
  README.md
  binder/utilities.py
  docs-overrides/main.html
  docs/community/contributor.md
  docs/community/publish.md
  docs/image/sedona-ecosystem.png
  docs/image/sedona_icon.svg
  docs/image/sedona_logo.eps
  docs/image/sedona_logo.pdf
  docs/image/sedona_logo.png
  docs/image/sedona_logo.svg
  docs/image/sedona_logo_symbol.png
  docs/image/sedona_logo_symbol.svg
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/docker.md
  docs/setup/emr.md
  docs/setup/flink/modules.md
  docs/setup/install-python.md
  docs/setup/maven-coordinates.md
  docs/setup/modules.md
  docs/setup/overview.md
  docs/setup/release-notes.md
  docs/setup/wherobots.md
  docs/tutorial/raster.md
  docs/tutorial/sql.md
  mkdocs.yml
  python/sedona/version.py
  python/src/pygeos/c_api.h
  zeppelin/package.json
Labels: docs

#1049 [DOCS] R: Update roxygen docs
  R/man/apache.sedona-package.Rd
  R/man/crs_transform.Rd
  R/man/spark_read_shapefile.Rd
  R/man/spark_write_geojson.Rd
Labels: docs

#1050 [DOCS] Add news for 1.5.0
  docs/api/java-api.md
  docs/api/sql/Overview.md
  docs/api/viz/java-api.md
  docs/community/publish.md
  docs/download.md
  docs/index.md
  docs/setup/compile.md
  docs/setup/release-notes.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs

#1051 [DOSC] Fix CRAN failure
  R/man/apache.sedona-package.Rd
  R/man/spark_read_shapefile.Rd
  R/man/spark_write_geojson.Rd
  docs/community/discord-invite-form.html
Labels: docs

#1057 [DOCS] Fix spelling; pre-commit autoupdate
  .pre-commit-config.yaml
  codespell.txt
  docs/tutorial/viz.md
  spark/common/src/main/scala/org/apache/sedona/viz/sql/operator/VizPartitioner.scala
Labels: docs

#1058 [SEDONA-410] pre-commit: check that scripts with shebangs are executable
  .github/workflows/scripts/install_r_deps.sh
  .github/workflows/scripts/install_system_deps_for_r_build.sh
  .github/workflows/scripts/prepare_sparklyr_sedona_test_env.sh
  .pre-commit-config.yaml
  binder/start
  docker/sedona.sh
  docker/spark.sh
Labels: github-actions

#1060 [DOCS] Standardize Markdown code blocks: word case and whitespace
  R/README.md
  R/vignettes/articles/apache-sedona.Rmd
  README.md
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#1063 [DOCS] set correct apache-sedona version
  docs/setup/emr.md
Labels: docs

#1061 [SEDONA-411] Add RS_Rotation
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark
