Repository apache/sedona, pull requests merged in 2023-08, with the labels that each got.

#935 [SEDONA-336] Add RS_UpperLeftX and RS_UpperLeftY
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#936 [SEDONA-337] adjusted python module import for geometry fallback implementation
  python/sedona/utils/geometry_serde.py
Labels: bug, resolved, sedona-python

#937 [SEDONA-333] Implement ST_GeomFromEWKT
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/flink/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-sql, affect public APIs, sedona-common

#940 [SEDONA-338] Fix `RS_MakeEmptyRaster` and make affine transformation parameters compliant with the GDAL/PostGIS convention
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#939 [SEDONA-285] Sedona Spark Jupyterlab docker image
  .github/workflows/docker-build.yml
  binder/Pipfile
  docker/sedona-spark-jupyterlab/.dockerignore
  docker/sedona-spark-jupyterlab/.gitignore
  docker/sedona-spark-jupyterlab/build.sh
  docker/sedona-spark-jupyterlab/requirements.txt
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docker/sedona.sh
  docker/spark.sh
  docs/setup/docker.md
  mkdocs.yml
Labels: improvement, affect public APIs, sedona-docker

#933 [SEDONA-335] Add RS_PixelAsPoint
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#942 [SEDONA-340] Add RS_ConvexHull | [SEDONA-341] Move RS_Envelope to Geometry Functions
  common/src/main/java/org/apache/sedona/common/raster/GeometryFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/GeometryFunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/GeometryFunctions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-python, sedona-common

#943 [SEDONA-114] Implement ST_MakeLine
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#944 [SEDONA-342] Implement ST_Polygon
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-common

#946 [SEDONA-343] Add RS_Contains and RS_Within
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/test/java/org/apache/sedona/common/raster/RasterPredicatesTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#947 [SEDONA-344] Add RS_RasterToWorldCoordX and RS_RasterToWorldCoordY
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#951 [SEDONA-285] Bug fix for Sedona Spark Jupyterlab docker image
  .github/workflows/docker-build.yml
  docker/sedona-spark-jupyterlab/build.sh
Labels: bug, sedona-docker

#948 [SEDONA-346] Add WorldToRaster APIs
  common/src/main/java/org/apache/sedona/common/raster/GeometryFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#949 [SEDONA-347] Centralize transform() usages
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
Labels: improvement, sedona-common

#955 [SEDONA-338] Don't change the geo-referencing data when setting the SRID of rasters.
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, sedona-sql

#953 [SEDONA-350] Modify RS_AddBandFromArray
  LICENSE
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  core/src/test/resources/raster/raster_with_no_data/test5.TIFF
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#956 [SEDONA-351] Support XYZM coordinate
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
Labels: improvement, attention needed, affect public APIs, sedona-common

#957 [SEDONA-193] Refactor MakeEmptyRaster to allow setting custom datatype
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-loader.md
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#950 [SEDONA-348] Implement ST_MakePoint
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/flink/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#959 [SEDONA-285] Add the official Docker image
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
  docker/sedona-spark-jupyterlab/build.sh
  docs/setup/docker.md
Labels: improvement, affect public APIs, sedona-docker

#958 [SEDONA-353] Add RS_BandNoDataValue
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  core/src/test/resources/raster/raster_with_no_data/test5.tiff
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#960 [SEDONA-354] Add RS_SkewX and RS_SkewY
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#961 [SEDONA-355] Add RS_BandPixelType
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#964 [DOCS] Refactor RS_AddBandFromArray
  docs/api/sql/Raster-operators.md
Labels: docs

#967 [SEDONA-359] Add RS_GeoReference
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#969 [SEDONA-360] Handle nodata values of raster bands in a more concise way
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/utils/RasterUtilsTest.java
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-common

#965 [SEDONA-357] Implement ST_VoronoiPolygons
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#974 [SEDONA-365] Refactor RS_Count to RS_CountValue
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, API breaking change

#963 [SEDONA-356] Change CRS transformation from lat/lon to lon/lat order
  R/R/spatial_rdd.R
  R/tests/testthat/test-crs-transform.R
  R/vignettes/articles/apache-sedona.Rmd
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterPredicatesTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/KNNQuery.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/RangeQuery.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/main/java/org/apache/sedona/core/utils/CRSTransformation.java
  core/src/test/java/org/apache/sedona/core/utils/CRSTransformationTest.java
  docs/api/flink/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Raster-loader.md
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  python/sedona/core/SpatialRDD/spatial_rdd.py
  python/tests/properties/crs_transform.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  python/tests/utils/test_crs_transformation.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  viz/src/test/scala/org/apache/sedona/viz/sql/standardVizOperatorTest.scala
Labels: attention needed, sedona-sql, affect public APIs, sedona-python, sedona-r, sedona-flink, API breaking change, sedona-common

#972 [SEDONA-363] Add RS_PixelAsPolygon
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#973 [SEDONA-364] Add RS_MinConvexHull
  common/src/main/java/org/apache/sedona/common/raster/GeometryFunctions.java
  common/src/test/java/org/apache/sedona/common/raster/GeometryFunctionsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/GeometryFunctions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#966 [SEDONA-358] Move geotools dependent vector functions out of Functions.java
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/FunctionsGeoTools.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtilsGeoTools.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/KNNQuery.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/RangeQuery.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/main/java/org/apache/sedona/flink/expressions/FunctionsGeoTools.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, sedona-flink, sedona-common

#977 [SEDONA-367] Add RS_PixelAsCentroid
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#978 [SEDONA-368] Add RS_SummaryStats
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#980 [SEDONA-370] Remove the old GeoTiff reader
  R/NAMESPACE
  R/R/data_interface.R
  R/tests/testthat/test-data-interface-raster.R
  R/vignettes/articles/raster.Rmd
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-writer.md
  sql/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffSchema.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/ImageReadOptions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/ImageWriteOptions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  sql/spark-3.0/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/spark-3.0/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffFileFormat.scala
  sql/spark-3.0/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  sql/spark-3.4/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/spark-3.4/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffFileFormat.scala
  sql/spark-3.4/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: attention needed, sedona-sql, affect public APIs, sedona-r, API breaking change

#979 [SEDONA-371] Add Optimized join support for Raster-Vector Joins
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/utils/RasterSerializer.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-sql

#984 [SEDONA-373] Move RasterPredicates to the correct package
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
Labels: bug, resolved, sedona-common

#985 [SEDONA-375] Add RS_SetBandNoDataValue
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#982 [SEDONA-374] Add support for geom-raster and raster-raster relationship to RS predicates
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterPredicatesTest.java
  docs/api/sql/Raster-operators.md
  pom.xml
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterPredicates.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#986 [SEDONA-376] Add RS_SetValues
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctionEditors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#990 [SEDONA-378] Add RS_SetValue
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  docs/api/sql/Raster-operators.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctionEditors.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#988 [SEDONA-377] Sphere/Spheroid functions accepts geometries in lon/lat order
  common/src/main/java/org/apache/sedona/common/sphere/Haversine.java
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinedGeometry.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: attention needed, sedona-sql, affect public APIs, sedona-python, sedona-r, sedona-flink, API breaking change, sedona-common

#989 [SEDONA-286] Correctly handle poles and anti-meridian in optimized sphere/spheroid distance join
  common/src/main/java/org/apache/sedona/common/sphere/Haversine.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/sphere/HaversineEnvelopeTest.java
  docs/api/sql/Optimizer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinedGeometry.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/SphereDistanceJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-sql, sedona-common
