Repository apache/sedona, pull requests merged in 2023-04, with the labels that each got.

#812 [SEDONA-271] Add raster function RS_SRID
  common/src/main/java/org/apache/sedona/common/raster/Functions.java
  common/src/test/java/org/apache/sedona/common/raster/ConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  docs/api/sql/Raster-operators.md
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#813 [DOCS] Fix spelling
  R/R/data_interface.R
  R/README.md
  R/vignettes/articles/apache-sedona.Rmd
  docs/api/sql/Raster-loader.md
  docs/tutorial/sql.md
Labels: docs

#815 [SEDONA-167] Add pycache to gitignore
  python/.gitignore
  python/README.md
Labels: docs

#816 [SEDONA-273] Explicitly bound Pandas, GeoPandas and Shapely versions
  python/Pipfile
Labels: improvement, sedona-python, dependencies

#817 [SEDONA-275] Add raster function RS_SetSRID
  common/src/main/java/org/apache/sedona/common/raster/Functions.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  docs/api/sql/Raster-operators.md
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, sedona-sql, affect public APIs

#818 [SEDONA-274] transplant subdivider and simplifier to sedona-common
  common/src/main/java/org/apache/sedona/common/simplify/BaseSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/CircleSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/CoordinateSplitter.java
  common/src/main/java/org/apache/sedona/common/simplify/CoordinatesSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/GeometryCollectionSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/GeometrySimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/LineStringSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/PolygonSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/ZeroToleranceGeometrySimplifier.java
  common/src/main/java/org/apache/sedona/common/subDivide/GeometrySubDivider.java
  common/src/main/java/org/apache/sedona/common/subDivide/PivotFinder.java
  common/src/main/java/org/apache/sedona/common/subDivide/SubBoxes.java
  common/src/main/java/org/apache/sedona/common/subDivide/SubDivideExtent.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CircleSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CoordinatesSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/CoordinatesSplitter.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometryCollectionSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/GeometrySimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/LinestringSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/PolygonSimplifier.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/simplify/SimplifyingParameters.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/GeometrySubDivider.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/GeometrySubDividerConfiguration.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/PivotFinder.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/Stack.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/SubdivideExtent.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/subdivide/ZeroToleranceGeometrySimplifier.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/TestGeometrySimplify.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/TestStSubDivide.scala
Labels: improvement, sedona-sql, sedona-common

#819 [SEDONA-274] transplant FormatUtils to sedona-common
  R/R/dependencies.R
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/main/java/org/apache/sedona/common/enums/FileDataSplitter.java
  common/src/main/java/org/apache/sedona/common/enums/GeometryType.java
  common/src/main/java/org/apache/sedona/common/utils/FormatUtils.java
  core/src/main/java/org/apache/sedona/core/formatMapper/FormatMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/GeoJsonReader.java
  core/src/main/java/org/apache/sedona/core/formatMapper/LineStringFormatMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/PointFormatMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/PolygonFormatMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/RectangleFormatMapper.java
  core/src/main/java/org/apache/sedona/core/formatMapper/WkbReader.java
  core/src/main/java/org/apache/sedona/core/formatMapper/WktReader.java
  core/src/main/java/org/apache/sedona/core/showcase/EarthdataMapperRunnableExample.java
  core/src/main/java/org/apache/sedona/core/showcase/Example.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/LineStringRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/PointRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/PolygonRDD.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/RectangleRDD.java
  core/src/main/scala/org/apache/sedona/core/showcase/ScalaEarthdataMapperRunnableExample.scala
  core/src/main/scala/org/apache/sedona/core/showcase/ScalaExample.scala
  core/src/test/java/org/apache/sedona/core/io/EarthdataHDFTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/JoinTestBase.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/LineStringKnnTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/LineStringRangeTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PointKnnTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PointRangeTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PolygonKnnTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PolygonRangeTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/RectangleKnnTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/RectangleRangeTest.java
  core/src/test/java/org/apache/sedona/core/spatialRDD/PolygonRDDTest.java
  core/src/test/java/org/apache/sedona/core/spatialRDD/SpatialRDDTestBase.java
  core/src/test/java/org/apache/sedona/core/spatialRDD/SpatialRDDWriterTest.java
  core/src/test/java/org/apache/sedona/core/utils/CRSTransformationTest.java
  core/src/test/scala/org/apache/sedona/core/scalaTest.scala
  docs/tutorial/flink/sql.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  python/sedona/register/java_libs.py
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
  viz/src/main/java/org/apache/sedona/viz/showcase/Example.java
  viz/src/main/scala/org/apache/sedona/viz/showcase/ScalaExample.scala
  viz/src/test/java/org/apache/sedona/viz/NYCTripTest.java
  viz/src/test/java/org/apache/sedona/viz/VizTestBase.java
  viz/src/test/scala/org/apache/sedona/viz/rdd/scalaTest.scala
Labels: improvement, sedona-core, affect public APIs, sedona-flink, sedona-common

#820 [SEDONA-265] Migrate all ST functions to Sedona Inferred Expressions
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/Predicates.java
  common/src/main/java/org/apache/sedona/common/utils/GeoHashDecoder.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
Labels: improvement, sedona-sql, sedona-common

#823 [SEDONA-274] move sql function collectionExtract and collect to common
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/test/java/org/apache/sedona/common/GeometryUtilTest.java
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_CollectionExtract.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
Labels: improvement, sedona-sql, sedona-common

#824 [DOCS] Fix spelling in Markdown
  docs/api/sql/Raster-loader.md
Labels: docs
