Repository apache/sedona, pull requests merged in 2023-01, with the labels that each got.

#741 [SEDONA-207] Remove dependency to spark from UnsafeGeometryBuffer in sedona-common
  common/src/main/java/org/apache/sedona/common/geometrySerde/UnsafeGeometryBuffer.java
Labels: bug, resolved

#735 [SEDONA-212] Rework dependency management
  .github/workflows/java.yml
  .github/workflows/python.yml
  common/pom.xml
  core/pom.xml
  flink-shaded/.gitignore
  flink-shaded/pom.xml
  flink/pom.xml
  pom.xml
  python-adapter/pom.xml
  python/sedona/core/jvm/config.py
  spark-shaded/.gitignore
  spark-shaded/pom.xml
  sql/pom.xml
  viz/pom.xml
Labels: improvement, attention needed

#742 [SEDONA-223] Add ST_Split
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/GeometrySplitter.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#746 [SEDONA-230] rdd.saveAsGeoJSON should generate feature properties with field names
  R/tests/testthat/helper-initialize.R
  R/tests/testthat/test-data-interface.R
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  core/src/main/java/org/apache/sedona/core/formatMapper/FormatUtils.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/test/java/org/apache/sedona/core/TestBase.java
  core/src/test/java/org/apache/sedona/core/formatMapper/GeoJsonIOTest.java
  core/src/test/java/org/apache/sedona/core/formatMapper/TestReadInvalidSyntaxGeometriesTest.java
Labels: bug, resolved, behavior change

#744 [SEDONA-156] Support spatial filter push-down for GeoParquetFileFormat
  docs/api/sql/Optimizer.md
  docs/image/geoparquet-pred-pushdown.png
  docs/image/scan-parquet-with-spatial-pred.png
  docs/image/scan-parquet-without-spatial-pred.png
  docs/tutorial/sql.md
  mkdocs.yml
  python/tests/__init__.py
  python/tests/sql/test_geoparquet.py
  sql/src/main/scala/org/apache/sedona/sql/utils/SedonaSQLRegistrator.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetMetaData.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSpatialFilter.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  sql/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  sql/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, sedona-sql

#745 [SEDONA-227] Python Serde Refactor
  python/sedona/utils/geometry_serde.py
  python/tests/utils/test_geometry_serde.py
Labels: improvement, sedona-python

#747 [SEDONA-232] Upgrade CICD From Spark 3.2.0 to 3.2.3
  .github/workflows/java.yml
Labels: docs

#748 [SEDONA-233] Incorrect results for several joins in a single stage
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/HalfOpenRectangle.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/DuplicatesFilter.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/DynamicIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JoinConditionMatcher.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/LeftIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
  core/src/main/java/org/apache/sedona/core/joinJudgement/RightIndexLookupJudgement.java
  core/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  core/src/main/java/org/apache/sedona/core/spatialPartitioning/KDB.java
  core/src/main/java/org/apache/sedona/core/spatialPartitioning/quadtree/StandardQuadTree.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/JoinQueryDeduplicationTest.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  sql/src/test/scala/org/apache/sedona/sql/DeduplicationSuite.scala
Labels: bug, resolved, sedona-sql

#749 [SEDONA-221] Outer join throws NPE for null geometries.
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastIndexJoinExec.scala
  sql/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
Labels: bug, resolved, sedona-sql

#751 [SEDONA-234] ST_Point inconsistencies
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/sql/Constructor.md
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  sql/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-sql, affect public APIs, sedona-flink, API breaking change
