Repository apache/sedona, pull requests merged in 2023-09, with the labels that each got.

#993 [SEDONA-379] Add RS_Base64
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTests.java
  docs/api/sql/Raster-writer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-sql, affect public APIs, sedona-common

#994 [SEDONA-379] Fix bugs in RS_AsBase64
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-writer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, resolved, sedona-sql, affect public APIs, sedona-common

#995 [SEDONA-381] Merge Python adapter to sql-common module
  pom.xml
  python-adapter/.gitignore
  python-adapter/pom.xml
  python-adapter/src/test/resources/log4j2.properties
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/GeometrySample.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/PythonTestSpec.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/SparkUtil.scala
  python-adapter/src/test/scala/org/apache/sedona/python/wrapper/TestToPythonSerialization.scala
  spark-shaded/pom.xml
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/SerializationException.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/EnvelopeAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/GeomSerializer.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/GeometryAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/JoinParamsAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/PythonConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/PythonRddToJavaRDDAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/RawJvmIndexRDDAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/adapters/SpatialObjectLoaderAdapter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/CircleSerializer.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/FlatPairRddConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/GeometryRddConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/GeometrySeqToPythonConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/GeometrySerializer.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/ListPairRddConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/PythonGeometrySerializer.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/PythonRDDToJavaConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/PythonRddToJavaRDDConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/translation/RDDToPythonConverter.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/utils/PythonAdapterWrapper.scala
  sql/common/src/main/scala/org/apache/sedona/python/wrapper/utils/implicits.scala
  sql/common/src/test/scala/org/apache/sedona/python/wrapper/TestToPythonSerialization.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: sedona-sql, affect public APIs, sedona-python

#998 [DOCS] Fix spelling
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Raster-writer.md
Labels: docs

#999 [DOCS] Fix spelling change `Github` to `GitHub`
  docs/community/contributor.md
  docs/community/release-manager.md
Labels: docs

#1001 [SEDONA-383] Add RS_Band
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1005 [SEDONA-385] Set the Maven Central to be the first repository to check
  examples/flink-sql/pom.xml
  examples/spark-rdd-colocation-mining/build.sbt
  examples/spark-sql/build.sbt
  examples/spark-viz/build.sbt
  pom.xml
Labels: bug, resolved

#1008 [SEDONA-361] Fix performance issues of map algebra functions and some band operators
  common/src/main/java/org/apache/sedona/common/raster/DeepCopiedRenderedImage.java
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
Labels: improvement, sedona-common, sedona-spark

#1004 [DOCS] Fix whitespace in Markdown files
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/setup/release-notes.md
  docs/tutorial/flink/sql.md
Labels: docs

#1010 [SEDONA-387] Implement RS_BandIsNoData
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1012 [SEDONA-389] Pin pipenv version to 2023.9.1, since 2023.9.7 introduces a bug that broke our build
  .github/workflows/python-extension.yml
  .github/workflows/python.yml
Labels: improvement, github-actions

#1011 [SEDONA-388] Add RS_AsRaster
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-writer.md
  pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1009 [SEDONA-386] Cache serialized CRS to speedup serialization of RasterUDT values
  .github/workflows/python-extension.yml
  .github/workflows/python.yml
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/CRSSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
  common/src/main/java/org/apache/sedona/common/utils/CachedCRSTransformFinder.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtilsGeoTools.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/SerdeTest.java
  pom.xml
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinedGeometryRaster.scala
Labels: improvement, sedona-spark

#1013 [SEDONA-390] Add `codespell` with `pre-commit`
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
  codespell.txt
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/utils/RasterUtilsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  docs/setup/release-notes.md
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
  flink-shaded/pom.xml
  python/sedona/sql/st_functions.py
  spark-shaded/pom.xml
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/ShapeSerde.java
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/quadtree/StandardQuadTree.java
Labels: improvement, github-actions

#1015 [SEDONA-392] Add five more pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, github-actions

#1014 [SEDONA-391] Add RS_AsMatrix
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  mkdocs.yml
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1016 [SEDONA-393] Add RS_AsPNG
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-writer.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1017 [DOCS] Fix typo in README
  README.md
Labels: docs

#1018 [SEDONA-394] fix RS_Band data type bug
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-writer.md
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1019 [SEDONA-349] Fix performance regression for spatial join
  python/tests/spatial_operator/test_join_base.py
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
Labels: bug, improvement, sedona-python, sedona-spark

#1020 [SEDONA-395] Add RS_AsImage
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-visualizer.md
  docs/image/DisplayImage.png
  python/sedona/raster_utils/SedonaUtils.py
  python/sedona/raster_utils/__init__.py
  python/sedona/spark/__init__.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-python, sedona-spark

#1022 [SEDONA-396] Add RS_SetValues Geometry variant
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctionEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1025 [SEDONA-386] Fixed CRS deserialization when cache was not hit
  common/src/main/java/org/apache/sedona/common/raster/CRSSerializer.java
  common/src/test/java/org/apache/sedona/common/raster/CRSSerializerTest.java
Labels: bug, resolved, sedona-common

#1023 [SEDONA-397] Move Map Algebra functions
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
Labels: improvement, sedona-common, sedona-spark

#1026 [SEDONA-398] Add RS_AddBand
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1028 [SEDONA-399] Add H3 functions
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/H3Utils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/H3UtilTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  pom.xml
  python/sedona/sql/st_functions.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functions/STH3Functions.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1027 [DOCS] Docs cleaning
  docs/api/flink/Aggregator.md
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/sql/AggregateFunction.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  docs/api/viz/sql.md
Labels: docs

#1029 [DOCS] README: Add `alt` to images and add links
  README.md
Labels: docs

#1030 [SEDONA-400] pre-commit add hook to ensure that links to vcs websites…
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/community/publish.md
Labels: improvement, docs, github-actions

#1033 [DOCS] Remove duplicate Discord button from README
  README.md
Labels: docs

#1035 [SEDONA-401] Handle null values in RS_AsMatrix
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
Labels: bug, sedona-common, sedona-spark

#1036 [SEDONA-402] Floor grid coordinates received from geotools to handle floating point grid coordinates.
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
Labels: bug, sedona-common, sedona-spark

#1039 [DOCS] Mention behavior of string returning functions
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
Labels: docs

#1041 [SEDONA-405] Replace Metric with LongAccumulator to reduce memory overhead for spatial join
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/DynamicIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/JudgementBase.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/LeftIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/RightIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  spark/common/src/main/scala/org/apache/sedona/core/monitoring/Metric.scala
  spark/common/src/main/scala/org/apache/sedona/core/monitoring/Metrics.scala
  spark/common/src/test/scala/org/apache/sedona/core/monitoring/MetricSuite.scala
Labels: bug, sedona-spark

#1034 [DOCS] Add raster tutorial
  docs/api/sql/Raster-operators.md
  docs/image/rasterized-image.png
  docs/tutorial/raster.md
Labels: docs
