Repository apache/sedona, pull requests merged in 2023-05, with the labels that each got.

#827 [SEDONA-279] Sedona-Flink should not depend on Sedona-Spark modules
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerde.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/SpatialIndexSerde.java
  common/src/main/java/org/locationtech/jts/index/quadtree/IndexSerde.java
  common/src/main/java/org/locationtech/jts/index/strtree/IndexSerde.java
  common/src/test/java/org/apache/sedona/common/CircleTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/SpatialIndexSerdeTest.java
  core/src/main/java/org/apache/sedona/core/serde/SedonaKryoRegistrator.java
  core/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/GeometrySerdeTest.java
  flink/pom.xml
  flink/src/main/java/org/apache/sedona/flink/SedonaFlinkRegistrator.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  pom.xml
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geohash/GeoHashDecoder.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functions/geohash/Fixtures.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functions/geohash/TestGeoHashDecoder.scala
Labels: improvement, attention needed, sedona-flink, sedona-common

#830 [DOCS] Refresh Sedona readme & simplify the arch figure
  README.md
  docs/image/SedonaNewFig.001.png
Labels: docs

#828 [SEDONA-269] Add Raster data source and RS_AsGeoTiff and RS_AsArcGrid
  common/src/main/java/org/apache/sedona/common/raster/Outputs.java
  core/src/test/resources/raster_geotiff_color/FAA_UTM18N_NAD83.tif
  docs/api/sql/Raster-writer.md
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Outputs.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/HadoopUtils.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffSchema.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/ImageReadOptions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/ImageWriteOptions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterFileFormat.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterOptions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  sql/spark-3.0/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/spark-3.0/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffFileFormat.scala
  sql/spark-3.0/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  sql/spark-3.4/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  sql/spark-3.4/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/GeotiffFileFormat.scala
  sql/spark-3.4/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-common

#832 [DOCS] Significantly Update Readme and Add New User Fig
  README.md
  docs/image/SedonaNewFig.001.png
  docs/image/SedonaUsers.001.png
Labels: docs

#833 [DOCS] Document tuning Spark for writing large raster geometries to Parquet
  docs/tutorial/raster.md
  docs/tutorial/storing-blobs-in-parquet.md
  mkdocs.yml
Labels: docs

#831 [SEDONA-280] Add ST_GeometricMedian
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#837 [DOCS] Added EXPLODE with ST_Pixelize to flatten which is required after for Sedona on and after v1.0.1.
  docs/image/geospark-zeppelin-demo.json
Labels: docs

#835 [SEDONA-281] Support geodesic / geography functions
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/sphere/Haversine.java
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  pom.xml
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-flink, sedona-common

#838 [SEDONA-282] R raster write function
  R/DESCRIPTION
  R/NAMESPACE
  R/R/data_interface.R
  R/man/spark_write_geojson.Rd
  R/tests/testthat/helper-initialize.R
  R/tests/testthat/test-data-interface-raster.R
  R/vignettes/articles/raster.Rmd
Labels: improvement, affect public APIs, sedona-r

#839 [DOCS] update: documentation typos
  README.md
Labels: docs

#841 [SEDONA-284] Substitute property values in dependency-reduced-pom.xml for shaded submodules
  flink-shaded/pom.xml
  pom.xml
  spark-shaded/pom.xml
Labels: bug, resolved

#844 [DOCS] Fix broken link
  docs/tutorial/viz.md
Labels: docs

#846 [SEDONA-281] Change ST_DistanceSphere default radius to 6371008
  common/src/main/java/org/apache/sedona/common/sphere/Haversine.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  sql/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#845 [SEDONA-286] Support optimized distance join on ST_DistanceSphere and ST_DistanceSpheroid
  docs/api/sql/Optimizer.md
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  sql/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  sql/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  sql/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  sql/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, sedona-sql
