Repository apache/sedona, pull requests merged in 2023-02, with the labels that each got.

#753 [SEDONA-236] Fix flaky python tests related to converting GeoPandas DataFrames to Spark DataFrames
  python/tests/serialization/test_deserializers.py
  python/tests/serialization/test_serializers.py
Labels: sedona-sql

#755 [SEDONA-179] Claim OGC compliance
  sql/src/test/scala/org/apache/sedona/sql/ogc/GeometryTypesAndFunctionsTestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/ogc/package-info.java
Labels: improvement, attention needed, sedona-sql, affect public APIs, sedona-flink

#756 [DOCS] fix spelling
  docs/api/flink/Function.md
  docs/api/sql/Function.md
Labels: docs

#757 [DOCS] Fix broken links, spelling and whitespace
  .github/pull_request_template.md
  README.md
  docs/tutorial/rdd.md
Labels: docs

#758 [DOCS] Fix spelling in Markdown and Python files
  docs/api/sql/Function.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/viz/sql.md
  docs/community/contributor.md
  docs/community/publish.md
  docs/community/rule.md
  docs/community/vote.md
  docs/setup/install-r.md
  docs/setup/maven-coordinates.md
  docs/setup/release-notes.md
  docs/tutorial/core-python.md
  docs/tutorial/flink/sql.md
  docs/tutorial/rdd.md
  docs/tutorial/sql-r.md
  docs/tutorial/sql.md
  docs/tutorial/viz.md
  python/tests/core/test_rdd.py
Labels: docs

#759 [DOCS] Fix spelling
  R/R/data_interface.R
  mkdocs.yml
  python/sedona/core/SpatialRDD/spatial_rdd.py
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoDateTimeUtils.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/test/scala/org/apache/sedona/sql/adapterTestScala.scala
Labels: docs

#761 [DOCS] Fix spelling
  core/src/main/java/org/apache/sedona/core/enums/JoinBuildSide.java
  core/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/ShpFileParser.java
  core/src/main/java/org/apache/sedona/core/spatialPartitioning/VoronoiPartitioning.java
  core/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  core/src/test/java/org/apache/sedona/core/geometryObjects/SpatialIndexSerdeTest.java
  core/src/test/java/org/apache/sedona/core/spatialOperator/PointJoinTest.java
  core/src/test/java/org/apache/sedona/core/spatialPartitioning/quadtree/QuadRectangleTest.java
  docs-overrides/main.html
  docs/setup/install-python.md
  docs/tutorial/jupyter-notebook.md
Labels: docs

#763 [DOCS] Markdown: Standardize code block linguist languages
  docs/api/flink/Aggregator.md
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/sql/AggregateFunction.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Overview.md
  docs/api/sql/Parameter.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/viz/sql.md
  docs/setup/databricks.md
  docs/setup/install-python.md
  docs/setup/install-r.md
  docs/tutorial/Advanced-Tutorial-Tune-your-Application.md
  docs/tutorial/core-python.md
  docs/tutorial/flink/sql.md
  docs/tutorial/rdd-r.md
  docs/tutorial/rdd.md
  docs/tutorial/sql-r.md
  docs/tutorial/sql.md
  docs/tutorial/viz-r.md
Labels: docs

#766 [SEDONA-207] Fix ambiguity of empty multi-geometries and multi geometries containing only empty geometries
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerializer.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/GeometryCollectionSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiLineStringSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiPointSerdeTest.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/MultiPolygonSerdeTest.java
  python/sedona/utils/geometry_serde.py
  python/tests/utils/test_geometry_serde.py
Labels: improvement

#769 [SEDONA-242] R: Update dependencies + fix failing test
  R/R/dependencies.R
  R/tests/testthat/test-spatial-queries.R
Labels: improvement, sedona-r

#767 [SEDONA-227] Implemented Python geometry serializer as a native extension
  .github/workflows/python-extension.yml
  .github/workflows/python-wheel.yml
  .github/workflows/python.yml
  python/sedona/utils/geometry_serde.py
  python/sedona/utils/geometry_serde_general.py
  python/setup.py
  python/src/geom_buf.c
  python/src/geom_buf.h
  python/src/geomserde.c
  python/src/geomserde.h
  python/src/geomserde_speedup_module.c
  python/src/geos_c_dyn.c
  python/src/geos_c_dyn.h
  python/src/geos_c_dyn_funcs.h
  python/src/pygeos/c_api.h
  python/tests/utils/test_geometry_serde.py
  python/tests/utils/test_geomserde_speedup.py
Labels: improvement, attention needed, sedona-python

#771 [SEDONA-226] Replace AnalysisException with IllegalArgumentException in GeoParquet reader since AnalysisException has breaking ABI changes between Spark 3.0 and 3.3
  python/tests/__init__.py
  python/tests/sql/test_geoparquet.py
  sql/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
Labels: bug, resolved, sedona-sql

#770 [SEDONA-243] R features: read/write geoparquet, get names from shapefiles
  R/NAMESPACE
  R/R/data_interface.R
  R/R/sdf_interface.R
  R/tests/testthat/test-data-interface.R
  R/tests/testthat/test-sdf-interface.R
Labels: improvement, sedona-r

#772 [SEDONA-249] Add jvm flags for running tests on Java 17
  core/src/test/java/org/apache/sedona/core/utils/CRSTransformationTest.java
  pom.xml
Labels: improvement

#764 [SEDONA-235] Integrate S2, add ST_S2CellIDs
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/S2Utils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/GeometryUtilTest.java
  common/src/test/java/org/apache/sedona/common/S2UtilTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  pom.xml
  python/.gitignore
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/NullSafeExpressions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  sql/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  sql/src/test/scala/org/apache/sedona/sql/functions/STS2CellIDs.scala
Labels: improvement, sedona-sql, affect public APIs, sedona-python, sedona-flink, sedona-common

#773 [SEDONA-251] Add raster type to Sedona
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/Constructors.java
  common/src/main/java/org/apache/sedona/common/raster/Functions.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
  common/src/test/java/org/apache/sedona/common/raster/ConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/SerdeTest.java
  core/src/test/resources/raster_asc/test1.asc
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  pom.xml
  spark-shaded/pom.xml
  sql/pom.xml
  sql/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/RasterUDT.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/UdtRegistratorWrapper.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Constructors.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/Functions.scala
  sql/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/implicits.scala
  sql/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, attention needed, sedona-sql, affect public APIs

#774 [DOCS] Fix spelling
  R/R/sdf_interface.R
  binder/ApacheSedonaCore.ipynb
  python/src/geom_buf.c
Labels: docs

#776 [SEDONA-252] Fix RS_Base64 test
  sql/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: bug, sedona-sql

#780 [SEDONA-253] Upgrade geotools to version 28.2
  pom.xml
Labels: dependencies

#777 [DOCS] Fix typo
  binder/ApacheSedonaRaster.ipynb
Labels: docs
