Repository apache/sedona, pull requests merged in 2023-12, with the labels that each got.

#1133 [SEDONA-437] Add implicit CRS transformation
  R/tests/testthat/test-data-interface-raster.R
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-r, API breaking change, sedona-common, sedona-spark

#1134 [SEDONA-193] Add Sedona NetCDF reader suite
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/netcdf/NetCdfConstants.java
  common/src/main/java/org/apache/sedona/common/raster/netcdf/NetCdfReader.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  core/src/test/resources/raster/netcdf/test.nc
  docs/api/sql/Raster-loader.md
  pom.xml
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/netcdfParser/SerNetCDFUtils.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/test/resources/raster/netcdf/test.nc
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1141 [SEDONA-442] pre-commit: add hook markdown-lint
  .github/linters/.markdown-lint.yml
  .pre-commit-config.yaml
  docs/setup/release-notes.md
Labels: github-actions

#1142 [SEDONA-503] Fix the upload-artifact 503 error
  .github/workflows/java.yml
Labels: github-actions

#1143 [SEDONA-339] Skip irrelevant GitHub actions
  .github/workflows/docs.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python-extension.yml
  .github/workflows/python-wheel.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
Labels: github-actions

#1144 [SEDONA-444] pre-commit: add hook to trim trailing whitespace
  .github/workflows/docker-build.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python-extension.yml
  .github/workflows/python-wheel.yml
  .github/workflows/python.yml
  .pre-commit-config.yaml
  R/R/data_interface.R
  R/R/sdf_interface.R
  R/_pkgdown.yml
  R/tests/testthat/helper-initialize.R
  R/tests/testthat/test-crs-transform.R
  R/tests/testthat/test-data-interface-raster.R
  R/tests/testthat/test-data-interface.R
  R/tests/testthat/test-dbplyr-integration.R
  R/tests/testthat/test-sdf-interface.R
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/utils/PointGeoHashEncoder.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  examples/flink-sql/pom.xml
  flink/pom.xml
  mkdocs.yml
  python/sedona/sql/dataframe_api.py
  python/sedona/sql/st_constructors.py
  python/sedona/sql/st_functions.py
  python/tests/sql/test_function.py
  python/tests/sql/test_predicate_join.py
  spark/common/src/main/java/org/apache/sedona/viz/extension/visualizationEffect/ChoroplethMap.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/testSerNetCDF.java
  spark/common/src/test/java/org/apache/sedona/core/spatialRDD/LineStringRDDTest.java
  spark/common/src/test/java/org/apache/sedona/core/utils/SedonaConfTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: github-actions

#1145 [SEDONA-445] pre-commit: apply hook end-of-file-fixer to more files
  .github/workflows/docker-build.yml
  .github/workflows/example.yml
  .github/workflows/scripts/install_system_deps_for_r_build.sh
  .pre-commit-config.yaml
  binder/apt.txt
  docker/sedona-spark-jupyterlab/build.sh
  docker/sedona-spark-jupyterlab/requirements.txt
  docker/sedona.sh
  examples/flink-sql/src/test/resources/scalastyle_config.xml
  examples/spark-rdd-colocation-mining/src/test/resources/nyc-area-landmark-shapefile/wfsrequest.txt
  examples/spark-sql/src/test/resources/scalastyle_config.xml
  python/build_wheel.sh
  scalastyle_config.xml
Labels: github-actions

#1147 [SEDONA-447] pre-commit: apply end-of-file-fixer to more files
  .pre-commit-config.yaml
  LICENSE
  NOTICE
  R/man/apache.sedona-package.Rd
  R/vignettes/articles/apache-sedona.Rmd
  R/vignettes/articles/raster.Rmd
  binder/data/ne_50m_admin_0_countries_lakes/ne_50m_admin_0_countries_lakes.cpg
  binder/data/ne_50m_admin_0_countries_lakes/ne_50m_admin_0_countries_lakes.prj
  binder/data/ne_50m_airports/ne_50m_airports.prj
  binder/data/primaryroads-linestring.csv
  binder/data/testPolygon.json
  binder/data/testpoint.csv
  binder/postBuild
  binder/start
  docker/sedona-spark-jupyterlab/.dockerignore
  docker/sedona-spark-jupyterlab/.gitignore
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docs/community/discord-invite-form.html
  examples/flink-sql/.gitignore
  examples/flink-sql/pom.xml
  examples/flink-sql/src/test/resources/testenvelope.csv
  examples/flink-sql/src/test/resources/testpoint.csv
  examples/spark-rdd-colocation-mining/build.sbt
  examples/spark-rdd-colocation-mining/project/build.properties
  examples/spark-rdd-colocation-mining/project/plugins.sbt
  examples/spark-rdd-colocation-mining/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.cst
  examples/spark-rdd-colocation-mining/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.prj
  examples/spark-sql/.gitignore
  examples/spark-sql/build.sbt
  examples/spark-sql/project/build.properties
  examples/spark-sql/project/plugins.sbt
  examples/spark-sql/src/test/resources/testenvelope.csv
  examples/spark-sql/src/test/resources/testpoint.csv
  examples/spark-viz/.gitignore
  examples/spark-viz/build.sbt
  examples/spark-viz/project/build.properties
  examples/spark-viz/project/plugins.sbt
  examples/spark-viz/src/test/resources/arealm.csv
  examples/spark-viz/src/test/resources/babylon.point.properties
  examples/spark-viz/src/test/resources/babylon.polygon.properties
  examples/spark-viz/src/test/resources/babylon.rectangle.properties
  flink/pom.xml
  licenses/LICENSE-Chicago-Crimes
  licenses/LICENSE-pygeos
  licenses/LICENSE-us-census-bureau
  python/tests/sql/resource/sample_lines
  python/tests/sql/resource/sample_points
  python/tests/sql/resource/sample_polygons
  python/tests/sql/resource/simple_polygons
  spark/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/spark-3.0/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/spark-3.4/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  zeppelin/.gitignore
Labels: github-actions

#1153 [SEDONA-451] Update Sedona Scala examples for multiples Sedona release and check against different Spark versions
  .github/workflows/example.yml
  examples/README.md
  examples/spark-rdd-colocation-mining/.gitignore
  examples/spark-rdd-colocation-mining/README.md
  examples/spark-rdd-colocation-mining/build.sbt
  examples/spark-rdd-colocation-mining/colocationMap.png
  examples/spark-rdd-colocation-mining/project/.gitignore
  examples/spark-rdd-colocation-mining/project/build.properties
  examples/spark-rdd-colocation-mining/project/plugins.sbt
  examples/spark-rdd-colocation-mining/src/test/resources/arealandmark.png
  examples/spark-rdd-colocation-mining/src/test/resources/colocation.png
  examples/spark-rdd-colocation-mining/src/test/resources/colocationMap.png
  examples/spark-rdd-colocation-mining/src/test/resources/colocationResult.png
  examples/spark-rdd-colocation-mining/src/test/resources/nyccolocation.png
  examples/spark-sql/.gitignore
  examples/spark-sql/build.sbt
  examples/spark-sql/colocationMap.png
  examples/spark-sql/pom.xml
  examples/spark-sql/project/.gitignore
  examples/spark-sql/project/build.properties
  examples/spark-sql/project/plugins.sbt
  examples/spark-sql/src/main/scala/Main.scala
  examples/spark-sql/src/main/scala/RddExample.scala
  examples/spark-sql/src/main/scala/ScalaExample.scala
  examples/spark-sql/src/main/scala/SqlExample.scala
  examples/spark-sql/src/main/scala/VizExample.scala
  examples/spark-sql/src/test/resources/arealm.csv
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.cst
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.dbf
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.prj
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.shp
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.shx
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/wfsrequest.txt
  examples/spark-sql/src/test/resources/primaryroads-polygon.csv
  examples/spark-sql/src/test/resources/raster/FAA_UTM18N_NAD83.tif
  examples/spark-sql/src/test/resources/raster/test2.tiff
  examples/spark-sql/src/test/resources/yellow_tripdata_2009-01-subset.csv
  examples/spark-sql/src/test/resources/zcta510.csv
  examples/spark-viz/.gitignore
  examples/spark-viz/build.sbt
  examples/spark-viz/project/.gitignore
  examples/spark-viz/project/build.properties
  examples/spark-viz/project/plugins.sbt
  examples/spark-viz/src/main/scala/ScalaExample.scala
  examples/spark-viz/src/test/resources/babylon.point.properties
  examples/spark-viz/src/test/resources/babylon.polygon.properties
  examples/spark-viz/src/test/resources/babylon.rectangle.properties
Labels: improvement, docs

#1155 [SEDONA-193] Remove the unnecessary NetCDF test data
  core/src/test/resources/raster/netcdf/test.nc
Labels: improvement

#1156 [DOCS] add Sedona logo
  docs/image/sedona_logo_symbol_white.svg
  mkdocs.yml
Labels: docs

#1159 [SEDONA-454] Change the default value of sedona.global.indextype from quadtree to rtree
  docs/api/sql/Parameter.md
  spark/common/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
Labels: improvement, sedona-spark

#1150 [SEDONA-449] Add two raster column support to RS_MapAlgebra
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  docs/api/sql/Raster-map-algebra.md
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1160 [SEDONA-448] RS_SetBandNoDataValue should have `replace` option
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
Labels: improvement, affect public APIs

#1163 [SEDONA-456] Fix kepler.gl integration for geopandas >= 0.13
  python/sedona/maps/SedonaMapUtils.py
  python/tests/maps/test_sedonakepler_visualization.py
Labels: bug, sedona-spark

#1164 [SEDONA-457] Don't write GeometryUDT into org.apache.spark.sql.parquet.row.metadata when writing GeoParquet files
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: bug, behavior change

#1165 [SEDONA-440] Enable nested predicate pushdown support for GeoParquet
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, sedona-spark

#1167 [DOCS] Enable markdownlint rule MD005
  .github/linters/.markdown-lint.yml
  docs/community/release-manager.md
Labels: docs, github-actions

#1168 [DOCS] Enable markdownlint rule MD037
  .github/linters/.markdown-lint.yml
  docs/community/release-manager.md
Labels: docs, github-actions
