Repository apache/sedona, pull requests merged in 2024-03, with the labels that each got.

#1251 [SEDONA-498] Add Spheroidal ST_Buffer
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/FunctionsGeoTools.java
  common/src/main/java/org/apache/sedona/common/Predicates.java
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, API breaking change, sedona-common, sedona-spark, sedona-snowflake

#1265 [DOCS] Replace `Spark SQL Example` and add Snowflake and Flink to the names of function docs.
  docs/api/flink/Function.md
  docs/api/sql/AggregateFunction.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-aggregate-function.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  docs/api/viz/sql.md
  mkdocs.yml
Labels: docs

#1271 [SEDONA-512] Geometry_serde.serialize should report the incorrect type
  python/src/geomserde_speedup_module.c
Labels: improvement, sedona-python

#1266 [SEDONA-509] Add Single Statistic version of RS_SummaryStats
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, API breaking change, sedona-common, sedona-spark

#1276 [SEDONA-514] Add RS_SetPixelType
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, sedona-common, sedona-spark

#1277 [SEDONA-480] Implement ST_S2ToGeom
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functions/STS2CellIDs.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark

#1278 [SEDONA-481] Implements ST_Snap
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  docs/image/st_snap/st-snap-applied.png
  docs/image/st_snap/st-snap-base-example.png
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1279 [SEDONA-515] Add handling of noDataValues in RS_Resample
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
Labels: bug, sedona-common, sedona-spark

#1283 [SEDONA-517] RS_MakeRaster
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-loader.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1284 [SEDONA-518] RS_ReprojectMatch
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  docs/api/sql/Raster-operators.md
  docs/image/ReprojectMatch_example.png
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1285 [DOCS] Update statements about Shapely 2 support
  docs/setup/emr.md
  docs/setup/release-notes.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/sql.md
Labels: docs

#1281 [SEDONA-406] Raster deserializer for PySpark
  .github/workflows/python.yml
  common/src/main/java/org/apache/sedona/common/raster/DeepCopiedRenderedImage.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructorsForTesting.java
  common/src/main/java/org/apache/sedona/common/raster/Serde.java
  common/src/main/java/org/apache/sedona/common/raster/serde/AWTRasterSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/AffineTransform2DSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/CRSSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/DataBufferSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/GridEnvelopeSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/GridSampleDimensionSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/KryoUtil.java
  common/src/main/java/org/apache/sedona/common/raster/serde/SampleModelSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/Serde.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsForTestingTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/serde/CRSSerializerTest.java
  common/src/test/java/org/apache/sedona/common/raster/serde/DataBufferSerializerTest.java
  common/src/test/java/org/apache/sedona/common/raster/serde/KryoSerializerTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/serde/KryoUtilTest.java
  common/src/test/java/org/apache/sedona/common/raster/serde/SampleModelSerializerTest.java
  common/src/test/java/org/apache/sedona/common/raster/serde/SerdeTest.java
  docs/setup/compile.md
  docs/tutorial/raster.md
  python/Pipfile
  python/sedona/raster/__init__.py
  python/sedona/raster/awt_raster.py
  python/sedona/raster/data_buffer.py
  python/sedona/raster/meta.py
  python/sedona/raster/raster_serde.py
  python/sedona/raster/sample_model.py
  python/sedona/raster/sedona_raster.py
  python/sedona/sql/types.py
  python/setup.py
  python/tests/raster/__init__.py
  python/tests/raster/test_meta.py
  python/tests/raster/test_pandas_udf.py
  python/tests/raster/test_serde.py
  spark-shaded/pom.xml
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/sedona/sql/utils/RasterSerializer.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/RasterUDT.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/implicits.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/serdeAwareTest.scala
Labels: improvement, attention needed, affect public APIs, sedona-python, sedona-common, sedona-spark

#1282 [SEDONA-516] Add RS_Interpolate
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterInterpolate.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  docs/api/sql/Raster-operators.md
  docs/image/heatmap_Interpolate.png
  docs/image/heatmap_Interpolate2.png
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1290 [SEDONA-520] Fix dependency issue of shaded snowflake JAR
  snowflake/pom.xml
Labels: bug, sedona-snowflake

#1287 [SEDONA-483] [SEDONA-491] Implement ST_IsPolygonCCW and ST_ForcePolygonCCW
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1286 [SEDONA-484] [SEDONA-492] Implement ST_IsPolygonCW and ST_ForcePolygonCW
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1292 [SEDONA-521] Change ST_H3ToGeom Behavior
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: affect public APIs, API breaking change, sedona-common, behavior change, sedona-spark

#1294 [SEDONA-522] Add ST_Union with array of Geometry as input
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark
