Repository apache/sedona, pull requests merged in 2024-09, with the labels that each got.

#1573 [SEDONA-646] Fix DBR compatibility problem for shapefile reader
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
  spark/spark-3.1/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.1/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.1/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartition.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefilePartitionReaderFactory.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/datasources/shapefile/ShapefileScan.scala
Labels: sedona-spark

#1574 [SEDONA-609] Pin numpy to v1
  docker/sedona-spark-jupyterlab/requirements.txt
Labels: sedona-docker

#1575 [DOC] Update docs to explain the case of filtering after KNN
  docs/api/sql/NearestNeighbourSearching.md
Labels: docs

#1576 [SEDONA-650] keep fiona version below 1.10.0
  python/Pipfile
Labels: sedona-python

#1580 [SEDONA-651] Add spark prefix to all sedona spark config
  docs/api/sql/Parameter.md
  spark/common/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
Labels: docs, sedona-spark

#1582 [DOCS] Improve the Databricks setup guide
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/tutorial/benchmark.md
  docs/tutorial/sql.md
Labels: docs

#1585 [SEDONA-652] Add ST_MakeEnvelope
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestConstructors.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1586 [SEDONA-653] Add a lenient mode for RS_Clip and make it lenient by default
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: docs, sedona-common, sedona-spark

#1588 [SEDONA-654] Add ST_RotateY
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1587 [SEDONA-648] Throw unsupported operation exception when ST_KNN is used as UDF
  common/src/main/java/org/apache/sedona/common/Predicates.java
  docs/api/sql/NearestNeighbourSearching.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  spark/common/src/test/scala/org/apache/sedona/sql/KnnJoinSuite.scala
Labels: docs, sedona-common, sedona-spark

#1590 [DOCS] Use lowercase file extensions; `.PNG` -> `.png`
  docs/image/geopandas_plot.png
Labels: docs

#1592 [DOCS] pre-commit autoupdate; fix Python lint error
  .pre-commit-config.yaml
  docs/usecases/contrib/PostgresqlConnectionApacheSedona.ipynb
Labels: docs, root

#1591 [DOCS] Fix grammar and spelling
  spark/common/src/main/java/org/apache/sedona/core/enums/JoinSpartitionDominantSide.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/CombineShapeReader.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapeFileReader.java
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/QuadTreeRTPartitioning.java
  spark/common/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  spark/common/src/main/java/org/apache/sedona/viz/core/ImageGenerator.java
  spark/common/src/main/java/org/apache/sedona/viz/core/VisualizationOperator.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/imageGenerator/SedonaVizImageGenerator.java
  spark/common/src/main/java/org/apache/sedona/viz/utils/RasterizationUtils.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryExec.scala
Labels: sedona-spark

#1598 [DOCS] 1) Fixed broken link to test data files 2) Minor issues in samp…
  latest-snapshot/tutorial/sql/sql.md
Labels: docs

#1600 [DOCS] 1) Fixed broken link to test data files 2) Minor issues in sam…
  docs/tutorial/sql.md
Labels: docs

#1599 [DOCS] Update mkdocs.yml with code copying feature for website
  mkdocs.yml
Labels: docs, root

#1594 [SEDONA-656] Add ST_Project
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1602 [DOCS] Standardize whitespace in Markdown files
  docs/api/sql/Optimizer.md
  docs/community/contributor.md
  docs/community/publication.md
  docs/community/release-manager.md
  docs/community/rule.md
  docs/setup/databricks.md
  docs/tutorial/raster.md
  docs/tutorial/snowflake/sql.md
  docs/tutorial/sql-pure-sql.md
  docs/tutorial/zeppelin.md
Labels: docs

#1601 [DOCS] Update Java code comments
  spark/common/src/main/java/org/apache/sedona/viz/core/BigBufferedImage.java
Labels: sedona-spark

#1604 [DOCS] Add pre-commit hook `check-docstring-first`
  .pre-commit-config.yaml
Labels: root

#1606 [SEDONA-658] Add ST_Simplify
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake
