Repository apache/sedona, pull requests merged in 2024-04, with the labels that each got.

#1300 [DOCS] Fix spelling
  docs/api/sql/Function.md
Labels: docs

#1301 [SEDONA-523] Add pre-commit hook `fix-byte-order-marker`
  .pre-commit-config.yaml
  docs/image/geospark-zeppelin-demo.json
Labels: docs

#1302 [SEDONA-524] Clean up the `pre-commit` config
  .github/linters/codespell.txt
  .pre-commit-config.yaml
Labels: docs

#1303 [DOCS] Fix grammar and fix link
  docs/tutorial/viz.md
  docs/tutorial/zeppelin.md
Labels: docs

#1304 [SEDONA-525] Add two more pre-commit hooks
  .pre-commit-config.yaml
Labels: docs

#1306 [DOCS] README: order toc links and remove extra line
  README.md
Labels: docs

#1307 [DOCS] Complete the README TOC
  README.md
Labels: docs

#1308 [SEDONA-526] Upgrade `actions/setup-java` to `v4`
  .github/workflows/docker-build.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
Labels: github-actions

#1305 [DOCS][CI] Auto push docs to the website branch
  .github/workflows/docs.yml
  README.md
  docs/community/contact.md
  docs/community/contributor.md
  docs/usecases/airport-country.md
  docs/usecases/foot-traffic.md
  docs/usecases/raster.md
  docs/usecases/usecases.md
  mkdocs.yml
Labels: docs, github-actions

#1315 [SEDONA-529] Add basic `EditorConfig` file
  .editorconfig
Labels: docs

#1313 [SEDONA-528] Add `pre-commit` hook `check-yaml`
  .pre-commit-config.yaml
Labels: docs

#1316 [DOCS] Fix grammar in the `pull_request_template.md`
  .github/pull_request_template.md
Labels: docs

#1318 [CI] Address the race condition among multiple CI deploying to the website branch
  .github/workflows/docs.yml
Labels: github-actions

#1322 [DOCS] Add the scarf pixel for traffic analytics
  mkdocs.yml
Labels: docs

#1319 [SEDONA-530] Add `pre-commit` hook `debug-statements`
  .pre-commit-config.yaml
Labels: docs

#1323 [DOCS] Add traffic analysis to PyPI README
  python/README.md
Labels: docs

#1325 [SEDONA-532] Correctly handle complex join conditions
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/ExpressionUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/OptimizableJoinCondition.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-spark

#1324 [DOCS] Add two targets to the Makefile for building docs
  Makefile
Labels: docs

#1330 [DOCS] Reorder Constructor page
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
Labels: docs

#1329 [DOCS] Enable markdownlint rule `MD004`
  .github/linters/.markdown-lint.yml
  docs/api/sql/Raster-operators.md
  docs/setup/release-notes.md
Labels: docs

#1332 [DOCS] Fix spelling and remove duplicate word
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
Labels: docs

#1331 [DOCS] Enable markdownlint rule `MD031`
  .github/linters/.markdown-lint.yml
  README.md
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/DataFrameAPI.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Overview.md
  docs/api/sql/Parameter.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Visualization_SedonaKepler.md
  docs/api/sql/Visualization_SedonaPyDeck.md
  docs/api/viz/sql.md
  docs/community/publish.md
  docs/community/release-manager.md
  docs/community/snapshot.md
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/docker.md
  docs/setup/flink/install-scala.md
  docs/setup/install-scala.md
  docs/setup/release-notes.md
  docs/tutorial/Advanced-Tutorial-Tune-your-Application.md
  docs/tutorial/flink/sql.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/jupyter-notebook.md
  docs/tutorial/rdd.md
  docs/tutorial/snowflake/sql.md
  docs/tutorial/sql.md
  docs/tutorial/zeppelin.md
Labels: docs

#1333 [DOCS] Enable markdownlint rule `MD042`
  .github/linters/.markdown-lint.yml
Labels: docs

#1334 [DOCS] Update markdown links
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Overview.md
  docs/api/sql/DataFrameAPI.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Overview.md
  docs/api/sql/Raster-aggregate-function.md
  docs/api/sql/Raster-map-algebra.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  docs/community/contact.md
  docs/community/contributor.md
  docs/community/develop.md
  docs/community/publish.md
  docs/setup/flink/install-scala.md
  docs/setup/install-python.md
  docs/setup/install-scala.md
  docs/setup/maven-coordinates.md
  docs/setup/overview.md
  docs/setup/release-notes.md
  docs/setup/snowflake/install.md
  docs/setup/zeppelin.md
  docs/tutorial/Advanced-Tutorial-Tune-your-Application.md
  docs/tutorial/flink/sql.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/jupyter-notebook.md
  docs/tutorial/raster.md
  docs/tutorial/rdd.md
  docs/tutorial/snowflake/sql.md
  docs/tutorial/sql.md
  docs/tutorial/viz-gallery.md
  docs/tutorial/viz.md
  docs/tutorial/zeppelin.md
  mkdocs.yml
Labels: docs

#1339 [DOCS] Enable markdownlint rule `MD051`
  .github/linters/.markdown-lint.yml
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/tutorial/rdd.md
Labels: docs

#1338 [DOCS] Add `pip install mkdocs-jupyter` to setup
  Makefile
  docs/setup/compile.md
Labels: docs

#1340 [CI] Change command for installing python source package
  .github/workflows/python-extension.yml
Labels: github-actions

#1342 [SEDONA-533] Add ST_Polygonize
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1343 [SEDONA-531] Remove the version check in Sedona Spark Python
  python/sedona/core/SpatialRDD/spatial_rdd.py
  python/sedona/core/jvm/config.py
Labels: bug, sedona-python, sedona-spark

#1344 [SEDONA-534] Disable Python warning message of finding jars
  python/sedona/core/jvm/config.py
Labels: bug, sedona-python, sedona-spark

#1347 [DOCS] Fix grammar and spelling
  .github/workflows/docker-build.yml
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Visualization_SedonaKepler.md
  docs/community/develop.md
  docs/community/release-manager.md
  docs/community/rule.md
  docs/community/vote.md
  docs/setup/emr.md
  docs/setup/install-python.md
  docs/setup/release-notes.md
  docs/setup/snowflake/install.md
  docs/tutorial/rdd.md
  docs/tutorial/snowflake/sql.md
Labels: docs, github-actions

#1349 [SEDONA-537] Add pre-commit hook `requirements-txt-fixer`
  .pre-commit-config.yaml
  docker/sedona-spark-jupyterlab/requirements.txt
Labels: sedona-docker, root

#1348 [SEDONA-536] Add CODEOWNERS file
  .github/CODEOWNERS
Labels: github-actions

#1351 [DOCS] Skip docs deploy on forks
  .github/workflows/docs.yml
Labels: github-actions

#1350 [DOCS] Add Microsoft Fabric tutorial
  docs/image/fabric/fabric-1.png
  docs/image/fabric/fabric-2.png
  docs/image/fabric/fabric-3.png
  docs/image/fabric/fabric-4.png
  docs/image/fabric/fabric-5.png
  docs/image/fabric/fabric-6.png
  docs/image/fabric/fabric-7.png
  docs/image/fabric/fabric-8.png
  docs/image/fabric/fabric-9.png
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/setup/fabric.md
  docs/setup/wherobots.md
  mkdocs.yml
Labels: docs, root

#1352 [DOCS] Improve docs and enable markdownlint rule `MD001`
  .github/linters/.markdown-lint.yml
  R/README.md
  docs/community/develop.md
  docs/community/release-manager.md
  docs/tutorial/python-vector-osm.md
Labels: docs, sedona-r, github-actions

#1353 [DOCS] Enable markdownlint rule `MD032`
  .github/linters/.markdown-lint.yml
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  docs/community/contributor.md
  docs/community/publication.md
  docs/community/release-manager.md
  docs/setup/databricks.md
Labels: docs, github-actions

#1354 [SEDONA-538] Add four more pre-commit hooks
  .github/linters/codespell.txt
  .pre-commit-config.yaml
Labels: github-actions, root

#1357 [SEDONA-541] Allow concurrent snowflake testers
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
Labels: sedona-snowflake

#1356 [SEDONA-540] Fix failed ST_Buffer and ST_Snap Snowflake tests
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
Labels: sedona-snowflake

#1358 [SEDONA-541] Allow concurrent snowflake testers: PR 2/2
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/SnowClient.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
Labels: sedona-snowflake

#1355 [SEDONA-539] Support Snowflake geography type
  docs/tutorial/snowflake/sql.md
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsGeography.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/UDFDDLGenerator.java
Labels: docs, sedona-snowflake

#1362 [SEDONA-542] Add `pre-commit` hook `check-executables-have-shebangs`
  .pre-commit-config.yaml
  common/src/main/java/org/apache/sedona/common/enums/FileDataSplitter.java
  common/src/main/java/org/apache/sedona/common/enums/GeometryType.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerde.java
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.cst
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/nyu_2451_34514.prj
  examples/spark-sql/src/test/resources/nyc-area-landmark-shapefile/wfsrequest.txt
  python/build_wheel.sh
  spark/common/src/main/java/org/apache/sedona/core/enums/GridType.java
  spark/common/src/main/java/org/apache/sedona/core/enums/IndexType.java
  spark/common/src/main/java/org/apache/sedona/viz/utils/ImageType.java
Labels: sedona-python, sedona-common, sedona-spark, root

#1363 [DOCS] Add information on pre-commit to `docs/setup/compile.md`
  docs/setup/compile.md
Labels: docs

#1359 [DOCS] Resize images
  README.md
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  docs/api/sql/Raster-operators.md
  docs/community/develop.md
  docs/image/clipped-raster.png
  docs/image/cropped-raster.png
  docs/image/heatmap_Interpolate.png
  docs/image/heatmap_Interpolate2.png
  docs/image/heatmapnycsmall.png
  docs/image/ide-java-6.png
  docs/image/ide-java-7.png
  docs/image/linestring-left-side.png
  docs/image/linestring-og.png
  docs/image/original-raster-clip.png
  docs/image/point-buffer-quad-2.png
  docs/image/point-buffer-quad-8.png
  docs/image/st_snap/st-snap-applied.png
  docs/image/st_snap/st-snap-base-example.png
  docs/image/usrail.png
  docs/image/ustweet.png
  docs/setup/fabric.md
  docs/tutorial/sql.md
  docs/tutorial/viz-gallery.md
  mkdocs.yml
Labels: docs, root

#1365 [CI] Fix the failed python build extension
  .github/workflows/python-extension.yml
Labels: github-actions

#1368 [SEDONA-544] Add `ruff-pre-commit` for `Python` linting
  .github/linters/ruff.toml
  .pre-commit-config.yaml
Labels: github-actions, root

#1371 [SEDONA-545] Sedona Python DataFrame API fail due to missing commas
  python/sedona/spark/__init__.py
  python/sedona/sql/st_aggregates.py
  python/sedona/sql/st_constructors.py
  python/sedona/sql/st_functions.py
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
Labels: bug, sedona-python

#1372 [SEDONA-546] Python linting enable rule `E712`
  .github/linters/ruff.toml
  .pre-commit-config.yaml
  python/tests/maps/test_sedonapydeck.py
  python/tests/sql/test_function.py
Labels: sedona-python, github-actions, root

#1373 [SEDONA-547] Use scarf to collect telemetry data
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  R/R/dependencies.R
  common/src/main/java/org/apache/sedona/common/utils/TelemetryCollector.java
  common/src/test/java/org/apache/sedona/common/telemetry/TelemetryTest.java
  docs/asf/telemetry.md
  flink/src/main/java/org/apache/sedona/flink/SedonaContext.java
  mkdocs.yml
  python/sedona/spark/SedonaContext.py
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/utils/SedonaSQLRegistrator.scala
Labels: sedona-python, docs, sedona-r, sedona-flink, sedona-common, github-actions, sedona-spark, root

#1364 [SEDONA-543] Fixes RS_Union_aggr throwing referenceRaster is null error when run on cluster
  common/src/main/java/org/apache/sedona/common/raster/serde/Serde.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/AggregateFunctions.scala
Labels: bug, sedona-common, sedona-spark

#1374 [SEDONA-548] Fix Python Dataframe API Constructor registrations
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_dataframe_api.py
Labels: bug, affect public APIs, sedona-python

#1376 [CI] Fix the failed Docker build
  .github/workflows/docker-build.yml
Labels: github-actions

#1377 [DOCS] Fix docs of SedonaSnow, Affine transformation, SedonaUtils, Shapefile charset
  docs/api/snowflake/vector-data/AggregateFunction.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/DataFrameAPI.md
  docs/api/sql/Raster-affine-transformation.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  docs/tutorial/rdd.md
  mkdocs.yml
Labels: docs, root

#1378 [DOCS] Add 1.5.2 release notes and doc changes
  docs/image/snowflake/sedona-snowflake-1.5.1.sql
  docs/image/snowflake/sedona-snowflake.sql
  docs/setup/release-notes.md
  docs/usecases/Sedona_OvertureMaps_GeoParquet.ipynb
  mkdocs.yml
Labels: docs, root

#1379 [DOCS] Bump Sedona version to 1.5.2
  R/DESCRIPTION
  R/R/dependencies.R
  common/pom.xml
  flink-shaded/pom.xml
  flink/pom.xml
  pom.xml
  python/sedona/version.py
  snowflake-tester/pom.xml
  snowflake/pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
  spark/pom.xml
  spark/spark-3.0/pom.xml
  spark/spark-3.4/pom.xml
  spark/spark-3.5/pom.xml
  zeppelin/package.json
Labels: sedona-python, sedona-r, sedona-flink, sedona-common, sedona-zeppelin, sedona-spark, sedona-snowflake, root

#1375 [SEDONA-549] Make RS_Union_aggr support combining all bands of multi-band rasters
  docs/api/sql/Raster-aggregate-function.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/AggregateFunctions.scala
  spark/common/src/test/resources/raster/test4.tiff
  spark/common/src/test/resources/raster/test5.tiff
  spark/common/src/test/resources/raster/test6.tiff
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: docs, behavior change, sedona-spark

#1385 [DOCS] Bump dependency in R to 1.5.2
  R/R/dependencies.R
Labels: sedona-r

#1386 [DOCS] Update release notes
  docs/setup/release-notes.md
Labels: docs

#1381 [SEDONA-550] Remove the version upper bound of Pandas, GeoPandas
  python/Pipfile
  python/setup.py
Labels: improvement, sedona-python

#1382 [SEDONA-551] Upgrade GeoTools dependency to 31.0 for Apache SIS integration and Drop Java 8 support
  .github/workflows/docs.yml
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  R/tests/testthat/test-data-interface-raster.R
  common/src/main/java/org/apache/sedona/common/FunctionsGeoTools.java
  common/src/main/java/org/apache/sedona/common/raster/GeometryFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctions.java
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructorsForTesting.java
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/main/java/org/apache/sedona/common/raster/RasterPredicates.java
  common/src/main/java/org/apache/sedona/common/raster/netcdf/NetCdfReader.java
  common/src/main/java/org/apache/sedona/common/raster/serde/CRSSerializer.java
  common/src/main/java/org/apache/sedona/common/raster/serde/Serde.java
  common/src/main/java/org/apache/sedona/common/utils/CachedCRSTransformFinder.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/GeometryFunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterPredicatesTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterTestBase.java
  common/src/test/java/org/apache/sedona/common/raster/serde/CRSSerializerTest.java
  common/src/test/java/org/apache/sedona/common/raster/serde/SerdeTest.java
  docs/api/java-api.md
  docs/api/python-api.md
  docs/api/viz/java-api.md
  docs/community/develop.md
  docs/community/release-manager.md
  docs/community/vote.md
  docs/setup/cluster.md
  docs/setup/compile.md
  docs/setup/flink/platform.md
  docs/setup/platform.md
  docs/tutorial/demo.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/main/java/org/apache/sedona/flink/expressions/FunctionsGeoTools.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  mkdocs.yml
  pom.xml
  python/tests/sql/test_dataframe_api.py
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/GeoToolsWrapper.java
  spark/common/src/main/java/org/apache/sedona/core/spatialOperator/KNNQuery.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinedGeometryRaster.scala
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileRDDTest.java
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-r, sedona-flink, API breaking change, sedona-common, github-actions, sedona-spark, sedona-snowflake, root

#1389 [DOCS] Remove unneeded whitespace from `release-notes.md`
  docs/setup/release-notes.md
Labels: docs

#1388 [DOCS] Update Microsoft Fabric tutorial with Spark properties
  docs/image/fabric/fabric-10.png
  docs/image/fabric/fabric-5.png
  docs/image/fabric/fabric-6.png
  docs/image/fabric/fabric-7.png
  docs/image/fabric/fabric-8.png
  docs/image/fabric/fabric-9.png
  docs/setup/fabric.md
Labels: docs

#1387 [SEDONA-552] Enable Python lint rule `E741`
  .github/linters/ruff.toml
  python/sedona/utils/geometry_serde_general.py
Labels: improvement, sedona-python, github-actions
