Repository apache/sedona, pull requests merged in 2024-07, with the labels that each got.

#1500 [SEDONA-619] pre-commit(yaml): format `mkdocs.yml`
  .pre-commit-config.yaml
  mkdocs.yml
Labels: root

#1504 [SEDONA-620] Simplify Java if statements
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
Labels: sedona-common

#1505 [DOCS] Fix typo in Scala code
  spark/common/src/test/scala/org/apache/sedona/sql/functions/TestGeometrySimplify.scala
Labels: sedona-spark

#1507 [DOCS] Fix spelling
  docs/api/sql/Raster-writer.md
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
Labels: docs, sedona-spark

#1506 [DOCS] AWS Glue Tutorial: replace s3 instructions with maven links
  docs/setup/glue.md
Labels: docs

#1508 [DOCS] Remove duplicate word
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
Labels: sedona-common

#1510 [DOCS] Fix spelling
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/raster/GeometryFunctionsTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
Labels: sedona-flink, sedona-common

#1511 [SEDONA-621] Remove redundant call to `toString()`
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
Labels: sedona-flink

#1515 [SEDONA-622] Improve SedonaPyDeck behavior
  docs/api/sql/Visualization_SedonaPyDeck.md
  python/sedona/maps/SedonaPyDeck.py
  python/tests/maps/test_sedonapydeck.py
Labels: improvement, sedona-python, docs

#1518 [SEDONA-624] Bind references in distance expression to relations lazily to avoid exception in query plan canonicalization
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/DistanceJoinExec.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
Labels: bug, sedona-spark

#1516 [SEDONA-623] Simplify Java `if` statements
  spark/common/src/main/java/org/apache/sedona/core/rangeJudgement/RangeFilterUsingIndex.java
  spark/common/src/main/java/org/apache/sedona/core/spatialOperator/RangeQuery.java
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/main/java/org/apache/sedona/viz/core/GlobalParameter.java
  spark/common/src/main/java/org/apache/sedona/viz/core/RasterOverlayOperator.java
  spark/common/src/main/java/org/apache/sedona/viz/core/VectorOverlayOperator.java
  spark/common/src/main/java/org/apache/sedona/viz/core/VisualizationOperator.java
Labels: sedona-spark

#1517 [DOCS] Fix grammar and spelling
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/main/java/org/apache/sedona/common/subDivide/PivotFinder.java
  common/src/main/java/org/apache/sedona/common/utils/GeometrySplitter.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/boundary/BoundBox.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/ShapeSerde.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/parseUtils/shp/ShpFileParser.java
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/CombineShapeReader.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/DedupParams.java
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/quadtree/StandardQuadTree.java
Labels: sedona-common, sedona-spark

#1521 [SEDONA-626] Make ST functions return geometries with correct SRIDs
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/FunctionsGeoTools.java
  common/src/main/java/org/apache/sedona/common/geometryObjects/Circle.java
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerializer.java
  common/src/main/java/org/apache/sedona/common/raster/GeometryFunctions.java
  common/src/main/java/org/apache/sedona/common/simplify/BaseSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/GeometryCollectionSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/LineStringSimplifier.java
  common/src/main/java/org/apache/sedona/common/simplify/PolygonSimplifier.java
  common/src/main/java/org/apache/sedona/common/subDivide/GeometrySubDivider.java
  common/src/main/java/org/apache/sedona/common/subDivide/PivotFinder.java
  common/src/main/java/org/apache/sedona/common/utils/FormatUtils.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/GeometryForce3DTransformer.java
  common/src/main/java/org/apache/sedona/common/utils/H3Utils.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/GeometrySerde.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1522 [SEDONA-627] Write user specified column to the covering metadata of GeoParquet files
  docs/tutorial/sql.md
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetMetaData.scala
  spark/common/src/test/resources/geoparquet/example-1.1.0.parquet
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, docs, sedona-spark

#1520 [SEDONA-625] Add ST_GeneratePoints
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/RandomPointsBuilderSeed.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1524 [SEDONA-629] Change RS Functions to return struct instead of array type
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: affect public APIs, docs, API breaking change, sedona-spark

#1526 [SEDONA-630] Improve ST_Union_Aggr performance
  python/tests/sql/test_dataframe_api.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/UdfRegistrator.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/AggregateFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/aggregateFunctionTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, sedona-python, sedona-spark

#1525 [SEDONA-607] Return geometry with ST functions with exceptions
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: improvement, sedona-spark

#1527 [SEDONA-631] Add ST_Expand
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1528 [SEDONA-632] Use direct committer when writing raster files using `df.write.format("raster")`
  docs/api/sql/Raster-writer.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterFileFormat.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterOptions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: improvement, docs, sedona-spark

#1530 [SEDONA-635] Allow ST_AsGeoJSON to return feature and featureCollection format GeoJSON
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1532 [SEDONA-545] Fix importing GeometryType from sedona.spark
  python/sedona/sql/st_functions.py
  python/tests/sql/test_st_function_imports.py
Labels: bug, sedona-python
