Repository apache/sedona, pull requests merged in 2024-01, with the labels that each got.

#1169 [DOCS] pre-commit: remove trailing whitespace from `.md` and `.Rmd` f…
  .pre-commit-config.yaml
  R/vignettes/articles/apache-sedona.Rmd
  R/vignettes/articles/raster.Rmd
  README.md
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/sql/Constructor.md
  docs/api/sql/DataFrameAPI.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-aggregate-function.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-map-algebra.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  docs/api/viz/sql.md
  docs/community/contributor.md
  docs/community/develop.md
  docs/community/publication.md
  docs/community/publish.md
  docs/community/release-manager.md
  docs/community/rule.md
  docs/community/vote.md
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/docker.md
  docs/setup/emr.md
  docs/setup/install-python.md
  docs/setup/install-scala.md
  docs/setup/overview.md
  docs/setup/platform.md
  docs/setup/release-notes.md
  docs/setup/zeppelin.md
  docs/tutorial/Advanced-Tutorial-Tune-your-Application.md
  docs/tutorial/flink/sql.md
  docs/tutorial/python-vector-osm.md
  docs/tutorial/raster.md
  docs/tutorial/rdd.md
  docs/tutorial/sql-pure-sql.md
  docs/tutorial/sql.md
  docs/tutorial/viz.md
  python/README.md
Labels: docs, github-actions

#1162 [SEDONA-429][SEDONA-430] Support specifying GeoParquet spec version number and CRS
  docs/tutorial/sql.md
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetMetaData.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: improvement, attention needed, affect public APIs, sedona-spark

#1175 [SEDONA-369] Add ST_DWithin
  common/src/main/java/org/apache/sedona/common/Predicates.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/PredicatesTest.java
  common/src/test/java/org/apache/sedona/common/TestBase.java
  docs/api/flink/Predicate.md
  docs/api/sql/Predicate.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_predicate.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_predicates.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
Labels: improvement, affect public APIs

#1177 [SEDONA-460] Add RS_Tile and RS_TileExplode
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/utils/ImageUtils.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1178 [SEDONA-441] Add ST_LineLocatePoint
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1179 [SEDONA-458] The docs should have examples for UDF
  docs/tutorial/sql.md
Labels: docs

#1176 [SEDONA-459] Open-source Sedona Snowflake (SedonaSnow). PR 1/4
  pom.xml
  snowflake-tester/.gitignore
  snowflake-tester/pom.xml
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/SnowClient.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/SnowTestRunner.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestConstructors.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestPredicates.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestTableFunctions.java
  snowflake/.gitignore
  snowflake/pom.xml
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/GeoToolsWrapper.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/GeometrySerde.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/TypeUtils.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/annotations/UDFAnnotations.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/annotations/UDTFAnnotations.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/ArgSpecBuilder.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/Constants.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/DDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/UDFDDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/UDTFDDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_Collect.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_Dump.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_Envelope_Aggr.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_Intersection_Aggr.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_MinimumBoundingRadius.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_SubDivideExplode.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_Union_Aggr.java
  snowflake/src/main/resources/UDFTemplate.txt
  snowflake/src/main/resources/UDTFTemplate.txt
Labels: improvement, affect public APIs, sedona-snowflake

#1180 [SEDONA-455] geoparquet.metadata data source for inspecting GeoParquet metadata
  docs/tutorial/sql.md
  python/tests/sql/test_geoparquet.py
  spark/spark-3.0/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataDataSource.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScan.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScanBuilder.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.4/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataDataSource.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScan.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScanBuilder.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.5/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataDataSource.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScan.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataScanBuilder.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataTable.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
Labels: improvement, affect public APIs, sedona-spark

#1181 [SEDONA-461] Add ST_IsValidReason
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-spark

#1182 [DOCS] Enable markdownlint rule MD009
  .github/linters/.markdown-lint.yml
Labels: docs

#1183 [SEDONA-463] Add a Makefile for convenience
  Makefile
Labels: docs, github-actions

#1184 [DOCS] Fix grammar in `docs/setup/compile.md`
  docs/setup/compile.md
Labels: docs

#1185 [DOCS] Add rule descriptions to the markdownlint config file
  .github/linters/.markdown-lint.yml
Labels: docs, github-actions

#1186 [SEDONA-459] Open-source Sedona Snowflake (SedonaSnow): Overload ST functions to enable direct interaction with Snowflake native ST functions. PR 2/4
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestPredicatesV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/GeometrySerde.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/annotations/UDFAnnotations.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/annotations/UDTFAnnotations.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/ArgSpecBuilder.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/Constants.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/DDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/UDFDDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/UDTFDDLGenerator.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/udtfs/ST_SubDivideExplodeV2.java
Labels: improvement, affect public APIs, sedona-snowflake

#1187 [DOCS] Enable markdownlint rule MD012 no-multiple-blanks
  .github/linters/.markdown-lint.yml
  R/README.md
  README.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Raster-loader.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Visualization_SedonaKepler.md
  docs/api/sql/Visualization_SedonaPyDeck.md
  docs/community/contributor.md
  docs/community/develop.md
  docs/community/publish.md
  docs/community/release-manager.md
  docs/community/rule.md
  docs/community/vote.md
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/maven-coordinates.md
  docs/setup/overview.md
  docs/setup/platform.md
  docs/setup/release-notes.md
  docs/setup/zeppelin.md
  docs/tutorial/demo.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/jupyter-notebook.md
  docs/tutorial/raster.md
  docs/tutorial/rdd.md
  docs/tutorial/sql-pure-sql.md
  docs/tutorial/sql.md
  docs/tutorial/viz.md
  examples/README.md
Labels: docs, github-actions

#1189 [SEDONA-459] Open-source Sedona Snowflake (SedonaSnow): Add new ST functions added in 1.5.0 and 1.5.1. PR 3/4
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestPredicates.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestPredicatesV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: improvement, affect public APIs, sedona-snowflake

#1190 [SEDONA-465] Support reading legacy parquet files written by Apache Sedona <= 1.3.1-incubating
  docs/api/sql/Reading-legacy-parquet.md
  docs/tutorial/sql.md
  mkdocs.yml
  python/tests/__init__.py
  python/tests/sql/test_geoparquet.py
  spark/common/src/test/resources/parquet/legacy-parquet-nested-columns.snappy.parquet
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRecordMaterializer.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetUtils.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRecordMaterializer.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetUtils.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetReadSupport.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRecordMaterializer.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetUtils.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: bug, affect public APIs, sedona-spark

#1191 [SEDONA-459] Open-source Sedona Snowflake: fix the wrong version setting in Snowflake tester
  snowflake-tester/pom.xml
Labels: bug, sedona-snowflake

#1192 [SEDONA-464] Update ST_IsValid to take flag argument
  common/src/main/java/org/apache/sedona/common/Functions.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-flink, sedona-spark

#1193 [SEDONA-466] Add new parameter `useGeometryExtent` to RS_AsRaster
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  docs/api/sql/Raster-writer.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1194 [DOCS] Enable markdownlint rule MD022
  .github/linters/.markdown-lint.yml
  R/README.md
  README.md
  docs/api/flink/Function.md
  docs/api/flink/Predicate.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/api/sql/Optimizer.md
  docs/api/sql/Overview.md
  docs/api/sql/Parameter.md
  docs/api/sql/Predicate.md
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Visualization_SedonaKepler.md
  docs/community/develop.md
  docs/community/publication.md
  docs/index.md
  docs/setup/cluster.md
  docs/setup/compile.md
  docs/setup/docker.md
  docs/setup/install-scala.md
  docs/setup/maven-coordinates.md
  docs/setup/overview.md
  docs/setup/zeppelin.md
  docs/tutorial/Advanced-Tutorial-Tune-your-Application.md
  docs/tutorial/demo.md
  docs/tutorial/flink/sql.md
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
  docs/tutorial/viz.md
  examples/README.md
Labels: docs, github-actions

#1195 [DOCS] Enable markdownlint rule MD030
  .github/linters/.markdown-lint.yml
  docs/api/flink/Function.md
Labels: docs, github-actions

#1199 [SEDONA-459] Open-source Sedona Snowflake (SedonaSnow): add documentation. PR 4/4
  docs/api/snowflake/vector-data/AggregateFunction.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/snowflake/vector-data/Overview.md
  docs/api/snowflake/vector-data/Predicate.md
  docs/image/snowflake/sedona-snowflake.sql
  docs/image/snowflake/snowflake-1.png
  docs/image/snowflake/snowflake-2.png
  docs/image/snowflake/snowflake-3.png
  docs/image/snowflake/snowflake-4.png
  docs/image/snowflake/snowflake-5.png
  docs/image/snowflake/snowflake-6.png
  docs/image/snowflake/snowflake-7.png
  docs/image/snowflake/snowflake-8.png
  docs/setup/maven-coordinates.md
  docs/setup/snowflake/install.md
  docs/setup/snowflake/modules.md
  docs/tutorial/snowflake/sql.md
  mkdocs.yml
Labels: docs

#1200 [DOCS] Prepare 1.5.1 release
  R/DESCRIPTION
  R/R/dependencies.R
  README.md
  docs-overrides/main.html
  docs/community/contact.md
  docs/community/discord-invite-form.html
  docs/community/publish.md
  docs/setup/databricks.md
  docs/setup/release-notes.md
  docs/tutorial/demo.md
  examples/flink-sql/pom.xml
  mkdocs.yml
  python/sedona/version.py
  zeppelin/package.json
Labels: docs

#1201 [SEDONA-467] Add Optimized join support for ST_DWithin
  docs/api/sql/Optimizer.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  spark/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
Labels: improvement, attention needed, sedona-spark

#1202 [DOCS] Remove sedona-viz from spark setup manual
  docs/setup/install-scala.md
  docs/tutorial/sql-pure-sql.md
Labels: docs

#1207 [SEDONA-469] Update binder notebooks and docker image to Sedona 1.5.1
  binder/ApacheSedonaCore.ipynb
  binder/ApacheSedonaRaster.ipynb
  binder/ApacheSedonaSQL.ipynb
  binder/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  binder/Pipfile
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docker/sedona.sh
  docker/spark.sh
  docs/setup/docker.md
Labels: docs

#1211 [SEDONA-470] Distinguish between missing or null crs from the result of geoparquet.metadata
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetMetaData.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetMetadataTests.scala
Labels: bug, sedona-spark

#1216 [DOCS] Update binder notebook about OMF data to fix Wherobots dataset location
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
Labels: docs

#1217 [SEDONA-474] python: remove manipulation of warnings config
  python/sedona/core/jvm/config.py
Labels: improvement, sedona-python

#1218 [DOCS] Fix bugs in Docker images
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docker/sedona.sh
Labels: improvement, sedona-docker

#1220 [DOCS] Fix deadlinks in docs
  docs/setup/overview.md
  docs/setup/snowflake/install.md
  docs/tutorial/snowflake/sql.md
  mkdocs.yml
Labels: docs

#1219 [DOCS] Fix typo
  docs/community/rule.md
Labels: docs

#1208 [SEDONA-468] Add useSpheroid provision in ST_DWithin
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
  common/src/main/java/org/apache/sedona/common/Predicates.java
  common/src/test/java/org/apache/sedona/common/PredicatesTest.java
  docs/api/flink/Predicate.md
  docs/api/sql/Predicate.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Predicates.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_predicate.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  spark/common/src/test/scala/org/apache/sedona/sql/BroadcastIndexJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SphereDistanceJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/predicateJoinTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
Labels: improvement, attention needed, sedona-common, sedona-spark
