Repository apache/sedona, pull requests merged in 2024-10, with the labels that each got.

#1611 [DOCS] Fix the examples in the documentation of raster writer
  docs/api/sql/Raster-writer.md
Labels: docs

#1613 [DOCS] Fix spelling in Java and Scala test files
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-flink, sedona-common, sedona-spark

#1614 [DOCS] Upgrade pre-commit min version; add hook; pre-commit autoupdate
  .pre-commit-config.yaml
Labels: root

#1615 Add `.gitattributes` for newline code normalization
  .gitattributes
Labels: root

#1618 [DOCS] Fix spelling
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/IO.scala
Labels: sedona-spark

#1620 [DOCS] Fix spelling and rename file
  spark/common/src/main/java/org/apache/sedona/viz/extension/photoFilter/Emboss.java
Labels: sedona-spark

#1621 [CI] Add pre-commit hook `gitleaks` to detect and prevent hardcoded secrets
  .pre-commit-config.yaml
Labels: root

#1622 [SEDONA-662] remove dead code from dbscan code
  python/sedona/stats/clustering/dbscan.py
  python/tests/stats/test_dbscan.py
  spark/common/src/main/scala/org/apache/sedona/stats/clustering/DBSCAN.scala
Labels: sedona-python, sedona-spark

#1624 [DOCS] Fix spelling in Java files
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  common/src/main/java/org/apache/sedona/common/utils/H3Utils.java
Labels: sedona-common

#1625 [DOCS] Remove unneeded trailing semicolons from Scala files
  spark/common/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  spark/common/src/main/scala/org/apache/sedona/sql/utils/RasterSerializer.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastQuerySideKNNJoinExec.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/predicateTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: sedona-spark

#1627 [DOCS] Enable markdownlint rule MD045; Images should have alternate text
  .github/linters/.markdown-lint.yml
  R/README.md
  README.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Optimizer.md
  docs/community/contact.md
  docs/community/develop.md
  docs/setup/fabric.md
  docs/setup/overview.md
  docs/setup/snowflake/install.md
  docs/tutorial/sql.md
  docs/tutorial/viz-gallery.md
  docs/tutorial/zeppelin.md
  python/README.md
Labels: sedona-python, docs, sedona-r, github-actions, root

#1629 [DOCS] Enable markdownlint rule MD038
  .github/linters/.markdown-lint.yml
  docs/api/sql/Optimizer.md
  docs/tutorial/rdd.md
  docs/tutorial/snowflake/sql.md
Labels: docs, github-actions

#1630 [CI] Enable `yamllint` rules `comments` and `comments-indentation`
  .github/linters/.yaml-lint.yml
  R/_pkgdown.yml
  mkdocs.yml
Labels: sedona-r, github-actions, root

#1634 [CI] Add pre-commit hook `bandit` to find Python security issues
  .pre-commit-config.yaml
  pyproject.toml
Labels: root

#1636 [DOCS] Minor update to the pull request template
  .github/pull_request_template.md
Labels: github-actions

#1641 [SEDONA-665] Ping rasterio version to < 1.4.0 in Docker
  docker/sedona-spark-jupyterlab/requirements.txt
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
Labels: sedona-docker

#1640 [DOCS] Fix spelling; Standardize code block languages
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  docs/api/sql/Raster-operators.md
  docs/setup/emr.md
  docs/setup/glue.md
Labels: docs

#1631 [CI] Add pre-commit hook ClangFormat; format C files with style `Google`
  .pre-commit-config.yaml
  python/src/geomserde_speedup_module.c
  python/src/pygeos/c_api.h
Labels: sedona-python, root

#1639 [SEDONA-663] Support spark connect python api
  .github/workflows/python.yml
  python/sedona/spark/SedonaContext.py
  python/sedona/sql/connect.py
  python/sedona/sql/dataframe_api.py
  python/tests/test_base.py
Labels: sedona-python, github-actions

#1623 [SEDONA-661] add local outlier factor implementation.
  docs/api/stats/sql.md
  docs/tutorial/sql.md
  python/sedona/stats/outlier_detection/__init__.py
  python/sedona/stats/outlier_detection/local_outlier_factor.py
  python/tests/stats/test_local_outlier_factor.py
  spark/common/src/main/scala/org/apache/sedona/stats/outlierDetection/LocalOutlierFactor.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/stats/outlierDetection/LocalOutlierFactorTest.scala
Labels: sedona-python, docs, sedona-spark

#1649 [DOCS] Clean up the community contributors page
  docs/community/contributor.md
Labels: docs

#1645 [DOCS] 💄 update `mkdocs.yml` to sort the `theme/features` list
  mkdocs.yml
Labels: root

#1648 [CI] Remove macos from Docker build
  .github/workflows/docker-build.yml
Labels: github-actions

#1626 [CI] Add pre-commit hook shellcheck-py to lint shell files
  .pre-commit-config.yaml
  .shellcheckrc
  docker/sedona-spark-jupyterlab/build.sh
  docker/sedona-spark-jupyterlab/start.sh
  docker/sedona.sh
  docker/spark.sh
Labels: sedona-docker, root

#1635 [CI] Add pre-commit hook `requirements-txt-fixer` for Python requirem…
  .pre-commit-config.yaml
  docker/sedona-spark-jupyterlab/requirements.txt
Labels: sedona-docker, root

#1650 [SEDONA-666] add ST_Scale and ST_ScaleGeom
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1654 [DOCS] Add `John Bampton` as `Committer`
  docker/sedona-spark-jupyterlab/requirements.txt
  docs/community/contributor.md
Labels: docs, sedona-docker

#1655 [SEDONA-659] Upgrade JTS version to 1.20.0
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/InscribedCircle.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  common/src/test/java/org/apache/sedona/common/TestBase.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  pom.xml
  python/sedona/sql/st_functions.py
  python/tests/core/test_spatial_rdd_from_disc.py
  python/tests/format_mapper/test_wkt_reader.py
  python/tests/spatial_operator/test_rectangle_knn.py
  python/tests/spatial_rdd/test_linestring_rdd.py
  python/tests/spatial_rdd/test_polygon_rdd.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  python/tests/test_base.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestBase.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestTableFunctions.java
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functions/TestStSubDivide.scala
Labels: sedona-python, sedona-flink, API breaking change, sedona-common, sedona-spark, sedona-snowflake, root

#1651 [CI] Fix Connection time out in Python workflow
  .github/workflows/python.yml
Labels: github-actions

#1646 [CI] Add `pre-commit` hook `name-tests-test` for Python test files
  .pre-commit-config.yaml
Labels: root

#1652 [SEDONA-667] Getis Ord
  docs/api/stats/sql.md
  docs/tutorial/sql.md
  python/Pipfile
  python/sedona/stats/hotspot_detection/__init__.py
  python/sedona/stats/hotspot_detection/getis_ord.py
  python/sedona/stats/weighting.py
  python/tests/stats/test_getis_ord.py
  python/tests/stats/test_weighting.py
  python/tests/test_base.py
  spark/common/src/main/scala/org/apache/sedona/stats/Weighting.scala
  spark/common/src/main/scala/org/apache/sedona/stats/hotspotDetection/GetisOrd.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/stats/WeightingTest.scala
  spark/common/src/test/scala/org/apache/sedona/stats/hotspotDetection/GetisOrdTest.scala
Labels: sedona-python, docs, sedona-spark

#1658 [DOCS] Update arealm-small reference
  R/vignettes/articles/apache-sedona.Rmd
Labels: sedona-r

#1659 [DOCS] Change Gitter to Discord
  docs/community/contributor.md
Labels: docs

#1661 [SEDONA-669] Fix timestamp_nz for GeoParquet reader and writer
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetRowConverter.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSchemaConverter.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: bug, sedona-spark

#1662 [SEDONA-670] Fix GeoJSON reader for DBR
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONFileFormat.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/SparkCompatUtil.scala
Labels: bug, sedona-spark

#1663 [DOCS] Fix Macro Syntax Error
  docs/tutorial/sql.md
Labels: docs

#1657 [CI] pre-commit: auto add license templates to headers of TOML files
  .github/workflows/license-templates/LICENSE.txt
  .pre-commit-config.yaml
  pyproject.toml
Labels: github-actions, root

#1665 Update pyproject.toml remove isort
  pyproject.toml
Labels: root
