Repository apache/sedona, pull requests merged in 2024-02, with the labels that each got.

#1229 [SEDONA476] Expose kepler & pydeck as extras
  docs/tutorial/sql.md
  python/sedona/maps/SedonaKepler.py
  python/sedona/maps/SedonaPyDeck.py
  python/sedona/spark/__init__.py
  python/setup.py
Labels: improvement, affect public APIs, sedona-python

#1230 [DOCS] Bump cibuildwheel version to 2.16.5
  .github/workflows/python-wheel.yml
Labels: github-actions

#1231 [SEDONA-477] Shift the origin of clip results to zero
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
Labels: improvement, behavior change, sedona-spark

#1221 [SEDONA-475] Add RS_NormalizeAll
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1232 [SEDONA-479] Update RS_Normalize
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  docs/api/sql/Raster-operators.md
Labels: bug, sedona-spark

#1233 [SEDONA-471] Support adding pandas df to SedonaKepler if geometry column is not present
  python/sedona/maps/SedonaKepler.py
  python/sedona/maps/SedonaMapUtils.py
  python/sedona/maps/SedonaPyDeck.py
  python/tests/maps/test_sedonakepler_visualization.py
Labels: bug, sedona-spark

#1234 [SEDONA-493] Update default behavior of RS_NormalizeAll
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/RasterEditors.java
  common/src/test/java/org/apache/sedona/common/raster/MapAlgebraTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-spark

#1235 [SEDONA-494] Raster data source cannot write to HDFS
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterFileFormat.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: bug, sedona-spark

#1236 [SEDONA-495] Raster data source uses shared FileSystem connections which lead to race condition
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/raster/RasterFileFormat.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
Labels: bug, sedona-spark

#1238 [SEDONA-496] Dependabot: reduce the open pull requests limit to 2
  .github/dependabot.yml
Labels: github-actions

#1239 [DOCS] Fix spelling
  docs/tutorial/zeppelin.md
Labels: docs

#1243 [SEDONA-497] Fix incorrect fieldNames property of SpatialRDD read from a directory containing multiple shapefiles
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/ShapefileReader.java
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
Labels: improvement, sedona-spark

#1248 [DOCS] Fix spelling in `binder/ApacheSedonaCore.ipynb`
  binder/ApacheSedonaCore.ipynb
Labels: docs

#1240 [SEDONA-473] Remove ucar from spark-shaded pom
  pom.xml
Labels: bug, sedona-spark

#1246 [SEDONA-498] Add ST_BestSRID
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1250 [SEDONA-500] Fix failures and data consistency problems when reading multiple shapefiles in one directory
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapeInputFormat.java
  spark/common/src/test/java/org/apache/sedona/core/formatMapper/shapefileParser/shapes/ShapefileReaderTest.java
Labels: bug, sedona-spark

#1252 [SEDONA-501] ST_Split maps to wrong Java-call
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
Labels: bug, affect public APIs, sedona-spark

#1249 [DOCS] Fix spelling in `binder/Sedona_OvertureMaps_GeoParquet.ipynb`
  binder/Sedona_OvertureMaps_GeoParquet.ipynb
Labels: docs

#1256 [SEDONA-505] Fix handling of geometries with SRID=0 in some raster functions
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, sedona-common, sedona-spark

#1258 [SEDONA-507] RS_AsImage and RS_AsPNG could properly handle non-integral band data
  common/src/main/java/org/apache/sedona/common/raster/RasterOutputs.java
  common/src/test/java/org/apache/sedona/common/raster/RasterOutputTest.java
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Raster-writer.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
Labels: bug, sedona-common, sedona-spark

#1257 [SEDONA-506] Lenient mode for RS_ZonalStats and RS_ZonalStatsAll
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, sedona-common, sedona-spark

#1255 [SEDONA-504] Add ST_ShiftLongitude
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1260 [SEDONA-476] Fixed package names of SedonaKepler and SedonaPyDeck; do not require IPython to be installed to `import sedona.spark`
  python/sedona/raster_utils/SedonaUtils.py
  python/sedona/spark/__init__.py
Labels: bug, sedona-python

#1259 [SEDONA-508] Add ST_CrossesDateLine
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/Predicates.java
  common/src/test/java/org/apache/sedona/common/PredicatesTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/sedona/sql/st_predicates.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, sedona-flink, sedona-common, sedona-spark, sedona-snowflake
