Repository apache/sedona, pull requests merged in 2024-05, with the labels that each got.

#1395 [DOCS] Add release notes for 1.6.0
  docs/setup/release-notes.md
  mkdocs.yml
Labels: docs, root

#1396 [DOCS] Bump Sedona version to 1.6.0
  R/DESCRIPTION
  R/R/dependencies.R
  common/pom.xml
  flink-shaded/pom.xml
  flink/pom.xml
  pom.xml
  python/sedona/version.py
  snowflake-tester/pom.xml
  snowflake/pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
  spark/pom.xml
  spark/spark-3.0/pom.xml
  spark/spark-3.4/pom.xml
  spark/spark-3.5/pom.xml
  zeppelin/package.json
Labels: sedona-python, sedona-r, sedona-flink, sedona-common, sedona-zeppelin, sedona-spark, sedona-snowflake, root

#1398 [SEDONA-478] Make Sedona geometry functions and spatial join working without GeoTools
  spark/common/src/main/scala/org/apache/sedona/sql/RasterRegistrator.scala
  spark/common/src/main/scala/org/apache/sedona/sql/utils/GeoToolsCoverageAvailability.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferrableRasterTypes.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredRasterExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/implicits.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/GeometryFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/MapAlgebra.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctionEditors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterAccessors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterEditors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterOutputs.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
Labels: sedona-spark

#1380 [DOCS] Sedona 1.5.2 post release doc updates
  docs/download.md
  docs/index.md
  docs/setup/maven-coordinates.md
  mkdocs.yml
Labels: docs, root

#1400 [SEDONA-554] Add RS_Union
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, affect public APIs, docs, sedona-common, sedona-spark

#1401 [SEDONA-555] Snowflake Native App should not always create a new role
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/ddl/DDLGenerator.java
Labels: bug, sedona-snowflake

#1402 [SEDONA-549] Fix memory bloat issue of RS_Union_Aggr when working with non-double band data
  common/src/main/java/org/apache/sedona/common/raster/MapAlgebra.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/raster/serde/Serde.java
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/AggregateFunctions.scala
Labels: improvement, sedona-common, sedona-spark

#1403 [DOCS] Update 1.6.0 release notes with Java 11 tutorial
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/setup/fabric.md
  docs/setup/release-notes.md
  docs/setup/wherobots.md
Labels: docs

#1405 [SEDONA-556] Hidden requirement for geopandas in apache-sedona 1.5.2
  python/sedona/maps/SedonaMapUtils.py
Labels: bug, sedona-python

#1406 [DOCS] Add 1.5.3 release notes
  docs/setup/release-notes.md
Labels: docs

#1409 [SEDONA-557] Bump Flink from 1.14.x to 1.19.0
  flink/pom.xml
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  flink/src/test/java/org/apache/sedona/flink/PredicateTest.java
Labels: improvement, sedona-flink

#1410 [SEDONA-557] Fix failed Flink tests
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
Labels: sedona-flink

#1411 Revert "[DOCS] Update 1.6.0 release notes with Java 11 tutorial (#1403)"
  docs/setup/databricks.md
  docs/setup/emr.md
  docs/setup/fabric.md
  docs/setup/release-notes.md
Labels: docs

#1412 [DOCS] Add 1.6.0-rc3 release notes
  docs/setup/flink/platform.md
  docs/setup/release-notes.md
  docs/tutorial/geopandas-shapely.md
Labels: docs

#1413 [CI] Ensure each yml change triggers the action
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python-wheel.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  R/tests/testthat/test-data-interface-raster.R
Labels: sedona-r, github-actions

#1416 [DOCS] 1.6.0 post release doc update
  docs/download.md
  docs/index.md
  mkdocs.yml
Labels: docs, root

#1418 [SEDONA-553] Update Sedona docker to use newer GeoPandas
  .pre-commit-config.yaml
  docker/sedona-spark-jupyterlab/requirements.txt
  docs/usecases/ApacheSedonaCore.ipynb
  docs/usecases/ApacheSedonaRaster.ipynb
  docs/usecases/ApacheSedonaSQL.ipynb
  docs/usecases/ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb
  docs/usecases/Pipfile
  docs/usecases/Sedona_OvertureMaps_GeoParquet.ipynb
Labels: docs, sedona-docker, root

#1425 [CI] Docker build improvements
  .github/workflows/docker-build.yml
  docker/sedona-spark-jupyterlab/.dockerignore
  docker/sedona-spark-jupyterlab/build.sh
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile.dockerignore
  docker/sedona-spark-jupyterlab/start.sh
  docker/sedona.sh
Labels: github-actions, sedona-docker

#1426 [maven-release-plugin] prepare for next development iteration
  common/pom.xml
  flink-shaded/pom.xml
  flink/pom.xml
  pom.xml
  snowflake-tester/pom.xml
  snowflake/pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
  spark/pom.xml
  spark/spark-3.0/pom.xml
  spark/spark-3.4/pom.xml
  spark/spark-3.5/pom.xml
Labels: sedona-flink, sedona-common, sedona-spark, sedona-snowflake, root

#1429 [DOCS] Update development guides to accommodate recent changes of the project
  docs/community/develop.md
  docs/image/ide-java-11.png
  docs/image/ide-java-12.png
  docs/image/ide-java-13.png
  docs/image/ide-java-9.png
Labels: docs

#1419 [DOCS] pre-commit autoupdate
  .pre-commit-config.yaml
  docs/download.md
  docs/setup/databricks.md
Labels: docs, root

#1430 [SEDONA-560] Properly handle dataframes containing 0 partitions when running spatial join
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/SpatialIndexExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/TraitJoinQueryBase.scala
  spark/common/src/test/scala/org/apache/sedona/sql/RasterJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SpatialJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SphereDistanceJoinSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: bug, sedona-spark

#1431 [SEDONA-561] Fix the examples in the core.showcase package
  spark/common/src/main/java/org/apache/sedona/core/formatMapper/shapefileParser/ShapefileRDD.java
  spark/common/src/main/java/org/apache/sedona/core/showcase/Example.java
Labels: bug, sedona-spark

#1432 [SEDONA-562] Add a native DataFrame based GeoJSON reader and writer
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
  spark/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONFileFormat.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONJacksonGenerator.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONOutputWriter.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/SparkCompatUtil.scala
  spark/common/src/test/resources/geojson/core-item.json
  spark/common/src/test/resources/geojson/geojson_feature-collection.json
  spark/common/src/test/resources/geojson/test1.json
  spark/common/src/test/resources/geojson/test12.json
  spark/common/src/test/resources/geojson/test2.json
  spark/common/src/test/scala/org/apache/sedona/sql/geojsonIOTests.scala
Labels: improvement, docs, sedona-spark

#1433 [SEDONA-563] Add ST_GeomFromEWKB
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestConstructors.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-spark, sedona-snowflake

#1435 [SEDONA-565] Add ST_ForceRHR
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-spark, sedona-snowflake

#1437 [SEDONA-567] Add ST_M
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1436 [SEDONA-566] Add ST_TriangulatePolygon
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1439 [DOCS] Fix ST_Snap Example
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
Labels: docs

#1420 [SEDONA-559] Make the flink example work
  .github/workflows/example.yml
  .gitignore
  examples/flink-sql/pom.xml
  examples/flink-sql/src/main/java/FlinkExample.java
  examples/flink-sql/src/main/resources/log4j2.properties
  examples/spark-sql/colocationMap.png
  examples/spark-sql/pom.xml
  flink/pom.xml
  pom.xml
  spark/pom.xml
  tools/maven/scalastyle_config.xml
Labels: improvement, sedona-flink, github-actions, sedona-spark, root

#1440 [SEDONA-569][SEDONA-570][SEDONA-572] Add ST_PointZM, ST_PointM, ST_PointFromWKB
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/ConstructorsTest.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestConstructors.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1441 [SEDONA-573] Add ST_HasM
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1442 [SEDONA-571][SEDONA-574] Add ST_MMin, ST_MMax
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1443 [SEDONA-575] [SEDONA-577] Add ST_LineFromWKB, ST_GeometryFromText
  common/src/main/java/org/apache/sedona/common/Constructors.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Constructor.md
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  python/sedona/sql/st_constructors.py
  python/tests/sql/test_constructor_test.py
  python/tests/sql/test_dataframe_api.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestConstructors.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1444 [SEDONA-580] New instances of RasterUDT object should equal to the RasterUDT case object
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/GeometryUDT.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/UDT/RasterUDT.scala
  spark/common/src/test/scala/org/apache/sedona/sql/GeometryUdtTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/RasterUDTSuite.scala
Labels: sedona-spark

#1445 [SEDONA-581] SedonaKepler fails to reload if a raster column exists
  python/sedona/maps/SedonaKepler.py
  python/tests/maps/test_sedonakepler_visualization.py
Labels: improvement, sedona-python
