Repository apache/sedona, pull requests merged in 2024-11, with the labels that each got.

#1672 [DOCS] Enhance the README with links for technical terms
  README.md
Labels: docs, root

#1673 [DOCS] azure synapse analytics
  docs/setup/azure-synapse-analytics.md
  mkdocs.yml
Labels: docs, root

#1666 Remove `isort` from the `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Labels: root

#1675 [DOCS] Added links to spatial computing, Spatial R and Spatial Python
  README.md
Labels: docs, root

#1674 [CI] pre-commit: auto add license headers to all YAML files
  .asf.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs.yml
  .github/workflows/example.yml
  .github/workflows/first-interaction.yml
  .github/workflows/java.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/python-extension.yml
  .github/workflows/python-wheel.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .pre-commit-config.yaml
  R/_pkgdown.yml
  mkdocs.yml
Labels: sedona-r, github-actions, root

#1679 [SEDONA-672] Bug fix for ST_LengthSpheroid
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
Labels: bug, sedona-common

#1678 [CI] Upgrade upload-artifact to v4
  .github/workflows/docs.yml
  .github/workflows/java.yml
  .github/workflows/python-wheel.yml
  .github/workflows/r.yml
Labels: github-actions

#1642 [DOCS] Fix spelling in a Python file
  python/tests/serialization/test_serializers.py
Labels: sedona-python

#1680 [SEDONA-671] Implement Spider spatial data generator
  common/src/main/java/org/apache/sedona/common/spider/BitGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/DiagonalGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/GaussianGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/Generator.java
  common/src/main/java/org/apache/sedona/common/spider/GeneratorFactory.java
  common/src/main/java/org/apache/sedona/common/spider/ParcelGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/PointBasedGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/SierpinskiGenerator.java
  common/src/main/java/org/apache/sedona/common/spider/UniformGenerator.java
  common/src/test/java/org/apache/sedona/common/spider/GeneratorTest.java
  docs/api/sql/Spider.md
  docs/image/spider/spider-bit.png
  docs/image/spider/spider-diagonal.png
  docs/image/spider/spider-gaussian.png
  docs/image/spider/spider-parcel.png
  docs/image/spider/spider-quickstart.png
  docs/image/spider/spider-sierpinski.png
  docs/image/spider/spider-uniform-affine.png
  docs/image/spider/spider-uniform.png
  mkdocs.yml
  python/tests/sql/test_spider.py
  spark/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/AffineTransform.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/SpiderDataSource.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/SpiderPartition.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/SpiderPartitionReader.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/SpiderScanBuilder.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/spider/SpiderTable.scala
  spark/common/src/test/scala/org/apache/sedona/sql/SpiderTests.scala
Labels: sedona-python, docs, sedona-common, sedona-spark, root

#1681 [SEDONA-673] Fix issue when loading geoparquet file without bbox metadata.
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSpatialFilter.scala
  spark/common/src/test/resources/geoparquet/overture/bbox.geoparquet
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: bug, sedona-spark

#1682 [SEDONA-674] Update the sedona-raster python module to support GDAL 3.10
  python/sedona/raster/sedona_raster.py
Labels: improvement, sedona-python

#1684 [SEDONA-675] Add ST_InterpolatePoint
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: improvement, affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1687 [SEDONA-677] Fix kryo deserialization of null envelopes
  common/src/main/java/org/apache/sedona/common/geometrySerde/GeometrySerde.java
  common/src/test/java/org/apache/sedona/common/geometrySerde/EnvelopeSerdeTest.java
Labels: bug, sedona-common

#1691 [SEDONA-679] Fix ST_LengthSpheroid behavior
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/sphere/Spheroid.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, API breaking change, sedona-common, sedona-spark, sedona-snowflake

#1690 [SEDONA-678] Fix ST_Length and ST_Length2D behavior
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/tests/sql/test_function.py
  python/tests/streaming/spark/test_constructor_functions.py
Labels: affect public APIs, sedona-python, docs, sedona-flink, API breaking change, sedona-common

#1692 [SEDONA-680] Remove rasterio from mandatory dependencies
  .github/workflows/python.yml
  docs/tutorial/raster.md
  python/sedona/sql/types.py
  python/setup.py
Labels: sedona-python, docs, github-actions

#1693 [DOCS] Update `ApacheSedonaSQL_SpatialJoin_AirportsPerCountry.ipynb`
  docs/tutorial/sql.md
  docs/usecases/ApacheSedonaSQL.ipynb
Labels: docs

#1695 [SEDONA-681] Bump GeoTools version from 28.2 to 28.5
  pom.xml
Labels: root

#1694 [DOCS] Prepare release notes for Sedona 1.7.0
  docs/community/publish.md
  docs/setup/release-notes.md
  mkdocs.yml
  python/tests/stats/__init__.py
Labels: sedona-python, docs, root

#1703 [DOCS] Bump Sedona Python, R and Zeppelin version to 1.7.0
  R/DESCRIPTION
  R/R/dependencies.R
  python/sedona/version.py
  zeppelin/package.json
Labels: sedona-python, sedona-r, sedona-zeppelin

#1705 [SEDONA-682] Sedona Spark 3.3 does not compile on Scala 2.13
  .github/workflows/java.yml
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/datasources/geopackage/GeoPackageScanBuilder.scala
Labels: github-actions, sedona-spark

#1704 [SEDONA-682] exclude some dependencies.
  pom.xml
  spark-shaded/pom.xml
Labels: sedona-spark, root
