Repository apache/sedona, pull requests merged in 2024-12, with the labels that each got.

#1710 [DOCS] Add 1.7.0 release news
  docs/download.md
  docs/index.md
  docs/setup/release-notes.md
  mkdocs.yml
Labels: docs, root

#1696 [CI] Auto add license to Makefiles with pre-commit
  .pre-commit-config.yaml
  Makefile
Labels: root

#1697 [DOCS] Add Python requirements file for pre-commit
  requirements.txt
Labels: root

#1698 [DOCS] Add `codespell` to `pyproject.toml`
  pyproject.toml
Labels: root

#1699 [CI] Run `pre-commit autoupdate`
  .pre-commit-config.yaml
Labels: root

#1711 [DOCS] Fix wrong GeoTools link
  docs/tutorial/sql-pure-sql.md
Labels: docs

#1714 [SEDONA-685] Deprecate custom readers writers
  R/DESCRIPTION
  R/R/data_interface.R
  R/man/sdf_register.spatial_rdd.Rd
  R/man/spark_read_shapefile.Rd
  R/man/spark_write_geojson.Rd
  R/tests/testthat/test-data-interface-raster.R
  R/tests/testthat/test-data-interface.R
Labels: sedona-r

#1717 [CI] Add pre-commit hooks for R
  .pre-commit-config.yaml
  R/R/data_interface.R
  R/tests/testthat/test-data-interface-raster.R
  R/vignettes/articles/apache-sedona.Rmd
  R/vignettes/articles/raster.Rmd
Labels: sedona-r, root

#1706 [SEDONA-636] fix some bugs when sedona parser running with other parser
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/ParserRegistrator.scala
  spark/common/src/main/scala/org/apache/sedona/sql/SedonaSqlExtensions.scala
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: bug, behavior change, sedona-spark

#1722 [CI] Revert R check in pre-commit
  .pre-commit-config.yaml
Labels: root

#1721 [DOCS] Standardize Javadoc comments for links
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/KDB.java
  spark/common/src/test/java/org/apache/sedona/core/spatialOperator/JoinQueryDeduplicationTest.java
Labels: sedona-spark

#1729 [DOCS] Develop profiles
  docs/community/develop.md
  docs/image/ide-java-14.png
Labels: docs
