Repository apache/sedona, pull requests merged in 2024-08, with the labels that each got.

#1536 [DOCS] Fix typo
  common/src/main/java/org/apache/sedona/common/geometryObjects/Circle.java
Labels: sedona-common

#1538 [DOCS] State that ST_GeomFromGML only supports GML 1 and GML 2.
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  docs/api/sql/Constructor.md
Labels: docs

#1540 [SEDONA-637] Show spatial filters pushed to GeoParquet scans in the query plan; allow disabling spatial filter pushdown
  docs/api/sql/Optimizer.md
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetSpatialFilter.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  spark/spark-3.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetFileFormat.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: improvement, docs, sedona-spark

#1539 [SEDONA-633,SEDONA-629] Add tileWidth and tileHeight to the result of RS_Metadata, changed the data types of fields of the result struct of RS_Metadata
  common/src/main/java/org/apache/sedona/common/raster/RasterAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterEditorsTest.java
  docs/api/sql/Raster-operators.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: improvement, docs, sedona-common, sedona-spark

#1541 [SEDONA-638] Submit telemetry asynchronously without blocking the initialization of SedonaContext
  common/src/main/java/org/apache/sedona/common/utils/TelemetryCollector.java
Labels: improvement, sedona-common

#1542 [SEDONA-639] Fix GeometrySplitter accuracy issues when splitting LineStrings
  common/src/main/java/org/apache/sedona/common/utils/GeometrySplitter.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
Labels: bug, sedona-common

#1545 [SEDONA-630] Fix the ENCODER_NOT_FOUND error for ST_Union_Aggr outputEncoder
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/AggregateFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/aggregateFunctionTestScala.scala
Labels: sedona-spark

#1543 [SEDONA-636] Support GEOMETRY in Spark SQL table creation DDL
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/ParserRegistrator.scala
  spark/common/src/main/scala/org/apache/spark/sql/parser/ParserFactory.scala
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.0/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.1/src/main/scala/org/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.1/src/main/scala/org/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.1/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.2/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.3/src/main/java/org/apache/sedona/Main.java
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlAstBuilder.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/SQLSyntaxTestScala.scala
Labels: sedona-spark

#1547 [SEDONA-636] Parser extension should fall back to delegated parser when parsing failed
  docs/api/sql/Parameter.md
  docs/tutorial/sql-pure-sql.md
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/spark-3.0/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.1/src/main/scala/org/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.2/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.3/src/main/java/org/apache/sedona/Main.java
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
Labels: docs, sedona-spark

#1548 [SEDONA-642] R - Update to jar naming logic
  R/DESCRIPTION
  R/R/dependencies.R
Labels: sedona-r

#1549 [SEDONA-643] [DOCS] Fix Flink constructor functions signatures & remove redundant docs
  docs/api/flink/Constructor.md
  docs/api/snowflake/vector-data/Constructor.md
  flink/src/main/java/org/apache/sedona/flink/expressions/Constructors.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
Labels: affect public APIs, docs, sedona-flink

#1550 [SEDONA-644] R – Adapt to SedonaContext flow (post 1.4.1)
  R/R/dependencies.R
Labels: sedona-r, API breaking change

#1551 [DOCS] Add Sedona 1.6.1 release notes and update docs
  binder/start
  docker/sedona-spark-jupyterlab/start.sh
  docs/api/sql/Raster-loader.md
  docs/setup/databricks.md
  docs/setup/maven-coordinates.md
  docs/setup/release-notes.md
  mkdocs.yml
Labels: docs, sedona-docker, root, binder

#1552 [DOCS] Bump Sedona Python, R, Zeppelin version to 1.6.1
  R/DESCRIPTION
  R/R/dependencies.R
  python/sedona/version.py
  zeppelin/package.json
Labels: sedona-python, sedona-r, sedona-zeppelin

#1554 [SEDONA-645] Add ST_RotateX
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1555 [SEDONA-607] Fix error message enhancements for geometry functions
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/InferredExpression.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Predicates.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/collect/ST_Collect.scala
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
Labels: sedona-spark

#1556 [DOCS] Update release notes for 1.6.1-rc2
  docs/setup/release-notes.md
  mkdocs.yml
Labels: docs, root

#1558 [SEDONA-649] Fix spelling in Java files
  spark/common/src/main/java/org/apache/sedona/viz/core/ColoringRule.java
  spark/common/src/main/java/org/apache/sedona/viz/core/VisualizationOperator.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/coloringRule/GenericColoringRule.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/coloringRule/LinearFunction.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/coloringRule/PiecewiseFunction.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/visualizationEffect/ChoroplethMap.java
  spark/common/src/main/java/org/apache/sedona/viz/extension/visualizationEffect/HeatMap.java
Labels: sedona-spark

#1557 [SEDONA-647] Add ST_RemoveRepeatedPoints
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeometryDuplicateCoordinateRemover.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#1559 [DOCS] Improve the doc publish process
  .github/workflows/docs.yml
  docs/community/publish.md
Labels: docs, github-actions

#1563 [CI] Upgrade CIBuildwheel to 2.20.0
  .github/workflows/python-wheel.yml
Labels: github-actions

#1566 [SEDONA-640] Fix the parent pom issue
  pom.xml
Labels: bug, root

#1568 [DOCS] Fix minor issues of Databricks setup guide based on my recent experience
  docs/setup/databricks.md
Labels: docs
