Repository apache/sedona, pull requests merged in 2025-09, with the labels that each got.

#2332 [GH-2331] Geopandas: Document differences of sindex compared to gpd + sindex fixes
  python/sedona/spark/geopandas/geoseries.py
  python/sedona/spark/geopandas/sindex.py
  python/tests/geopandas/test_sindex.py
Labels: sedona-python

#2340 [DOCS] Add missing license headers
  python/sedona/doc/Makefile
  scripts/pre-commit/check_makefiles_for_tabs.sh
  shade-proto/pom.xml
Labels: sedona-python, docs

#2342 [DOCS] Add 1.8.0 release notes and update corresponding docs
  README.md
  docs/community/release-manager.md
  docs/setup/compile.md
  docs/setup/databricks.md
  docs/setup/flink/platform.md
  docs/setup/glue.md
  docs/setup/maven-coordinates.md
  docs/setup/overview.md
  docs/setup/platform.md
  docs/setup/release-notes.md
  mkdocs.yml
Labels: docs, root

#2343 [DOCS] Bump Sedona Python, R, Zeppelin versions
  R/DESCRIPTION
  R/R/dependencies.R
  python/sedona/version.py
  zeppelin/package.json
Labels: sedona-python, sedona-r, sedona-zeppelin

#2346 [DOCS] Update Sedona release script
  docs/community/publish.md
Labels: docs

#2349 [GH-2348][Python] Make STAC tests resilient to external server failures
  python/tests/stac/test_client.py
  python/tests/stac/test_collection_client.py
  python/tests/stac/test_mock_fixtures.py
Labels: improvement, sedona-python

#2350 [GH-2348] Fix STAC tests resilience to external server failures in Scala
  spark/common/src/test/resources/stac/collections/copernicus-dem.json
  spark/common/src/test/resources/stac/collections/earthview-catalog.json
  spark/common/src/test/resources/stac/collections/naip.json
  spark/common/src/test/resources/stac/collections/sentinel-2-pre-c1-l2a.json
  spark/common/src/test/resources/stac/collections/vegetation-collection.json
  spark/common/src/test/resources/stac/collections/wildfire-collection.json
  spark/common/src/test/resources/stac/items/sentinel-2-items.json
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatchTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSourceTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReaderTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacTestUtils.scala
Labels: sedona-spark

#2352 [GH-2351] [CI] Fix R CI flakiness with Spark download from PySpark
  .github/workflows/r.yml
  R/tests/testthat/helper-initialize.R
Labels: sedona-r, github-actions

#2355 [DOCS] Fix comment and doc consistency issues in GeoPandas API
  python/sedona/spark/geopandas/geodataframe.py
  python/sedona/spark/geopandas/geoseries.py
  python/sedona/spark/geopandas/io.py
  python/sedona/spark/geopandas/sindex.py
  python/sedona/spark/geopandas/tools/sjoin.py
Labels: sedona-python

#2353 [DOCS] update homepage links
  docs-overrides/main.html
Labels: docs

#2361 [DOCS] blog: announce sedonadb post
  docs/blog/.authors.yml
  docs/blog/posts/intro-sedonadb.md
  docs/image/blog/sedonadb1/image1.png
  docs/image/blog/sedonadb1/image2.png
Labels: docs

#2363 docs: move cta
  docs/blog/posts/intro-sedonadb.md
Labels: docs
