Repository apache/sedona, pull requests merged in 2025-08, with the labels that each got.

#2214 [SEDONA-741] Make ST_DWithin and ST_DistanceSpheroid filters to push down
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-4.0/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
Labels: improvement, sedona-spark

#2216 [GH-2215] Retain sindex, make sindex.query return geometries, implement has_sindex
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/sindex.py
  python/tests/geopandas/test_geoseries.py
Labels: sedona-python

#2225 [GH-2194] Move sedona.geopandas to sedona.spark.geopandas
  python/sedona/spark/geopandas/__init__.py
  python/sedona/spark/geopandas/_typing.py
  python/sedona/spark/geopandas/base.py
  python/sedona/spark/geopandas/geodataframe.py
  python/sedona/spark/geopandas/geoseries.py
  python/sedona/spark/geopandas/io.py
  python/sedona/spark/geopandas/sindex.py
  python/sedona/spark/geopandas/tools/__init__.py
  python/sedona/spark/geopandas/tools/sjoin.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_io.py
  python/tests/geopandas/test_match_geopandas_dataframe.py
  python/tests/geopandas/test_match_geopandas_series.py
  python/tests/geopandas/test_sindex.py
  python/tests/geopandas/test_sjoin.py
Labels: sedona-python

#2221 [GH-2222] add Singlepoint, Singlepolyline for correctlty round trip WKT write
  common/src/main/java/org/apache/sedona/common/S2Geography/PointGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolylineGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/S2Geography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/SinglePointGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/SinglePolylineGeography.java
  common/src/test/java/org/apache/sedona/common/S2Geography/WKBReaderTest.java
Labels: sedona-common

#2238 [SEDONA-742] Push down ST_DistanceSphere filter
  common/src/main/java/org/apache/sedona/common/sphere/Haversine.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
  spark/spark-4.0/src/test/scala/org/apache/sedona/sql/GeoParquetSpatialFilterPushDownSuite.scala
Labels: improvement, sedona-common, sedona-spark

#2233 [DOCS] Add all workflow buttons to the README
  .github/workflows/pre-commit.yml
  README.md
Labels: improvement, docs, github-actions, root

#2232 [GH-2231] Implement is_ring
  python/sedona/spark/geopandas/base.py
  python/sedona/spark/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2229 [GH-2227] Add Geopandas Developer Guide README.md
  docs/community/geopandas.md
  mkdocs.yml
Labels: docs, root

#2243 [GH-2242] Geopandas: Remove orderBy in query_geometry_column
  python/sedona/spark/geopandas/base.py
  python/sedona/spark/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2248 [DOC] Fix RST formatting: Use double backticks for inline code in documentation
  python/sedona/doc/index.rst
Labels: sedona-python

#2249 [DOC] Fix documentation structure after moving sedona.geopandas to sedona.spark.geopandas
  python/sedona/doc/index.rst
  python/sedona/doc/sedona.rst
  python/sedona/doc/sedona.spark.geopandas.api.rst
  python/sedona/doc/sedona.spark.geopandas.rst
  python/sedona/doc/sedona.spark.geopandas.tools.rst
  python/sedona/doc/sedona.spark.rst
Labels: sedona-python

#2220 [CI] pre-commit: add three hooks that target `RST` files
  .pre-commit-config.yaml
Labels: root

#2253 [GH-2252] Deprecation warnings pop up in the wrong place
  python/sedona/__init__.py
  python/sedona/core/spatialOperator/__init__.py
  python/sedona/raster_utils/SedonaUtils.py
  python/sedona/sql/__init__.py
  python/sedona/stac/__init__.py
  python/sedona/stats/clustering/dbscan/__init__.py
  python/sedona/stats/hotspot_detection/getis_ord/__init__.py
  python/sedona/stats/weighting/__init__.py
  python/sedona/utils/__init__.py
  python/sedona/utils/structured_adapter/__init__.py
  python/tests/test_path_compatibility.py
  python/tests/test_path_compatibility_all.py
Labels: sedona-python

#2256 [GH-2255]add test for ST_GeogFromWKB(byte array)
  common/src/test/java/org/apache/sedona/common/Geography/ConstructorsTest.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsTest.scala
Labels: sedona-common, sedona-spark

#2257 [GH-2258] add MULTIPOLYGON Type in Geography
  common/src/main/java/org/apache/sedona/common/S2Geography/Geography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/GeographyCollection.java
  common/src/main/java/org/apache/sedona/common/S2Geography/MultiPolygonGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKBReader.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKTReader.java
  common/src/test/java/org/apache/sedona/common/S2Geography/WKBReaderTest.java
Labels: sedona-common

#2259 [DOCS] Replace old pypistats badges with Pepy tech badges
  README.md
Labels: docs, root

#2268 [DOC] Add the Python documentation links to the main navigation
  README.md
  mkdocs.yml
Labels: docs, root

#2267 [GH-2266] Geopandas: Remove unnecessary old_crs check and in `to_crs`
  python/sedona/spark/geopandas/geodataframe.py
  python/sedona/spark/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
Labels: sedona-python

#2265 [GH-2264] Geopandas: Support other of type GeoDataframe in row_wise_operations
  python/sedona/spark/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
Labels: sedona-python

#2270 [GH-2269] Geopandas: Fix geodataframe.copy() to properly create a copy
  python/sedona/spark/geopandas/geodataframe.py
  python/tests/geopandas/test_geodataframe.py
Labels: sedona-python

#2274 [GH-2273] Fix GeoPandas errors and issues in the examples
  python/sedona/spark/geopandas/geodataframe.py
  python/sedona/spark/geopandas/geoseries.py
Labels: sedona-python

#2262 [GH-2263]add new constructor ST_GeogFromEWKT
  common/src/main/java/org/apache/sedona/common/S2Geography/WKTReader.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKTWriter.java
  common/src/main/java/org/apache/sedona/common/geography/Constructors.java
  common/src/test/java/org/apache/sedona/common/Geography/ConstructorsTest.java
  docs/api/sql/geography/Constructor.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geography/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsTest.scala
Labels: docs, sedona-common, sedona-spark

#2260 [GH-2261]add new constructor ST_GeogFromEKWB
  common/src/test/java/org/apache/sedona/common/Geography/ConstructorsTest.java
  docs/api/sql/geography/Constructor.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geography/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsTest.scala
Labels: docs, sedona-common, sedona-spark

#2280 [GH-2279] Geopandas: Support sjoin with `covers` and `covered_by` predicates
  python/sedona/spark/geopandas/geodataframe.py
  python/sedona/spark/geopandas/tools/sjoin.py
  python/tests/geopandas/test_sjoin.py
Labels: sedona-python

#2275 [GH-2276] new constructor of convert Geography to Geometry
  common/src/main/java/org/apache/sedona/common/geography/Constructors.java
  common/src/test/java/org/apache/sedona/common/Geography/ConstructorsTest.java
  docs/api/sql/geography/Constructor.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geography/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsTest.scala
Labels: docs, sedona-common, sedona-spark

#2295 [GH-2294] Introduce XYZM support in GeoJSON reader and writer
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/jts2geojson/GeoJSONReader.java
  common/src/main/java/org/apache/sedona/common/jts2geojson/GeoJSONWriter.java
  common/src/main/java/org/apache/sedona/common/utils/FormatUtils.java
  common/src/test/java/org/apache/sedona/common/jts2geojson/GeoJSONReaderTest.java
  common/src/test/java/org/apache/sedona/common/jts2geojson/GeoJSONWriterTest.java
  flink/src/test/java/org/apache/sedona/flink/ConstructorTest.java
  flink/src/test/java/org/apache/sedona/flink/TestBase.java
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/test/java/org/apache/sedona/core/utils/testGeoJSON.java
Labels: sedona-flink, sedona-common, sedona-spark

#2282 [GH-2281] Geopandas: set ps option 'compute.ops_on_diff_frames' to True by default
  python/sedona/spark/geopandas/__init__.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_dataframe.py
Labels: sedona-python

#2287 [SEDONA-743] Add geom from mysql function, to support loading MySQL geometry object directly to Sedona.
  common/src/main/java/org/apache/sedona/common/Constructors.java
  docs/api/sql/Constructor.md
  spark/common/pom.xml
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Constructors.scala
  spark/common/src/test/resources/mysql/init_mysql.sql
  spark/common/src/test/scala/org/apache/sedona/sql/constructorTestScala.scala
Labels: docs, sedona-common, sedona-spark

#2305 [GH-2036] update more robust instream count for Geography decode
  common/src/main/java/org/apache/sedona/common/S2Geography/GeographyCollection.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolylineGeography.java
Labels: sedona-common

#2298 [GH-2302] add constructor of Geometry to Geography
  common/src/main/java/org/apache/sedona/common/geography/Constructors.java
  common/src/test/java/org/apache/sedona/common/Geography/ConstructorsTest.java
  docs/api/sql/geography/Constructor.md
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/geography/Constructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_constructors.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/ConstructorsTest.scala
Labels: docs, sedona-common, sedona-spark

#2285 [GH-2286] ST_Envelope on Geography
  common/src/main/java/org/apache/sedona/common/geography/Functions.java
  common/src/test/java/org/apache/sedona/common/Geography/FunctionTest.java
  docs/api/sql/geography/Function.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/FunctionsDataFrameAPITest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geography/FunctionsTest.scala
Labels: docs, sedona-common, sedona-spark

#2278 [GH-2277] Geopandas: Fix to_file inferring parquet format instead of geoparquet
  python/sedona/spark/geopandas/io.py
  python/tests/geopandas/test_io.py
Labels: sedona-python

#2312 [GH-2308] Fix the precision lost issue in OSM PBF reader
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/NodeExtractor.java
  spark/common/src/test/scala/org/apache/sedona/sql/OsmReaderTest.scala
Labels: bug, sedona-spark

#2323 [GH-2312] Fix the precision lost issue in OSM PBF again
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/DenseNodeExtractor.java
  spark/common/src/test/scala/org/apache/sedona/sql/OsmReaderTest.scala
Labels: bug, sedona-spark
