Repository apache/sedona, pull requests merged in 2025-05, with the labels that each got.

#1937 [CI] pre-commit: autoupdate and update Node LTS version
  .pre-commit-config.yaml
Labels: root

#1938 [DOCS] Standardize Markdown filenames
  docs/api/sql/Visualization-SedonaKepler.md
  docs/api/sql/Visualization-SedonaPyDeck.md
  mkdocs.yml
Labels: docs, root

#1940 [DOCS] Fix links in Markdown files
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  docs/tutorial/sql.md
Labels: docs

#1941 [DOCS] Update setup for MkDocs and pre-commit; add missing dependency…
  docs/setup/compile.md
  requirements-docs.txt
Labels: docs, root

#1942 [GH-1943] Upgrade to Java 11
  .github/workflows/docs.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/geometryObjects/Circle.java
  examples/flink-sql/pom.xml
  examples/spark-sql/pom.xml
  pom.xml
  shade-proto/pom.xml
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/DynamicIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/LeftIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/NestedLoopJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/RightIndexLookupJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/KDB.java
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/test/java/org/apache/sedona/core/spatialOperator/PolygonKnnTest.java
  spark/common/src/test/java/org/apache/sedona/core/utils/testGeoJSON.java
Labels: affect public APIs, sedona-common, github-actions, sedona-spark, root

#1947 [SEDONA-734] Fix relation parsing in OSM reader
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/RelationExtractor.java
  spark/common/src/test/scala/org/apache/sedona/sql/OsmReaderTest.scala
Labels: bug, sedona-spark

#1952 [SEDONA-735] Fix RS_Clip bug caused by AOI geometries smaller than pixel size
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/raster/Rasterization.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
Labels: bug, sedona-common

#1875 [SEDONA-725] Add pyflink to Sedona.
  .github/workflows/lint.yml
  .github/workflows/pyflink.yml
  docs/setup/flink/install-python.md
  docs/tutorial/flink/pyflink-sql.md
  mkdocs.yml
  python/sedona/flink/__init__.py
  python/sedona/flink/context.py
  python/setup.py
  python/tests/flink/conftest.py
  python/tests/flink/test_flink_registration.py
Labels: attention needed, affect public APIs, sedona-python, docs, github-actions, root

#1964 [GH-1945] Shade Jiffle and its dependencies
  common/pom.xml
  pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
Labels: bug, sedona-common, sedona-spark, root
