Repository apache/sedona, pull requests merged in 2025-04, with the labels that each got.

#1859 [SEDONA-721] Add Sedona vectorized udf for Python
  .github/workflows/java.yml
  docs/tutorial/sql.md
  python/sedona/sql/functions.py
  python/tests/utils/test_pandas_arrow_udf.py
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/PythonEvalType.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategies/SedonaArrowEvalPython.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/udf/ExtractSedonaUDFRule.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/udf/SedonaArrowEvalPython.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/udf/SedonaArrowStrategy.scala
  spark/spark-3.5/src/test/scala/org/apache/spark/sql/udf/StrategySuite.scala
  spark/spark-3.5/src/test/scala/org/apache/spark/sql/udf/TestScalarPandasUDF.scala
Labels: improvement, sedona-python, docs, github-actions, sedona-spark

#1901 [CI] Optimize docs workflow; pip install -r requirements-docs.txt
  .github/workflows/docs.yml
Labels: github-actions

#1907 [DOCS] Fix Referer of matomo tracking pixel
  mkdocs.yml
Labels: root

#1906 [GH-1900] Fixing ActionLint suggestions on Github Action files
  .github/workflows/docker-build.yml
  .github/workflows/docs.yml
  .github/workflows/example.yml
  .github/workflows/java.yml
  .github/workflows/lint.yml
  .github/workflows/python.yml
Labels: github-actions

#1912 [GH-1905] Increment Spark minor version in Databricks setup guide
  docs/setup/databricks.md
Labels: docs

#1903 [DOCS] README: fix case / spelling of GitHub brand name
  README.md
Labels: docs, root

#1909 [SEDONA-690] Set default metric to use Haversine for KNN join and code refactoring
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/InMemoryKNNJoinIterator.java
  spark/common/src/main/java/org/apache/sedona/core/joinJudgement/KnnJoinIndexJudgement.java
  spark/common/src/main/java/org/apache/sedona/core/spatialOperator/JoinQuery.java
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastObjectSideKNNJoinExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastQuerySideKNNJoinExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/KNNJoinExec.scala
  spark/common/src/test/scala/org/apache/sedona/sql/KnnJoinSuite.scala
Labels: improvement, sedona-spark

#1916 [SEDONA-720] Refactor GeoPandas Dataframe implementation
  python/sedona/geopandas/geodataframe.py
  python/tests/geopandas/test_geodataframe.py
Labels: sedona-python

#1917 [SEDONA-720] Refactor GeoPandas Series implementation
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
Labels: improvement, sedona-python

#1921 [DOCS] Update the Discord invite link
  CONTRIBUTING.md
  README.md
  docs/community/contact.md
  mkdocs.yml
Labels: docs, root

#1923 [GH-1922] ST_X/Y/Z ON null geometries
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
Labels: bug, sedona-common

#1926 [GH-1761] error when invalid ST_Subdivide maxVertices argument
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, docs, sedona-common, sedona-spark

#1927 [DOCS] Fix the wrong discord link
  CONTRIBUTING.md
  README.md
  docs/community/contact.md
  mkdocs.yml
Labels: docs, root

#1928 [CI] Fix failed Python build extension CI
  .github/workflows/python-extension.yml
Labels: github-actions

#1929 [GH-1910] Import geopandas only when type checking
  python/sedona/utils/geoarrow.py
Labels: bug, sedona-python

#1932 [GH-1931] Move packaging module import to geopandas try-except block
  python/sedona/maps/SedonaMapUtils.py
Labels: bug, sedona-python
