Repository apache/sedona, pull requests merged in 2025-06, with the labels that each got.

#1970 [DOCS] Add 1.7.2 release notes
  docs/setup/release-notes.md
Labels: docs

#1971 [DOCS] Add missing Apache file headers
  docker/docs/Dockerfile
  docker/zeppelin/update-zeppelin-interpreter.sh
Labels: sedona-docker

#1972 [DOCS] update R README.md fix typo
  R/README.md
Labels: sedona-r

#1978 [CI] pre-commit auto add missing license headers
  .editorconfig
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .shellcheckrc
  R/.gitignore
  R/vignettes/.gitignore
  common/.gitignore
  common/src/.gitignore
  common/src/main/.gitignore
  docs/api/.gitignore
  docs/usecases/.gitignore
  examples/flink-sql/.gitignore
  examples/flink-sql/src/test/resources/.gitignore
  examples/spark-sql/.gitignore
  examples/spark-sql/src/test/resources/.gitignore
  flink-shaded/.gitignore
  flink/.gitignore
  python/.gitignore
  snowflake-tester/.gitignore
  snowflake/.gitignore
  spark-shaded/.gitignore
  spark/.gitignore
  spark/common/.gitignore
  spark/common/src/.gitignore
  spark/common/src/main/.gitignore
  spark/common/src/test/.gitignore
  spark/common/src/test/resources/.gitignore
  spark/spark-3.4/.gitignore
  spark/spark-3.5/.gitignore
  zeppelin/.gitignore
Labels: sedona-python, docs, sedona-r, sedona-flink, sedona-common, sedona-zeppelin, sedona-spark, sedona-snowflake, root

#1976 [CI] gha: set default workflow permissions
  .github/workflows/docs.yml
  .github/workflows/first-interaction.yml
  .github/workflows/pyflink.yml
  .github/workflows/python-wheel.yml
  .github/workflows/r.yml
Labels: github-actions

#1981 [GH-1980] Hardcoded file paths to local user files
  docs/image/geospark-zeppelin-demo.json
  spark/common/src/test/java/org/apache/sedona/viz/NYCTripTest.java
Labels: docs, sedona-spark

#1983 [CI] Fix issues with the sql function tests
  python/tests/sql/test_function.py
Labels: sedona-python

#1986 [DOCS] sedona distance
  docs/image/tutorial/concepts/distance1.png
  docs/image/tutorial/concepts/distance2.png
  docs/image/tutorial/concepts/distance3.png
  docs/image/tutorial/concepts/distance4.png
  docs/image/tutorial/concepts/distance5.png
  docs/tutorial/concepts/clustering-algorithms.md
  docs/tutorial/concepts/distance-spark.md
  docs/tutorial/concepts/spatial-joins.md
  mkdocs.yml
Labels: docs, root

#1989 [DOCS] Fix discord badge image
  docs-overrides/main.html
  docs/community/contact.md
Labels: docs

#1991 [CI] Add 2 more names to the collaborator list
  .asf.yaml
Labels: root

#1999 [CI] fix: Standardize the pre-commit config
  .pre-commit-config.yaml
Labels: root

#2003 [GH-2002] Add params to KeplerGl constructor
  python/sedona/spark/maps/SedonaKepler.py
Labels: improvement, affect public APIs, sedona-python

#2005 [GH-2004] Geopandas.GeoSeries: Implement Test Framework
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: improvement, sedona-python

#2011 [DOCS] Fix issues in the Compile Sedona source code page to make it easy to setup dev environment
  docs/setup/compile.md
Labels: docs

#2008 [GH-2007] Geopandas.Dataframe: Fix constructor for pandas-on-pyspark and Sedona Geopandas input types
  python/sedona/geopandas/geodataframe.py
  python/tests/geopandas/test_geodataframe.py
Labels: improvement, sedona-python

#2030 [GH-2004] Log advice for to_geopandas function and only use internal calls for constructor
  python/sedona/geopandas/geoseries.py
Labels: sedona-python

#2029 [CI] Rename `lint` workflow to `pre-commit`
  .github/workflows/pre-commit.yml
Labels: github-actions
