Repository apache/sedona, pull requests merged in 2025-03, with the labels that each got.

#1837 [DOCS] add shapefiles documentation page
  docs/tutorial/files/shapefiles-sedona-spark.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs, root

#1839 [SEDONA-704] Add support to load items directly form catalog without using collection id and fix limit issues
  docs/api/sql/Stac.md
  python/sedona/stac/client.py
  python/tests/stac/test_client.py
  python/tests/stac/test_collection_client.py
  python/tests/test_base.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatch.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSource.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtils.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSourceTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacTableTest.scala
Labels: bug, sedona-python, docs, sedona-spark

#1841 [SEDONA-718] Auto Detect geometry column in GeoJSON writer
  docs/tutorial/files/geojson-sedona-spark.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/geojson/GeoJSONFileFormat.scala
  spark/common/src/test/scala/org/apache/sedona/sql/geojsonIOTests.scala
Labels: docs, sedona-spark

#1847 [SEDONA-704] Fix STC reader option issues and add retry logic
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatch.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReader.scala
Labels: bug, sedona-spark

#1849 [DOCS] Update the community docs
  .github/pull_request_template.md
  docs/community/contact.md
  docs/community/rule.md
Labels: docs, github-actions

#1851 [DOCS] Add missing license header
  python/tests/utils/test_arrow_conversion_geopandas_to_sedona.py
Labels: sedona-python

#1853 [DOCS] Add Sedona 1.7.1 release notes
  docs/setup/release-notes.md
Labels: docs

#1843 [SEDONA-720] Add GeoPandas Compatible API on Sedona - framework
  python/sedona/geopandas/__init__.py
  python/sedona/geopandas/_typing.py
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoindex.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/internal.py
  python/sedona/geopandas/tools/__init__.py
  python/sedona/geopandas/tools/sjoin.py
  python/tests/geopandas/__init__.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_sjoin.py
Labels: attention needed, affect public APIs, sedona-python

#1857 [DOCS] Update the release script and docs
  NOTICE
  docs/community/publish.md
  snowflake-tester/pom.xml
Labels: docs, sedona-snowflake, root

#1858 [DOCS] Add 1.7.1 release news
  README.md
  docs/download.md
  docs/index.md
Labels: docs, root

#1860 [SEDONA-722] Fix precision loss problems caused by casting world coordinates from double to float
  common/src/main/java/org/apache/sedona/common/utils/RasterUtils.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionsTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, sedona-common, sedona-spark

#1861 [SEDONA-704] Optimize STAC reader and fix few issues
  docs/tutorial/files/stac-sedona-spark.md
  python/sedona/stac/collection_client.py
  python/tests/stac/test_client.py
  python/tests/stac/test_collection_client.py
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatch.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSource.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReader.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacScan.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacScanBuilder.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacTable.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialTemporalFilterPushDownForStacScan.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatchTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSourceTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReaderTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtilsTest.scala
Labels: improvement, sedona-python, docs, sedona-spark

#1862 [DOCS] Bump Sedona versions in doc
  mkdocs.yml
Labels: root

#1870 [DOCS] add missing useSpheroid argument to ST_DBSCAN docs
  docs/api/sql/Function.md
Labels: docs

#1871 [SEDONA-724] Fix RS_ZonalStats and RS_ZonalStatsAll edge case bug
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, improvement, sedona-common, sedona-spark

#1872 [GH-1868] Fix spark sql extension load failure when parser failed to load
  spark/common/src/main/scala/org/apache/sedona/sql/SedonaSqlExtensions.scala
Labels: bug, sedona-spark

#1876 [SEDONA-726] Fix ST_Force_2D and add ST_Force2D
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/main/java/org/apache/sedona/common/utils/GeometryForce2DTransformer.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1877 [DOCS] Update the Databricks doc to reflect issues on DBR 16
  docs/setup/databricks.md
Labels: docs

#1878 [DOCS] Re-enable GitHub discussion due to ASF Infra change
  .asf.yaml
Labels: root

#1879 [DOCS] Add notification target for GitHub Discussions
  .asf.yaml
Labels: root

#1883 [SEDONA-704] Add the grid extension to the stac reader
  docs/tutorial/files/stac-sedona-spark.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacExtension.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtils.scala
  spark/common/src/test/resources/datasource_stac/extended-item.json
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSourceTest.scala
Labels: improvement, docs, sedona-spark

#1880 [CI] pre-commit(scala): auto add and standardize license headers
  .pre-commit-config.yaml
  examples/spark-sql/src/main/scala/RddExample.scala
  examples/spark-sql/src/main/scala/SqlExample.scala
  examples/spark-sql/src/main/scala/VizExample.scala
Labels: root

#1882 [DOCS] Fix case / spelling
  docs/community/contact.md
Labels: docs

#1881 [DOCS] Format Python Markdown codeblocks with black
  docs/tutorial/concepts/spatial-joins.md
  docs/tutorial/files/geojson-sedona-spark.md
  docs/tutorial/files/geopackage-sedona-spark.md
  docs/tutorial/files/geoparquet-sedona-spark.md
  docs/tutorial/files/shapefiles-sedona-spark.md
Labels: docs

#1884 [CI] pre-commit(insert-license): fix bug in comment markers for .c an…
  .pre-commit-config.yaml
Labels: root

#1716 [CI] Add prettier pre-commit hook and format YAML files
  .asf.yaml
  .github/linters/.yaml-lint.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs.yml
  .github/workflows/first-interaction.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  R/_pkgdown.yml
  mkdocs.yml
Labels: sedona-r, github-actions, root

#1887 [DOCS] Fix spelling in Java code
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
Labels: sedona-common

#1891 [CI] Update CODEOWNERS add @jbampton for pre-commit config
  .github/CODEOWNERS
Labels: github-actions

#1885 [GH-1886] Create EnvelopeAccumulator class
  spark/common/src/main/java/org/apache/sedona/core/monitoring/EnvelopeAccumulator.java
Labels: improvement, sedona-spark

#1892 chore: standardize spelling in Java code
  common/src/main/java/org/apache/sedona/common/utils/FormatUtils.java
Labels: sedona-common

#1890 [CI] Clean up the ignored words list `codespell.txt`
  .github/linters/codespell.txt
Labels: github-actions

#1894 [CI] Update CODEOWNERS add reviewers for linters
  .github/CODEOWNERS
Labels: github-actions

#1889 [CI] pre-commit: add `requirements-docs.txt` to `requirements-txt-fixer`
  .pre-commit-config.yaml
  Makefile
  requirements-dev.txt
  requirements-docs.txt
Labels: root

#1896 [SEDONA-727] Relocate ST_LabelPoint to alphabetical order in docs
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
Labels: docs

#1897 [SEDONA-728] Fix Rasterization clamping bug
  common/src/main/java/org/apache/sedona/common/raster/Rasterization.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, sedona-common, sedona-spark

#1638 [CI] Add pre-commit hook `pyupgrade` to auto upgrade Python syntax
  .pre-commit-config.yaml
  python/sedona/core/jvm/config.py
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/maps/SedonaPyDeck.py
  python/sedona/raster/meta.py
  python/sedona/raster/raster_serde.py
  python/sedona/sql/dataframe_api.py
  python/sedona/utils/decorators.py
  python/sedona/utils/geometry_serde.py
  python/sedona/utils/geometry_serde_general.py
  python/sedona/utils/meta.py
  python/setup.py
  python/tests/core/test_avoiding_python_jvm_serde_df.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_sjoin.py
  python/tests/sql/test_function.py
  python/tests/stats/test_dbscan.py
Labels: sedona-python, root
