Repository apache/sedona, pull requests merged in 2025-01, with the labels that each got.

#1737 [CI] Clean up and standardize the pre-commit config
  .pre-commit-config.yaml
Labels: root

#1736 [SEDONA-689] Geostats SQL
  docs/api/sql/Function.md
  python/sedona/sql/st_functions.py
  python/sedona/stats/clustering/dbscan.py
  python/sedona/stats/outlier_detection/local_outlier_factor.py
  python/sedona/stats/weighting.py
  python/tests/sql/test_dataframe_api.py
  spark/common/pom.xml
  spark/common/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/sedona/stats/Weighting.scala
  spark/common/src/main/scala/org/apache/sedona/stats/clustering/DBSCAN.scala
  spark/common/src/main/scala/org/apache/sedona/stats/outlierDetection/LocalOutlierFactor.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/GeoStatsFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/ExtractGeoStatsFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/plans/logical/EvalGeoStatsFunction.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/geostats/EvalGeoStatsFunctionExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/geostats/EvalGeoStatsFunctionStrategy.scala
  spark/common/src/test/scala/org/apache/sedona/sql/GeoStatsSuite.scala
Labels: improvement, affect public APIs, sedona-python, docs, sedona-spark

#1739 [SEDONA-688] Verify KNN parameter K must be equal or larger than 1
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastObjectSideKNNJoinExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/BroadcastQuerySideKNNJoinExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/JoinQueryDetector.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/join/KNNJoinExec.scala
  spark/common/src/test/scala/org/apache/sedona/sql/KnnJoinSuite.scala
Labels: bug, sedona-spark

#1745 [SEDONA-693] Add ST_Perimeter2D
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-spark, sedona-snowflake

#1759 [SEDONA-698] Fix ST_RemoveRepeatedPoints
  common/src/main/java/org/apache/sedona/common/utils/GeometryDuplicateCoordinateRemover.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: bug, sedona-common, sedona-spark

#1750 [DOCS] add contributing file
  CONTRIBUTING.md
Labels: root

#1749 [SEDONA-699] Fix issue with not closing parquet files.
  spark/spark-3.3/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/v2/geoparquet/metadata/GeoParquetMetadataPartitionReaderFactory.scala
Labels: bug, sedona-spark

#1762 [DOCS] makes top-level navigation persistent as readers scroll, adds …
  mkdocs.yml
Labels: root

#1760 [SEDONA-697] Make getGeometryColumnName a public function
  spark/common/src/main/scala/org/apache/sedona/stats/Weighting.scala
  spark/common/src/main/scala/org/apache/sedona/stats/clustering/DBSCAN.scala
  spark/common/src/main/scala/org/apache/sedona/stats/outlierDetection/LocalOutlierFactor.scala
  spark/common/src/main/scala/org/apache/sedona/util/DfUtils.scala
Labels: sedona-spark

#1763 [SEDONA-700] Fix ST_KNN fails on null and empty geometries
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/quadtree/ExtendedQuadTree.java
  spark/common/src/main/scala/org/apache/sedona/sql/utils/GeometrySerializer.scala
  spark/common/src/test/scala/org/apache/sedona/sql/KnnJoinSuite.scala
Labels: sedona-spark

#1765 [SEDONA-701] Add ST_LineSegments
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: affect public APIs, sedona-python, docs, sedona-flink, sedona-common, sedona-spark

#1772 [DOCS] add sedona clustering algorithms page
  docs/image/tutorial/concepts/dbscan-clustering.png
  docs/image/tutorial/concepts/dbscan-scatterplot-points.png
  docs/tutorial/concepts/clustering-algorithms.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs, root

#1775 [SEDONA-704] Add the STAC datasource reader
  docs/api/sql/Stac.md
  spark/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/spark/sql/execution/datasource/stac/TemporalFilter.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatch.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSource.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartition.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReader.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacScan.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacScanBuilder.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacTable.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialFilterPushDownForGeoParquet.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/SpatialTemporalFilterPushDownForStacScan.scala
  spark/common/src/test/resources/datasource_stac/collection-items.json
  spark/common/src/test/resources/datasource_stac/collection.json
  spark/common/src/test/resources/datasource_stac/core-item.json
  spark/common/src/test/resources/datasource_stac/extended-item.json
  spark/common/src/test/resources/datasource_stac/nested/nested-collection.json
  spark/common/src/test/resources/datasource_stac/nested/nested-item.json
  spark/common/src/test/resources/datasource_stac/nested/nested-items.json
  spark/common/src/test/resources/datasource_stac/simple-item.json
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacBatchTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacDataSourceTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacPartitionReaderTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacTableTest.scala
  spark/common/src/test/scala/org/apache/spark/sql/sedona_sql/io/stac/StacUtilsTest.scala
Labels: improvement, docs, sedona-spark

#1779 [DOCS] adding google tag for Sedona
  docs-overrides/main.html
Labels: docs

#1782 [DOC] Add link to STAC doc the mkdocs yml file
  mkdocs.yml
Labels: root
