Repository apache/sedona, pull requests merged in 2025-07, with the labels that each got.

#2014 [GH-2013] Geopandas.Series: Implement crs property and set_crs
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#1992 [GH-1996] Create object of S2Geography, and implement Point/Polyline/PolygonGeography with its encoder/decoder
  common/pom.xml
  common/src/main/java/org/apache/sedona/common/S2Geography/EncodeOptions.java
  common/src/main/java/org/apache/sedona/common/S2Geography/EncodeTag.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PointGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolygonGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolylineGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/S2Geography.java
  common/src/test/java/org/apache/sedona/common/S2Geography/PointGeographyTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/PolygonGeographyTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/PolylineGeographyTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/TestHelper.java
Labels: sedona-common

#2021 [GH-2020] Geopandas.GeoSeries: Implement .length and refactor process_geometry_column()
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: improvement, sedona-python

#2017 [GH-2016] Geopandas.GeoSeries: Implement x(), y(), z(), has_z
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: improvement, sedona-python

#2033 chore: remove tabs and indent code
  docker/install-sedona.sh
  flink/pom.xml
  spark/pom.xml
Labels: sedona-flink, sedona-docker, sedona-spark

#2026 [GH-2025] Geopandas.GeoSeries: Implement is_valid, is_empty, is_simple
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: improvement, affect public APIs, sedona-python

#2040 [GH-2039] Geopandas.GeoSeries: Implement from_wkb, from_wkt, from_xy + temp __init__ fix
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2054 [GH-1996] Shade S2 and Guava into runtime JARs
  common/pom.xml
  flink-shaded/pom.xml
  flink/pom.xml
  pom.xml
  snowflake/pom.xml
  spark-shaded/pom.xml
  spark/common/pom.xml
  spark/spark-3.4/pom.xml
  spark/spark-3.5/pom.xml
  spark/spark-4.0/pom.xml
Labels: sedona-flink, sedona-common, sedona-spark, sedona-snowflake, root

#2063 [GH-2062] Fix failing Geopandas tests after recent PR merges
  python/sedona/geopandas/geoseries.py
Labels: bug, sedona-python

#2032 [GH-2031] Geopandas.GeoSeries: Implement isna, notna and aliases (isnull, notnull)
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2064 [DOC] Add Sphinx Doc Build Framework to Sedona Python
  python/.gitignore
  python/sedona/README.md
  python/sedona/doc/Makefile
  python/sedona/doc/conf.py
  python/sedona/doc/index.rst
  python/sedona/doc/make.bat
  python/sedona/doc/modules.rst
  python/sedona/doc/sedona.flink.rst
  python/sedona/doc/sedona.geopandas.rst
  python/sedona/doc/sedona.geopandas.tools.rst
  python/sedona/doc/sedona.rst
  python/sedona/doc/sedona.spark.core.SpatialRDD.rst
  python/sedona/doc/sedona.spark.core.enums.rst
  python/sedona/doc/sedona.spark.core.formatMapper.rst
  python/sedona/doc/sedona.spark.core.formatMapper.shapefileParser.rst
  python/sedona/doc/sedona.spark.core.geom.rst
  python/sedona/doc/sedona.spark.core.geom.shapely1.rst
  python/sedona/doc/sedona.spark.core.geom.shapely2.rst
  python/sedona/doc/sedona.spark.core.jvm.rst
  python/sedona/doc/sedona.spark.core.rst
  python/sedona/doc/sedona.spark.core.spatialOperator.rst
  python/sedona/doc/sedona.spark.geoarrow.rst
  python/sedona/doc/sedona.spark.maps.rst
  python/sedona/doc/sedona.spark.raster.rst
  python/sedona/doc/sedona.spark.raster_utils.rst
  python/sedona/doc/sedona.spark.register.rst
  python/sedona/doc/sedona.spark.rst
  python/sedona/doc/sedona.spark.sql.rst
  python/sedona/doc/sedona.spark.stac.rst
  python/sedona/doc/sedona.spark.stats.clustering.rst
  python/sedona/doc/sedona.spark.stats.hotspot_detection.rst
  python/sedona/doc/sedona.spark.stats.outlier_detection.rst
  python/sedona/doc/sedona.spark.stats.rst
  python/sedona/doc/sedona.spark.utils.rst
  python/sedona/doc/sedona.stac.rst
  python/sedona/doc/sedona.stats.clustering.dbscan.rst
  python/sedona/doc/sedona.stats.clustering.rst
  python/sedona/doc/sedona.stats.hotspot_detection.getis_ord.rst
  python/sedona/doc/sedona.stats.hotspot_detection.rst
  python/sedona/doc/sedona.stats.outlier_detection.local_outlier_factor.rst
  python/sedona/doc/sedona.stats.outlier_detection.rst
  python/sedona/doc/sedona.stats.rst
  python/sedona/doc/sedona.stats.weighting.rst
  python/sedona/doc/sedona.utils.geoarrow.rst
  python/sedona/doc/sedona.utils.rst
  python/sedona/doc/sedona.utils.structured_adapter.rst
Labels: sedona-python

#2073 [GH-2072] Fix Structured Adapter Issue with Spatial Queries
  python/tests/sql/test_structured_adapter.py
  spark/common/src/main/scala/org/apache/sedona/python/wrapper/utils/implicits.scala
Labels: bug, sedona-python, sedona-spark

#2056 [GH-2055] Geopandas.GeoSeries: Implement estimate_utm_crs, bounds, total_bounds
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2067 [GH-2066] Implement spatial index sindex query() and unit tests
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoindex.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/sindex.py
  python/tests/geopandas/test_sindex.py
Labels: affect public APIs, sedona-python

#2076 [CI] Remove duplicate versions matrix entry in python.yml
  .github/workflows/python.yml
Labels: github-actions

#2027 [GH-2028] Implementations of GeographyCollection & ShapeIndexGeography on S2Geography Apache Sedona
  common/src/main/java/org/apache/sedona/common/S2Geography/EncodeOptions.java
  common/src/main/java/org/apache/sedona/common/S2Geography/EncodedShapeIndexGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/GeographyCollection.java
  common/src/main/java/org/apache/sedona/common/S2Geography/GeographyIndex.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolygonGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/S2Geography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/ShapeIndexGeography.java
  common/src/test/java/org/apache/sedona/common/S2Geography/GeographyCollectionTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/ShapeIndexGeographyTest.java
Labels: sedona-common

#2086 [GH-2049] Retain index information in query results
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2071 [GH-2070] Geopandas.GeoSeries: Implement `get_geometry`
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2042 [GH-2041] Implement boundary, centroid, envelope
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2081 [DOCS] standing up blog infra
  .pre-commit-config.yaml
  docs/blog/.authors.yml
  docs/blog/.vscode/ltex.dictionary.en-US.txt
  docs/blog/index.md
  docs/blog/posts/.vscode/ltex.dictionary.en-US.txt
  docs/blog/posts/intro-to-sedona-blog.md
  mkdocs.yml
Labels: docs, root

#2093 [CI] Add one more GitHub collaborator
  .asf.yaml
Labels: root

#2077 [GH-2074] Add libpostal integration
  .github/workflows/java.yml
  docs/api/sql/Function.md
  python/sedona/spark/sql/st_functions.py
  python/tests/sql/test_dataframe_api.py
  spark/common/pom.xml
  spark/common/src/main/java/org/apache/sedona/core/utils/SedonaConf.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/LibPostalUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/java/org/apache/sedona/core/utils/SedonaConfTest.java
  spark/common/src/test/scala/org/apache/sedona/sql/AddressProcessingFunctionsTest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/GeoStatsSuite.scala
Labels: sedona-python, docs, github-actions, sedona-spark

#2051 [GH-2052] Implement geospatial functions of Distance, Predicates, Projection
  common/src/main/java/org/apache/sedona/common/S2Geography/Accessors.java
  common/src/main/java/org/apache/sedona/common/S2Geography/Distance.java
  common/src/main/java/org/apache/sedona/common/S2Geography/GeographyIndex.java
  common/src/main/java/org/apache/sedona/common/S2Geography/Predicates.java
  common/src/main/java/org/apache/sedona/common/S2Geography/Projection.java
  common/src/test/java/org/apache/sedona/common/S2Geography/DistanceTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/PredicatesTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/ProjectionTest.java
Labels: affect public APIs, sedona-common

#2046 [GH-2045] Geopandas.GeoSeries: Implement fillna
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2058 [GH-2006] Geopandas: set_geometry, rename_geometry, active_geometry_name + refactor tests
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_dataframe.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2101 [GH-2100] Enhance geopandas sjoin implementation
  python/sedona/geopandas/tools/sjoin.py
  python/tests/geopandas/test_sjoin.py
Labels: sedona-python

#2113 [GH-2112] Geopandas.GeoSeries: Implement `to_wkt` and `to_wkb`
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2061 [GH-2060] Geopandas.GeoSeries: Implement crosses, overlaps, touches, within, covers, covered_by, contains, distance
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2119 [DOCS] Enhance GeoPandas classes documentation and organization
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
Labels: sedona-python

#2123 [GH-2122] Fix deserialization of geometry SRID in python
  python/src/geom_buf.c
  python/tests/utils/test_geomserde_speedup.py
Labels: bug, sedona-python

#2121 [GH-2095] Geopandas: Implement Scalable workaround and store as geometries instead of EWKB
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_dataframe.py
  python/tests/geopandas/test_match_geopandas_series.py
  python/tests/geopandas/test_sjoin.py
Labels: sedona-python

#2126 [GH-2125] Fix STAC reader to accept tuples for datetime parameter
  python/sedona/spark/stac/collection_client.py
  python/tests/stac/test_collection_client.py
Labels: bug, sedona-python

#2117 [GH-2116] Geopandas.GeoSeries: Implement `difference` and `dwithin`
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: affect public APIs, sedona-python

#2098 [GH-2085] use graphframes 0.9.0
  pom.xml
  python/tests/sql/test_dataframe_api.py
  python/tests/stats/test_dbscan.py
  python/tests/stats/test_local_outlier_factor.py
  python/tests/test_base.py
  spark/common/pom.xml
  spark/common/src/main/scala/org/apache/sedona/stats/clustering/DBSCAN.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/GeoStatsFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/GeoStatsSuite.scala
Labels: sedona-python, sedona-spark, root

#2135 [GH-2134] Fix bug where get_crs logic won't work if first element is null
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geoseries.py
Labels: bug, sedona-python

#2114 [GH-1742] Add comprehensive VSCode development guide
  docs/community/vscode-development-guide.md
  mkdocs.yml
Labels: docs, root

#2131 [GH-2129] Geopandas: Refactor to use Spark Dataframe API instead of Spark SQL
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2090 [GH-2091] WKB, WKT reader & writer
  common/src/main/java/org/apache/sedona/common/S2Geography/Accessors.java
  common/src/main/java/org/apache/sedona/common/S2Geography/MultiPolygonGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PointGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolygonGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/PolylineGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/S2Geography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/SinglePointGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/SinglePolylineGeography.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKBReader.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKBWriter.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKTReader.java
  common/src/main/java/org/apache/sedona/common/S2Geography/WKTWriter.java
  common/src/test/java/org/apache/sedona/common/S2Geography/TestHelper.java
  common/src/test/java/org/apache/sedona/common/S2Geography/WKBReaderTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/WKBWriterTest.java
  common/src/test/java/org/apache/sedona/common/S2Geography/WKTReadWriterTest.java
Labels: improvement, sedona-common

#2141 [GH-2140] make DataFrameShims usable outside of sedona
  spark/common/src/main/scala-spark-3/org/apache/spark/sql/sedona_sql/DataFrameShims.scala
Labels: improvement, sedona-spark

#2143 [GH-2142] Fix STAC python unit tests for remote endpoint
  python/tests/stac/test_client.py
  python/tests/stac/test_collection_client.py
Labels: bug, sedona-python

#2111 [GH-2110] Geopandas.GeoSeries: Implement simplify and snap
  python/sedona/geopandas/geoseries.py
  python/sedona/spark/sql/st_functions.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
  python/tests/test_base.py
Labels: sedona-python

#2153 [GH-2152] fix: prevent information disclosure through exception messages in STAC client
  python/sedona/spark/stac/collection_client.py
Labels: bug, sedona-python

#2155 [GH-2154] fix: Order by index col in _query_geometry_column
  python/sedona/geopandas/geoseries.py
Labels: bug, sedona-python

#2156 [CI] Create basic CodeQL Analysis file
  .github/workflows/codeql.yml
Labels: github-actions

#2151 [DOCS] Update Discord badge to resolve broken link in README
  README.md
Labels: docs, root

#2160 [CI] Update codeql.yml change branch from `main` to `master`
  .github/workflows/codeql.yml
Labels: github-actions

#2150 [GH-2149] Geopandas: Implement `to_file`, `from_file`, `read_file`
  python/sedona/geopandas/__init__.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/io.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_io.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: sedona-python

#2168 [GH-2174] Security issues in the STAC client api
  python/sedona/spark/stac/collection_client.py
Labels: bug, sedona-python

#2163 [GH-2087] Geopandas: Share geoseries functions in base class to implement them for geodataframe
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/tools/sjoin.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geopandas_base.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_io.py
  python/tests/geopandas/test_sindex.py
Labels: sedona-python

#2172 [CI] pre-commit add hook `check-zip-file-is-not-committed`
  .pre-commit-config.yaml
Labels: root

#2177 [GH-2716] Always use native byte order when writing WKBs
  common/src/main/java/org/apache/sedona/common/utils/GeomUtils.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/main/scala/org/apache/sedona/python/wrapper/translation/CircleSerializer.scala
  spark/common/src/main/scala/org/apache/sedona/python/wrapper/translation/GeometrySerializer.scala
  spark/spark-3.4/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-3.5/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
  spark/spark-4.0/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/GeoParquetWriteSupport.scala
  spark/spark-4.0/src/test/scala/org/apache/sedona/sql/geoparquetIOTests.scala
Labels: attention needed, sedona-common, behavior change, sedona-spark, sedona-snowflake

#2181 [DOCS] README: Add `Star History Chart` and `Contributors Avatars`
  README.md
Labels: docs, root

#2162 [GH-2161] Add constructor tests and re-enable more linear ring tests
  python/tests/geopandas/test_geoseries.py
Labels: sedona-python

#2179 [GH-1755] Implement ST_Segmentize function and geopandas.segmentize()
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  flink/src/main/java/org/apache/sedona/flink/Catalog.java
  flink/src/main/java/org/apache/sedona/flink/expressions/Functions.java
  flink/src/test/java/org/apache/sedona/flink/FunctionTest.java
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geoseries.py
  python/sedona/spark/sql/st_functions.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
  python/tests/sql/test_dataframe_api.py
  python/tests/sql/test_function.py
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFs.java
  snowflake/src/main/java/org/apache/sedona/snowflake/snowsql/UDFsV2.java
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/st_functions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/PreserveSRIDSuite.scala
  spark/common/src/test/scala/org/apache/sedona/sql/dataFrameAPITestScala.scala
  spark/common/src/test/scala/org/apache/sedona/sql/functionTestScala.scala
Labels: sedona-python, docs, sedona-flink, sedona-common, sedona-spark, sedona-snowflake

#2184 [GH-2183] Fix ST_Buffer logic cap_style when specifying 'side' parameter + Implement rest of geoseries.buffer()
  common/src/main/java/org/apache/sedona/common/Functions.java
  common/src/test/java/org/apache/sedona/common/FunctionsTest.java
  docs/api/flink/Function.md
  docs/api/snowflake/vector-data/Function.md
  docs/api/sql/Function.md
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geoseries.py
  python/sedona/spark/sql/st_functions.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_match_geopandas_series.py
Labels: bug, sedona-python, docs, sedona-common

#2193 [GH-2192] Geopandas: Implement `plot()` for GeoDataFrame and GeoSeries + `read_parquet`
  python/sedona/geopandas/__init__.py
  python/sedona/geopandas/base.py
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/sedona/geopandas/io.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
  python/tests/geopandas/test_io.py
Labels: sedona-python

#2191 [DOC] Clean up the Sphinx documentation build warnings and errors
  python/sedona/doc/_static/color-scheme-info.md
  python/sedona/doc/_static/custom.css
  python/sedona/doc/_templates/layout.html
  python/sedona/doc/conf.py
  python/sedona/doc/index.rst
  python/sedona/doc/sedona.rst
  python/sedona/spark/maps/SedonaPyDeck.py
  python/sedona/spark/sql/st_functions.py
  python/sedona/spark/stac/client.py
  python/sedona/spark/stac/collection_client.py
Labels: sedona-python

#2195 [CI] Add Python API Documentation to CI/CD Pipeline
  .github/workflows/docs.yml
Labels: github-actions

#2205 [GH-2204] Fix snowflake tests for ST_Segmentize
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctions.java
  snowflake-tester/src/test/java/org/apache/sedona/snowflake/snowsql/TestFunctionsV2.java
Labels: sedona-snowflake

#2203 [GH-2201] Geopandas: Optimize crs operations, getitem, and set_geometry + impl scalable getitem
  python/sedona/geopandas/geodataframe.py
  python/sedona/geopandas/geoseries.py
  python/tests/geopandas/test_geodataframe.py
  python/tests/geopandas/test_geoseries.py
Labels: sedona-python

#2206 [CI] pre-commit: add hook to check Makefiles are indented with tabs
  .pre-commit-config.yaml
  scripts/pre-commit/check_makefiles_for_tabs.sh
Labels: root

#2190 [GH-2182] Add blacken-docs with pre-commit to run Black on Python code blocks in documentation files
  .pre-commit-config.yaml
  docs/api/sql/Visualization-SedonaKepler.md
  docs/api/sql/Visualization-SedonaPyDeck.md
  docs/api/stats/sql.md
  docs/setup/databricks.md
  docs/setup/fabric.md
  docs/setup/glue.md
  docs/tutorial/concepts/distance-spark.md
  docs/tutorial/flink/pyflink-sql.md
  docs/tutorial/geopandas-shapely.md
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
Labels: docs, root
