Repository apache/sedona, pull requests merged in 2025-02, with the labels that each got.

#1785 [SEDONA-706] Fix Python dataframe api for multi-threaded environment
  .github/workflows/python.yml
  python/sedona/sql/dataframe_api.py
  python/tests/sql/test_dataframe_api.py
Labels: bug, sedona-python, github-actions

#1790 [DOCS] Update PyPI dependency versions in Databricks Setup guide
  docs/setup/databricks.md
Labels: docs

#1780 [SEDONA-703] Introducing the StructuredAdapter class
  docs/tutorial/rdd.md
  docs/tutorial/sql.md
  python/sedona/register/java_libs.py
  python/sedona/utils/adapter.py
  python/sedona/utils/structured_adapter.py
  python/tests/sql/test_structured_adapter.py
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
  spark/common/src/main/scala/org/apache/sedona/sql/utils/Adapter.scala
  spark/common/src/main/scala/org/apache/sedona/stats/Weighting.scala
  spark/common/src/main/scala/org/apache/sedona/stats/clustering/DBSCAN.scala
  spark/common/src/main/scala/org/apache/sedona/stats/outlierDetection/LocalOutlierFactor.scala
  spark/common/src/main/scala/org/apache/sedona/util/DfUtils.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/adapters/StructuredAdapter.scala
  spark/common/src/test/scala/org/apache/sedona/sql/structuredAdapterTestScala.scala
Labels: sedona-python, docs, sedona-spark

#1794 [SEDONA-708] Sedona should use PyArrow to get GeoPandas
  python/sedona/maps/SedonaMapUtils.py
  python/sedona/raster_utils/SedonaUtils.py
Labels: improvement, sedona-python

#1798 [SEDONA-708] Separate Catalog implementation into AbstractCatalog and Catalog
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/AbstractCatalog.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
Labels: improvement, sedona-spark

#1797 [DOCS] Run Python black on Markdown code blocks
  README.md
  docs/api/sql/Raster-visualizer.md
  docs/api/sql/Spider.md
  docs/api/sql/Stac.md
  docs/setup/azure-synapse-analytics.md
  docs/setup/databricks.md
  docs/setup/install-python.md
  docs/setup/release-notes.md
  docs/tutorial/concepts/clustering-algorithms.md
  docs/tutorial/raster.md
Labels: docs, root

#1799 [CI] pre-commit autoupdate; configure `bandit[toml]` dependency
  .pre-commit-config.yaml
Labels: root

#1800 [DOCS] Fix spelling
  spark/common/src/test/scala/org/apache/sedona/sql/ogc/GeometryTypesAndFunctionsTestScala.scala
Labels: sedona-spark

#1801 [CI] pre-commit: standardize and auto add license to R files
  .pre-commit-config.yaml
  R/R/apache.sedona-package.R
  R/R/bounding_box.R
  R/R/data_interface.R
  R/R/dependencies.R
  R/R/imports.R
  R/R/sdf_interface.R
  R/R/spatial_index_op.R
  R/R/spatial_join_op.R
  R/R/spatial_partitioner.R
  R/R/spatial_queries.R
  R/R/spatial_rdd.R
  R/R/viz.R
  R/tests/testthat.R
  R/tests/testthat/helper-initialize.R
  R/tests/testthat/test-apply-spatial-partitioner.R
  R/tests/testthat/test-bounding-box.R
  R/tests/testthat/test-build-index.R
  R/tests/testthat/test-crs-transform.R
  R/tests/testthat/test-data-interface-raster.R
  R/tests/testthat/test-data-interface.R
  R/tests/testthat/test-dbplyr-integration.R
  R/tests/testthat/test-init.R
  R/tests/testthat/test-sdf-interface.R
  R/tests/testthat/test-spatial-join.R
  R/tests/testthat/test-spatial-queries.R
  R/tests/testthat/test-spatial-rdd-aggregation-fns.R
  R/tests/testthat/test-viz.R
Labels: sedona-r, root

#1802 [CI] pre-commit: auto add license headers to `.c` and `.h` files
  .pre-commit-config.yaml
Labels: root

#1803 [CI] Update asf.yml
  .asf.yaml
Labels: root

#1806 [DOCS] Add Pranav Toggi to the Committers list
  docs/community/contributor.md
Labels: docs

#1805 .asf.yaml: remove committer jbampton from collaborators
  .asf.yaml
Labels: root, good first issue

#1808 [DOCS] Improve Makefile by Using requirements-docs.txt for Documentation Dependencies
  Makefile
  requirements-docs.txt
Labels: improvement, python, root

#1807 [CI] pre-commit: auto add license check for Java files
  .pre-commit-config.yaml
Labels: root

#1809 [SEDONA 710] Rename Geostats SQL classes to generic name; merge UdfRegistrator into AbstractCatalog
  spark/common/src/main/scala/org/apache/sedona/spark/SedonaContext.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/AbstractCatalog.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/Catalog.scala
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/UdfRegistrator.scala
  spark/common/src/main/scala/org/apache/sedona/sql/utils/SedonaSQLRegistrator.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/GeoStatsFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/PhysicalFunction.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/ExtractGeoStatsFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/optimization/ExtractPhysicalFunctions.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/plans/logical/EvalPhysicalFunction.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/physical/function/EvalPhysicalFunctionExec.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/strategy/physical/function/EvalPhysicalFunctionStrategy.scala
Labels: sedona-spark

#1810 [SEDONA-710] fix bug in AbstractCatalog referencing Catalog.
  spark/common/src/main/scala/org/apache/sedona/sql/UDF/AbstractCatalog.scala
Labels: sedona-spark

#1804 [DOCS] Fix spelling
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/Functions.scala
Labels: sedona-spark

#1816 [SEDONA-712] add toSpatialRdd method for RDD[InternalRow]
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/adapters/StructuredAdapter.scala
Labels: sedona-spark

#1812 [DOCS] Fix spelling
  docs/setup/azure-synapse-analytics.md
  docs/tutorial/sql.md
  mkdocs.yml
  spark/common/src/main/java/org/apache/sedona/core/spatialPartitioning/GenericUniquePartitioner.java
  spark/common/src/main/java/org/apache/sedona/core/spatialRDD/SpatialRDD.java
Labels: docs, sedona-spark, root

#1814 [DOCS] Add geojson docs
  docs/tutorial/files/geojson-sedona-spark.md
  mkdocs.yml
Labels: docs, root

#1820 [DOCS] Add Matomo to Sedona website
  docs/asf/telemetry.md
  mkdocs.yml
Labels: docs, root

#1822 [DOCS] Correct the document for ST_MakeValid
  docs/api/sql/Function.md
Labels: docs

#1818 [DOCS] add geoparquet docs page
  docs/image/tutorial/files/geoparquet_bbox1.png
  docs/image/tutorial/files/geoparquet_bbox2.png
  docs/tutorial/files/geoparquet-sedona-spark.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs, root

#1824 [DOCS] add docs on csv files
  docs/tutorial/files/csv-geometry-sedona-spark.md
  mkdocs.yml
Labels: docs, root

#1788 [SEDONA-707] Refactor rasterization process and add allTouched parameter for rasterization functions
  common/src/main/java/org/apache/sedona/common/raster/PixelFunctionEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandAccessors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterBandEditors.java
  common/src/main/java/org/apache/sedona/common/raster/RasterConstructors.java
  common/src/main/java/org/apache/sedona/common/raster/Rasterization.java
  common/src/test/java/org/apache/sedona/common/raster/FunctionEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandAccessorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterBandEditorsTest.java
  common/src/test/java/org/apache/sedona/common/raster/RasterConstructorsTest.java
  docs/api/sql/Raster-operators.md
  docs/api/sql/Raster-writer.md
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/PixelFunctionEditors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandAccessors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterBandEditors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterConstructors.scala
  spark/common/src/main/scala/org/apache/spark/sql/sedona_sql/expressions/raster/RasterFunctions.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasterIOTest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/rasteralgebraTest.scala
Labels: bug, improvement, affect public APIs, docs, sedona-common, sedona-spark

#1829 [DOCS] add spatial joins
  docs/image/tutorial/concepts/spatial-join1.png
  docs/image/tutorial/concepts/spatial-join2.png
  docs/image/tutorial/concepts/spatial-join3.png
  docs/image/tutorial/concepts/spatial-join4.png
  docs/image/tutorial/concepts/spatial-join5.png
  docs/image/tutorial/concepts/spatial-join6.png
  docs/image/tutorial/concepts/spatial-join7.png
  docs/tutorial/concepts/spatial-joins.md
  mkdocs.yml
Labels: docs, root

#1832 [SEDONA-716] Change the spark parser order to use delegate parser first
  spark/spark-3.3/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.4/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
  spark/spark-3.5/src/main/scala/org/apache/sedona/sql/parser/SedonaSqlParser.scala
Labels: bug, sedona-spark

#1825 [SEDONA-714] Add geopandas to spark arrow conversion.
  Makefile
  docker/docs/Dockerfile
  docs/tutorial/geopandas-shapely.md
  python/sedona/utils/geoarrow.py
  python/tests/utils/test_arrow_conversion_geopandas_to_sedona.py
Labels: sedona-python, docs, sedona-docker, root

#1823 [SEDONA-713] add OSM PBF reader
  .github/linters/codespell.txt
  .pre-commit-config.yaml
  docs/tutorial/sql.md
  pom.xml
  shade-proto/pom.xml
  spark/common/pom.xml
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/DenseNodeIterator.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/HeaderFinder.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/ParseUtils.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/StartEndStream.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/TruncatedStream.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/build/Fileformat.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/build/Osmformat.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/DenseNodeExtractor.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/RelationExtractor.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/extractors/WaysExtractor.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/features/TagsResolver.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/iterators/BlobData.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/iterators/BlobIterator.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/iterators/PbfIterator.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/iterators/PrimitiveGroupIterator.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/model/OSMEntity.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/model/OsmNode.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/model/Relation.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/model/RelationType.java
  spark/common/src/main/java/org/apache/sedona/sql/datasources/osmpbf/model/Way.java
  spark/common/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/osm/OsmPartitionReader.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/osm/OsmPbfFormat.scala
  spark/common/src/main/scala/org/apache/sedona/sql/datasources/osm/SchemaProvider.scala
  spark/common/src/test/resources/osmpbf/monaco-latest.osm.pbf
  spark/common/src/test/scala/org/apache/sedona/sql/OsmReaderTest.scala
  spark/common/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/GeoPackageReaderTest.scala
  spark/spark-3.3/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/GeoPackageReaderTest.scala
  spark/spark-3.4/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/GeoPackageReaderTest.scala
  spark/spark-3.5/src/test/scala/org/apache/sedona/sql/TestBaseScala.scala
Labels: improvement, docs, github-actions, sedona-spark, root

#1835 [DOCS] add geopackage docs
  docs/tutorial/files/geopackage-sedona-spark.md
  docs/tutorial/sql.md
  mkdocs.yml
Labels: docs, root

#1826 [SEDONA-715] Add apache zeppelin notebook support for the docker image
  .gitignore
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile
  docker/sedona-spark-jupyterlab/sedona-jupyterlab.dockerfile.dockerignore
  docker/sedona-spark-jupyterlab/start.sh
  docker/zeppelin/conf/helium.json
  docker/zeppelin/conf/interpreter.json
  docker/zeppelin/conf/sedona-zeppelin.json
  docker/zeppelin/conf/zeppelin-site.xml
  docker/zeppelin/examples/arealm.csv
  docker/zeppelin/examples/sedona-zeppelin-demo_2KPTK5RSG.zpln
  docker/zeppelin/install-zeppelin.sh
  docs/setup/docker.md
Labels: docs, sedona-docker, root
